body {
  font-family: NANUM GODIC;
  background-color: #f2f4f7;
}

.card {
  width: 900px;
  height: 300px;
  margin: 10px auto 0;
  flex-direction: row;
  margin: 10px auto 0;
}

.card  p {
  font-size: 30px;
  margin-bottom: 30px;
}

.row-control {
  width: 900px;
  height: 500px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.row-control>div {
  width: 50%;
  border-width: initial;
  flex-direction: column;
}

.teacher-manage-left, .teacher-manage-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-left: 0;
  padding: 18px;
}

.left-child1, .left-child2 {
  height: 50%;
  flex-direction: row;
}

.left-child1>div, .left-child2>div {
  width: 460px;
  margin-left: 0;
  padding: 18px;
}

.left-child1>div {
  height: 240px;
}

.left-child2>div {
  height: 200px;
}

.btn-teacher {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-top: 5px;
}

.btn-teacher>button {
  margin: 5px;
  border: 10px;
  max-width: 300px;
  border-radius: 5px;
}

.row-control-right>div {
  width: 420px;
  height: 460px;
  margin-left: 30px;
  padding: 18px;
  flex-direction: column;
}

.teacher-manage-right>div>span {
  position: relative;
  left: auto;
  right: auto;
  font-size: 55px;
  padding-top: 20px;
}

.teacher-manage-right>div {
  padding-top: 40px;
  padding-left: 35px;
}

.progres {
  display: flex;
  flex-direction: row;
}

.progres>div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.progres>span {
  width: 35%;
}

.stack-info {
  text-align: right;
  line-height: 13px;
  color: #a6a6a6;
}

.class-stack {
  margin-bottom: 25px;
}

.stack-content {
  font-size: 30px;
  margin-bottom: 5px;
}
