body {
  background-color: #f2f4f7;
  font-familly: 'Nanum Gothic';
}

.btn {
  font-size: 14px;
}

.card {
  width: 900px;
  height: 220px;
  margin: 10px auto 0;
  flex-direction: row;
  margin: 10px auto 0;
}

.card h5 {
  font-size: 14px;
  margin-bottom: 0px;
}

.card  p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.row-control {
  width: 900px;
  height: 500px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.row-control>div {
  width: 50%;
  border-width: initial;
  flex-direction: column;
}

.teacher-manage-left, .teacher-manage-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-left: 0;
  padding: 18px;
  font-size: 14px;
}

.left-child1, .left-child2 {
  height: 46%;
  flex-direction: row;
}

.left-child1>div, .left-child2>div {
  width: 460px;
  margin-left: 0;
  padding: 18px;
  flex: 1;
}

.left-child1>div {
  height: 220px;
}

.left-child2>div {
  height: 220px;
}

.card-content {
  flex: 1;
}

.btn-teacher {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  border-top: 5px;
}

.btn-teacher>button {
  margin: 5px;
  border: 10px;
  max-width: 300px;
  border-radius: 5px;
}

.btn-move-project-board{
  margin-left:5px;
  width: 200px;
  height: 20px;
  
}

.row-control-right>div {
  width: 420px;
  height: 460px;
  margin-left: 30px;
  padding: 18px;
  flex-direction: column;
}

.teacher-manage-right>div>span {
  position: relative;
  left: auto;
  right: auto;
  font-size: 18px;
  padding-top: 20px;
}

.teacher-manage-right>div {
  
}

.class-info{
  margin-top: 20px; 
}

.progres {
  display: flex;
  flex-direction: row;
}

.progres>div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.progres>span {
  width: 35%;
}
.progress-bar bg-warning progress-bar-striped{
  border-radius: 3px;
}

.stack-info {
  text-align: right;
  line-height: 13px;
  color: #a6a6a6;
  font-size: 12px;
}

.class-stack {
  margin-bottom: 25px;
}

.homework-content, .issue-content {
  font-size: 14px;
}

.stack-content {
  font-size: 14px;
  margin-bottom: 5px;
}

.homework-content, .issue-content {
  text-align: center;
}

.homework-content>button, .issue-content>button {
  width: 300px;
}

.active-list {
  border-bottom: 1px solid #F2F4F7 !important;
}

.course_info {
  display: flex;
}

.btn-group-url{
  display: flex;
  margin-top: 20px;
}

.btn-group-url > div{
  margin: 3px;
}

.btn-group-url > h5 {
  padding: 2px;
}

.homework-title {
  font-weight: bolder;
  font-size: 17px;
}

.homework-content > button {
  margin-top: 10px;
}

