@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.title {
  font-size: 190%;
  margin: 20px;
}

table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}

.tr1 {
  color: black;
}

.tr2 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  width: 8%
}

.tr3 {
  padding-top: 20px;
}

.qsel {
  height: 30px;
  border: 1.5px solid lightgray;
  float: left;
}

.qspan {
  text-align: right;
  float: right;
  margin: 10px;
  padding-bottom: 10px;
}

.seaimg {
  width: 3.5%;
  height: auto;
  margin-left: 1%;
  text-align: right;
}

.td1 {
  border-bottom: 1.5px solid lightgray;
}

.td2 {
  width: 2.6%;
  font-size: 70%;
}

.td3 {
  width: 15%;
}

.td4 {
  width: 70%;
}

.td5 {
  width: 55%;
  color: #0b228e;
  cursor: pointer;
}

.td6 {
  
}

.td5:hover {
  color: #20cdff;
}

.tag-name span {
  border-radius: 5px;
  color: white;
  padding: 3px;
  font-size: 70%;
}

#c1 {
  background-color: green;
}

#c2 {
  background-color: #9c88ff; /* 보라색 */
}

#c3 {
  background-color: #487eb0; /* 하늘색 */
}

#c4 {
  background-color: #fbc531; /* 노란색 */
}

#c5 {
  background-color: #e84118; /* 빨간색 */
}

#c6 {
  background-color: #353b48 /* 어두운파란 */
}

#c7 {
  background-color: pink;
}

.btnalign {
  text-align: right;
}

.btnpa {
  padding: 20px;
}

.btn.btn-primary.paging {
  background-color: white !important;
  color: #EA8A02 !important;
  border: 2px #EA8A02 solid !important;
  font-weight: bold;
}

.align{
  margin-left:45%;
  margin-top:18px;
  margin-bottom: 20px;
}

.writeBtnAlign{
  text-align: right;
}