<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet"
  th:href="@{/css/myclass/general/generalWrite.css}" />
<link
  href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css"
  rel="stylesheet" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <form method="POST" enctype="multipart/form-data">
      <div id="write-form-wrapper">
        <input type="hidden" name="board_id" th:value="${board.id}">
        <input type="text" id="input-title" placeholder="제목"
          name="title" th:value="'[Re]'+${article.title}" />
        <div class="input-file">
          <span> <i class="fas fa-paperclip"></i> <input
            type="file" id="input-file-btn" name="file1"
            class="file-btn">
          </span> <span> <i class="fas fa-paperclip"></i> <input
            type="file" id="input-file-btn2" name="file2"
            class="file-btn2">
          </span>
        </div>
        <textarea class="summernote-parent" name="content"
          id="summernote" th:field="*{article.content}">
          </textarea>
          <input type="hidden" th:value="${article.id}" name="original_id">
          <input type="hidden" th:value="${article.level}" name="level">
        <button type="submit" class="btn btn-primary" id="submit-button">
          올리기</button>
      </div>
    </form>
  </div>
  <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
  <script
    src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script>
      $(document).ready(function() {
        const title = $("#input-title");
        const submitBtn = $("#submit-button");
        $("#summernote").summernote({
          height : 485,
          disableResizeEditor : true
        });
        $("#submit-button").click(function() {
          Swal.fire({
            type : 'success',
            title : '글작성이 완료되었습니다',
            showConfirmButton : false,
            timer : 1500
          });
        });
      });
    </script>
</body>
</html>
