.wrapper {
  width: 100%;
  margin: auto;
}

.page-top {
  display: flex;
  width: 80%;
  margin: 20px auto 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c6c6;
}

.page-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
}

#column {
  width: 80%;
  margin: auto;
  column-width: 200px;
  padding-left: 20px;
  position: relative;
}

.scrap-card {
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  margin: 0 2px 15px;
  width: 200px;
  padding: 10px 20px;
  transition: 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scrap-card:hover {
  border: 1px solid #F29C20;
  cursor: pointer;
}

#column:hover .scrap-card:not(:hover) {
  opacity: 0.6;
}

.scrap-title {
  font-size: 15px;
  font-weight: bold;
  color: #292929;
}

.scrap-content {
  margin: 0;
  font-size: 14px;
  color: #a6a6a6;
  padding-top: 5px;
  border-top: 1px solid #a6a6a6;
}

.scrap-content * {
  all: unset;
  color: #a6a6a6 !important;
}

#search {
  padding: 3px 10px;
  border-radius: 3px 0 0 3px;
  border-right: 0;
  font-size: 14px;
}

#search::placeholder {
  font-size: 14px;
}

#search-btn {
  border-radius: 0 3px 3px 0;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.no-result {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 15px;
  font-weight: bold;
}