<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/stack/content.css}" />
</head>
<body onload="InitializeStaticMenu();">
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="title">
      <h3>
        <b>스택게시판</b>
      </h3>
    </div>
    <!-- 게시물컨텐트 -->
    <hr>
    <table>
      <tr>
        <td colspan="4">
          <span class="tag-name">
          <span id="c1">Spring</span>
          <span id="c2">Java</span>
          <span id="c3">C++</span>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="tdtitle">
        <span th:text="${stackcontent.title}"></span>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="tdcontent">
          <p>
            <span th:utext="${stackcontent.content}">
            </span>
          </p>
        </td>
        <td class="td3" rowspan="2">
          <div><!--  style="position: fixed; top: 80px;" -->
            <div id="sidebox">
              <img th:src="@{/css/stack/like.png}" id="imgp2"><br>
              0<br> <img th:src="@{/css/stack/unlike.png}" id="imgp2">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td5">
        <img th:src="@{/css/stack/profile.jpg}"
          class="imgp">
          </td>
        <td colspan="2" class="td4">
          <p class="pwriter">dossi</p>
          <p class="pfont">게시일:2019.01.28</p>
          <p class="pfont">41view</p>
        </td>
      </tr>
    </table>
    <!-- 댓글창 -->
    <table>
      <tr>
        <td class="comtitle" colspan="4">총 [4]개의 답변</td>
      </tr>
      <tr>
        <td class="ctd1">
          <form th:action="@{/}" method="post" colspan="3">
            <textarea name="comment" class="comtext"></textarea>
            <br> <input type="submit"
              class="btn btn-primary btnalign" value="등록">
          </form>
        </td>
        <td class="ctd2"></td>
      </tr>
    </table>

  </div>

  <script src="/js/stack/content.js">
      
    </script>
</body>
</html>







