<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/stack/content.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="title">
      <h3>
        <b>스택게시판</b>
      </h3>
    </div>
    <!-- 게시물컨텐트 -->
    <hr>
    <table>
      <tr>
        <td colspan="4"><span class="tag-name"> <span
            id="c1">Spring</span> <span id="c2">Java</span> <span
            id="c3">C++</span>
        </span></td>
      </tr>
      <tr>
        <td colspan="4" class="tdtitle"><span
          th:text="${stackcontent.title}"></span></td>
      </tr>
      <tr>
        <td colspan="3" class="tdcontent">
          <p>
            <span th:utext="${stackcontent.content}"> </span>
          </p>
        </td>
        <td class="td3" rowspan="2">
          <div>
            <div id="floatMenu">
              <img th:src="@{/css/stack/like.png}" id="imgp2"><br>
              &nbsp;<span th:text="${stackcontent.vote_count}"></span>
              <br> <img th:src="@{/css/stack/unlike.png}"
                id="imgp2">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td5"><img th:src="@{/css/stack/profile.jpg}"
          class="imgp"></td>
        <td colspan="2" class="td4">
          <p class="pwriter"><span th:text="${stackcontent.writer.username}"></span></p>
          <p class="pfont">게시일:<span th:text="${stackcontent.updated_time}"></span></p>
          <p class="pfont"><span th:text="${stackcontent.view_count}"></span>view</p>
        </td>
      </tr>
    </table>
    <!-- 댓글insert -->
    <table>
      <tr>
        <td class="comtitle" colspan="4">총 [<span th:text="${stackcontent.commentlist.size()}"></span>]개의 답변</td>
      </tr>
      <tr>
        <td class="ctd1" colspan="3">
          <form th:action="@{/stack/commentwrite(id=${stackcontent.id})}" method="post">
            <textarea name="content" class="comtext"></textarea>
            <br> <input type="submit"
              class="btn btn-primary btnalign" value="등록">
          </form>
        </td>
        <td class="ctd2"></td>
      </tr>
    </table>
    <!-- 댓글목록 -->
    <table class="iteration" th:if="${stackcontent.commentlist.size()==0}">
    <tr><td>질문에 대한 답변을 달아주세요!</td></tr>
    </table>
    <table th:unless="${stackcontent.commentlist.size()==0}" class="iteration" th:each="list : ${stackcontent.commentlist}">
    <tr>
    <td class="td3"><img th:src="@{/css/stack/profile2.png}" class="profileImg"></td>
    <td>
    [[${list.username}]]</span>
    <a th:href="@{/stack/commentdelete(id=${list.id})}">[삭제]</a><br>
    <span class="commentCalender">[[${list.updated_time}]]</span></td>
    <td class="td7"></td>
    </tr>
    <tr>
    <td colspan="2" class="td6">[[${list.content}]]</span></td>
    <td></td>
    </tr>
    </table>

  </div>
<script src="/js/stack/content.js"></script>
<script src="jquery-3.4.1.min.js"></script>
</body>
</html>







