<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/stack/home.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="tableWrapper">
      <div class="TopNav">
        <div class="title">스택게시판</div>
        <div class="TagBtn">
          <button
           class="btn btn-outline-primary plusTag"
           th:if="${user.role == 'TEACHER' or user.role == 'MANAGER'}"
           >태그 관리</button>
        </div>
      </div>
      <!-- 검색창 -->
      <table>
        <tr>
          <td class="navBar">
            <form method="get">
              <select size="1" class="selectBar" name="criteria">
                <option value="titleOrContent" selected>제목 + 내용</option>
                <option value="title">제목</option>
                <option value="name">글작성자</option>
              </select> <input type="text" name="boardSearch" id="boardSearch"
                size="25" placeholder="검색내용을 적어주세요" /> <input
                type="submit" class="btn btn-primary searchBtn"
                value="검색" />
            </form>
          </td>
          <td class="writeBtn">
            <div class="write-btns">
              <a th:href="@{/stack/write}" class="btn btn-primary">글쓰기</a>
            </div>
          </td>
        </tr>
      </table>

      <!-- 스택글목록 -->
      <table class="iteration" th:each="list : ${stacklist}">
        <tbody>
          <tr
            th:onclick="'window.location.href = \'' + @{/stack/content(id=${list.id})} + '\''">
            <td class="td1"><span class="tdst"> <span
                th:text="${list.votenum}"></span> <br />
            </span> <span class="td2">Like</span><br /> <span class="tdst">
                <span th:text="${list.commentlist.size()}"></span> <br />
            </span> <span class="td2">Answer</span></td>
            <td colspan="2">
              <p class="tdtitle">
                <span class="article-title" th:text="${list.title}"></span>
                <span th:unless="${list.option.adopted_answer}==0"
                  class="titleanswer"> 완료 <i
                  class="far fa-check-circle"></i>
                </span>
              </p>
              <div class="tdcontent">
                <th:block th:utext="${list.content}" />
              </div>
            </td>
          </tr>
          <tr>
            <td class="td5"><b><span
                th:text="${list.view_count}"></span></b>view</td>
            <td class="td3"><span class="tag-name iteration"
              th:each="tag : ${list.tags}"> <span
                th:style="'background-color:'+@{${tag.color}}+';'"
                th:onclick="'window.location.href = \'' + @{/stack?criteria=Tag(boardSearch=${tag.tag})} + '\''">
                  [[${tag.tag}]] </span>
            </span></td>
            <td class="td4"><img
              th:if="${list.writer.profile_photo}!=null"
              th:src="@{${list.writer.profile_photo}}" id="profileimg" />
              <!--               <img
                th:src="@{/css/stack/profile2.png}" id="profileimg"/> -->
              <span class="writerWrapper"> <span
                th:text="${list.writer.name}" class="writer-name"></span>
                <span
                th:text="${#temporals.format(list.timeLocal, 'yyyy-MM-dd')}"
                class="write-date"></span>
            </span></td>
          </tr>
          <tr>
            <td colspan="3" class="tableBorder">
              <hr />
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 페이지 버튼 -->
      <div class="row">
        <div class="page-btns">
          <span th:if="${pager.prev}"> <a
            class="btn btn-primary paging"
            th:href="@{/myclass/homework(page=${pager.startPage}-1)}">
              &laquo; </a>
          </span> <span
            th:each="idx, iterStat : ${#numbers.sequence(pager.startPage,pager.endPage)}">
            <a th:if="${boardSearch} != null"
            class="btn btn-primary paging"
            th:href="@{/stack(page=${idx},boardSearch=${boardSearch})}"
            th:classappend="${pager.currentPage} == ${idx} ? active"
            th:text="${idx}"></a> <a th:if="${boardSearch} == null"
            class="btn btn-primary paging"
            th:href="@{/stack(page=${idx})}"
            th:classappend="${pager.currentPage} == ${idx} ? active"
            th:text="${idx}"></a>
          </span> <span th:if="${pager.next} and ${pager.endPage > 0}">
            <a class="btn btn-primary paging"
            th:href="@{/myclass/homework(page=${pager.endPage}+1)}">
              &raquo; </a>
          </span>
        </div>
      </div>
    </div>

    <!-- 모달이 시작 -->
    <div class="modal" tabindex="-1" role="dialog" 
         >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalSize">
          <div class="modal-body">
            <div class="tag-body">
                <input type="text" 
                placeholder="태그이름을 입력하세요"
                  class="tag-text"
                  id="Tag-Name"
                  > 
                  <input type="color"
                  class="color-style" 
                  value="#ffbaed"
                  id="Tag-Color"
                  >
                <button 
                type="submit"
                 id="Plus-Tag"
                  class="btn btn-outline-primary tag-plus-btn">추가</button>
            </div>
            <div class="tag-list" ss-container>
              <div class="tag-nav">
                <div class="tagName NameStyle">태그 이름</div>
                <div class="tagColorNav">태그 색상</div>
              </div>
              
              <div class="tag-content" th:each="tags : ${tags}">
                <div class="tagName">[[${tags.tag}]]</div>
                <div class="tagColor">
                  <input type="color" class="color-style2"
                    th:value="${tags.color}" disabled>
                  <div class="tagcolorspan">[[${tags.color}]]</div>
                </div> 
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary submitMessage"
            data-dismiss="modal"
            >완료</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 모달이 끝 -->


  </div>
  <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
  <script th:inline="javascript">
      $(".plusTag").click(function() {
        $(".modal").modal("show");
      });
      
      $("#Plus-Tag").click(function(){
        
        console.log("왜안돼");
        const TagName = $("#Tag-Name").val();
        const TagColor = $("#Tag-Color").val();
        const formData = new FormData();
        formData.append("tag",TagName);
        formData.append("color",TagColor);

    		$.ajax({
    		  
    		  url: "/stack/plusTag",
    		  type: "POST",
    		  data:formData,
    		  contentType: false,
    		  processData: false,
    		  success: function(data) {
    		    $("#Tag-Name").empty();
    		    $(".tag-content").remove();
    		    
    		    $.each(data, function(index, item) {
    		      const colorv = item.color;
    		      const tagv = item.tag;
    		      
    		      let html = "<div class='tag-content'><div class='tagName'>"+tagv+"</div>" +
    		      "<div class='tagColor'><input type='color' class='color-style2'"+
    		      "value='"+colorv+"' disabled>"+
    		      "<div class='tagcolorspan'>"+colorv+"</div></div> </div>"
    		      
    		      $(".ss-content").append(html);
    		      
    		    })
    		    
    		    
    		  }

    		});
        

      });

   
    </script>

</body>
</html>
