<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/stack/content.css}" />
</head>
<body onload="InitializeStaticMenu();">
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="title">
      <h3>
        <b>스택게시판</b>
      </h3>
    </div>
    <!-- 게시물컨텐트 -->
    <hr>
    <table>
      <tr>
        <td colspan="4">
          <span class="tag-name">
          <span id="c1">Spring</span>
          <span id="c2">Java</span>
          <span id="c3">C++</span>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="tdtitle">Lovememore.</td>
      </tr>
      <tr>
        <td colspan="3" class="tdcontent">
          <p>
            나의 밤이 또 가기 전에<br>내게 말을 걸어줘<br>이 머문 손길에<br> 제
            나를 가득 담고서<br> <br>너의 밤이 어떤 의미를<br>갖는지도 내게 말해줘<br>그
            말의 무게를<br>내가 느낄 수가 있도록<br> <br>더 나를 많이 또 바라
            봐줘<br>내일이 되면 다 잊어도<br>날 니 품 안에<br>가득 안아줘 나를
            사랑해줘<br>너의 날 보다<br> <br>이제 우리 또 다시 너의 기억들을
            두고서<br>이 밤에 손 끝에<br>지난 생각들을 지우고<br> <br>어떤
            맘이 또 너를<br>괴롭히는 지도 말해줘<br>새까만 밤 속에<br>우릴 덮을
            수가 있도록<br> <br> 더 나를 많이 또 바라 봐줘<br>내일이 되면 다
            잊어도<br>날 니 품 안에 가득 안아줘<br>나를 사랑해줘 너의 날 보다
          </p>
        </td>
        <td class="td3" rowspan="2">
          <div style="position: relative; top: -330px;">
            <div id="sidebox">
              <img src="/css/stack/like.png" id="imgp2"><br>
              0<br> <img src="/css/stack/unlike.png" id="imgp2">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td5"><img src="/css/stack/profile.jpg"
          class="imgp"></td>
        <td colspan="2" class="td4">
          <p class="pwriter">dossi</p>
          <p class="pfont">게시일:2019.01.28</p>
          <p class="pfont">41view</p>
        </td>
      </tr>
    </table>
    <!-- 댓글창 -->
    <table>
      <tr>
        <td class="comtitle" colspan="4">총 [4]개의 답변</td>
      </tr>
      <tr>
        <td class="ctd1">
          <form th:action="@{/}" method="post" colspan="3">
            <textarea name="comment" class="comtext"></textarea>
            <br> <input type="submit"
              class="btn btn-primary btnalign" value="등록">
          </form>
        </td>
        <td class="ctd2"></td>
      </tr>
    </table>

  </div>

  <script src="/js/stack/content.js">
      
    </script>
</body>
</html>







