<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/mypage/mypage.css}" />
  </head>
  <body>
    <div class="main" th:fragment="main">
        <div class="main-title"><h4>프로필 수정</h4></div>
    <div class="main-container">
        <div class="mypageIdForm-sub">  
        <span class="mypagePhoto">프로필 사진</span>
    	<span class="mypageId">아이디</span>
        <span class="mypagePwd">비밀번호</span>
        <span class="mypageName">이름</span>
        <span class="mypageEmail">이메일</span>
        </div>
      
      <div class="mypageContentForm" th:object="${user}">
      <form method="post">
          <div class="photo-parent">
          <div class="photo-icon"><i class="fas fa-user-circle fa-lg fa-5x"></i></div>
          <div><input type="file" value="사진변경" id="photoBtn"></div>
          </div>
          <!-- <div class="photo-file"><input type="text" name="profile_photo" th:value="*{profile_photo}" placeholder="프로필 사진"></div> -->
          <div><input type="text" class="mypage-name" name="username" th:value="*{username}" readonly>
          <span class="idCheck"><i class="fas fa-shield-alt"></i> 아이디는 못바꾼다 이거야</span>
          </div>
          
          <div><input type="password" name="password" placeholder="비밀번호는 영문자,숫자,특수문자 조합을 입력해야 합니다" maxlength="16" id="mypage-password">
          <span class="hidden" id="pwdCheck" name="pwdCheck"></span>
          </div>
          <div><input type="text" name="name" th:value="*{name}" placeholder="이름을 입력해주세요" id="mypage-name" maxlength="6"></div>
          <div><input type="text" name="email" th:value="*{email}" placeholder="이메일을 입력해주세요" id="mypage-email">
          <span class="hidden" id="emailCheck" name="emailCheck"></span>
          </div>
          <div class="submit-btn">
          <input class="btn btn-primary updateBtn" type="submit" value="수정">
          </div>
        </form>
      
      </div>
    
    
    </div>
    
    
    
    
    
    
    </div>
    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script th:inline="javascript">
	
  $(".updateBtn").click(function() {
   	
   
  });
     
  $("#mypage-password").keyup(function() {
    var userPassword = $("#mypage-password").val(); 
    var regex = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
  if(userPassword.length<8 || !userPassword.match(regex)) {
    $("#pwdCheck").html("<i class='fas fa-exclamation-triangle'></i>비밀번호 형식이 틀립니다");
    $("#pwdCheck").css("color", "red");
  } else {
    $("#pwdCheck").html("<i class='fas fa-shield-alt'></i>비밀번호 형식이 맞습니다");
    $("#pwdCheck").css("color", "blue");
  }
    
  });
  
  $("#mypage-email").keyup(function() {
    var regExp = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[@]{1}[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{1,5}$/;
    var emailVal = $("#mypage-email").val();
    
    if(emailVal.match(regExp) === null) {
      $("#emailCheck").html("<i class='fas fa-exclamation-triangle'></i>이메일 형식이 올바르지 않습니다");
      $("#emailCheck").css("color", "red");
	  } else {
	    $("#emailCheck").html("<i class='fas fa-shield-alt'></i>이메일 형식이 맞습니다");
	    $("#emailCheck").css("color", "blue");
	  }
  });

  	
  
  
    </script>
  </body>
</html>
