.calendar-color {
  display: flex;
  margin-top: 10px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.color:active {
  transform: scale(0.95);
}

.red {
  background-color: #FF3B30;
}

.orange {
  background-color: #FF9500;
}

.coral {
  background-color: #FF6F61;
}

.green {
  background-color: #0F7F00;
}

.blue {
  background-color: #5AC8FA;
}

.indigo {
  background-color: #0579FF;
}

.purple {
  background-color: #5856D6;
}

.active {
  border-color: black;
}

.schedule-form {
  padding: 10px 30px;
}

.schedule-form label {
  font-size: 15px;
  margin-right: 10px;
}

.schedule-form input {
  margin-top: 10px;
  height: 25px;
  font-size: 14px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  width: 70%;
}

.active-color {
  border: 3px solid #292929;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 27px;
  margin-top: 10px;
}
