@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
  background-color: #F2F4F7;
}

.barTitle {
  margin-top: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.barTitle h5 {
  font-size: 17px;
  font-weight: 600;
}

.title {
  font-size: 190%;
  margin: 20px;
}

.moreRow {
  display: flex;
}

.moreLotation {
  margin-left: auto;
}

.myclassWrapper {
  margin-top: 2%;
}

.processBar {
  display: flex;
  margin: 0 0 10px auto;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
  width: 500px;
  height: 206.8px;
  padding: 20px;
  padding-top: 30px;
}

.recentHomework {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
  height: 46.5%;
  margin-bottom: 2.7%;
  padding: 10 0 0 20;
  padding: 15px;
}

.recentHomeworkcontent {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recentProjectcontent {
  font-size: 14px;
}

.recentProject {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
  height: 46.5%;
  padding: 15px;
}

.recentBoard {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto 10px 10px;
}

.myclassBoard {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  margin: 0 auto 10px;
  width: 910px;
  padding: 20px;
}

.cardshadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
}

.barDate {
  color: gray;
  font-size: 14px;
}

.progres {
  display: flex;
  flex-direction: row;
  width: 80%
}

.progres>span {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.progressview {
  font-size: 14px;
}

#class-recent article tr:hover {
  cursor: pointer;
  background-color: gray;
}

#class-recent-article th {
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: 15px;
}

#class-recent-article td {
  font-size: 14px;
  padding: 5px 5px;
  text-align: center;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CalendarCard {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  margin: 0 auto 20px;
  width: 910px;
  padding: 20px;
  background-color: white;
}

.fc-toolbar h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 3px;
}

.fc-day-header span {
  font-size: 14px;
}

.fc-day-number {
  font-size: 14px;
}
