<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="sidebar-main col-side sticky-top" th:fragment="sidebar">
      <div class="logo">
        <a href="/">
          <img
            th:src="@{/resources/images/blog.png}"
            src="blog.png"
            alt="로고"
          />
        </a>
      </div>
      <div class="user-info" th:object="${user}">
        <div class="user-profile">
          <a href="/myinfo/profile">
            <img th:if="*{profile_photo}==null" class="user-photo" id="icon" th:src="@{/resources/images/default.png}" alt="프로필 사진"> 
            <img th:if="${user.profile_photo}!=null"
              class="user-photo"
              th:src="@{${user.profile_photo}}"
              alt="프로필 사진"
            /><!-- th:src="*{profile_photo}"-->
          </a>
          <p class="user-name" th:text="*{name}">정성윤</p>
        </div>
        <div class="user-info-btn">
          <a class="btn btn-primary btn-sm" th:href="@{/mypage/home}" role="button">
            내 정보
          </a>
          <form method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-primary btn-sm">
              로그아웃
            </button>
          </form>
        </div>
      </div>
      <div class="side-nav">
        <div class="nav-menu" sec:authorize="!hasRole('MANAGER')">
          <a th:href="@{/myclass}">
            <div class="nav-icon">
              <i class="fas fa-book fa-2x"></i>
            </div>
            <span class="menu-name">우리 반</span>
          </a>
        </div>
        <div class="nav-menu">
          <a href="/stack">
            <div class="nav-icon">
              <i class="far fa-question-circle fa-2x"></i>
            </div>
            <span class="menu-name">스택</span>
          </a>
        </div>
        <div class="nav-menu">
          <a href="/video">
            <div class="nav-icon">
              <i class="fas fa-video fa-2x"></i>
            </div>
            <span class="menu-name">동영상</span>
          </a>
        </div>
        <div class="nav-menu" sec:authorize="hasRole('TEACHER')">
          <a>
            <div class="nav-icon">
              <i class="fas fa-database fa-2x"></i>
            </div>
            <span class="menu-name">강의 자료</span>
          </a>
        </div>

        <div class="nav-menu" sec:authorize="hasRole('MANAGER')">
          <a href="/manage/course">
            <div class="nav-icon">
              <i class="fas fa-tasks fa-2x"></i>
            </div>
            <span class="menu-name">학원 관리</span>
          </a>   
        </div>
     
      </div>
    </div>
  </body>
</html>
