<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="sidebar col-side sticky-top" th:fragment="sidebar">
      <div class="side-navbar">
        <div class="logo">
          <a href="/">
            <img
              th:src="@{/resources/images/blog.png}"
              src="blog.png"
              alt="로고"
            />
          </a>
        </div>
        <div class="user-info" th:object="${user}">
          <div class="user-profile">
            <a href="/myinfo/profile">
            <img th:if="*{profile_photo}==null" class="user-photo" id="icon" th:src="@{/resources/images/default.png}" alt="프로필 사진"> 
            <img th:if="${user.profile_photo}!=null"
              class="user-photo"
              th:src="@{${user.profile_photo}}"
              alt="프로필 사진"
            /><!-- th:src="*{profile_photo}"-->
            </a>
          </div>
        </div>
        <div class="side-nav">
          <div class="nav-menu" sec:authorize="!hasRole('MANAGER')">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'myclass')} ? 'active-menu'" class="nav-icon">
	        <a th:href="@{/myclass}">
              <i class="fas fa-book fa-2x"></i>
    	    </a>
            </div>
          </div>
          
          <div class="nav-menu">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'stack')} ? 'active-menu'" class="nav-icon" >
             <a th:href="@{/stack}">
            
              <i class="far fa-question-circle fa-2x"></i>
             </a>
            </div>
          </div>
          <div class="nav-menu">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'video')} ? 'active-menu'" class="nav-icon">
             <a th:href="@{/video}">
              <i class="fas fa-video fa-2x"></i>
             </a>
            </div>
          </div>
          <div class="nav-menu" sec:authorize="hasRole('TEACHER')">
            <div class="nav-icon">
              <i class="fas fa-database fa-2x"></i>
            </div>
          </div>
          <div class="nav-menu" sec:authorize="hasRole('MANAGER')">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'manage')} ? 'active-menu'" class="nav-icon">
              <a th:href="@{/manage/course}">
              <i class="fas fa-tasks fa-2x"></i>
             </a>
            </div>
          </div>
        </div>
      </div>
	
      <div th:if="${#strings.contains(#request.getRequestURI(),'myclass')}" class="side-nav-menu">
        <!-- 프로젝트 게시판 -->
        <a th:href="@{/myclass}">메인 페이지</a>
        <a href="#project" data-toggle="collapse" th:if="${projects.size() != 0}">프로젝트 게시판</a>
        <div id="project" class="collapse" th:if="${projects.size() != 0}">
          <a th:href="@{/myclass/project(group_id=${project.id})}" th:each="project : ${projects}" th:text="'- ' + ${project.project_name}"></a>
        </div>
        <th:block th:each="board : ${boardList}">
          <a th:if="${board.boardtype == 3}" th:href="@{/myclass/board(board_id=${board.id})}" th:text="${board.board_name}"></a>
          <a th:if="${board.boardtype == 4}" th:href="@{/myclass/homework}" th:text="${board.board_name}"></a>
          <a th:if="${board.boardtype == 5}" th:href="@{/myclass/qna}" th:text="${board.board_name}"></a>
        </th:block>
        <a th:href="@{/myclass/setting}" sec:authorize="hasRole('TEACHER')">우리 반 관리</a> 
      </div>
      <div th:if="${#strings.contains(#request.getRequestURI(),'stack')}" class="side-nav-menu">
        <a th:href="@{/stack}">스택 게시판</a>
        
      </div>
      <div th:if="${#strings.contains(#request.getRequestURI(),'video')}" class="side-nav-menu"> 
        <a th:href="@{/video}">비디오 게시판</a>
        
      </div>
      <div th:if="${#strings.contains(#request.getRequestURI(),'manage')}" class="side-nav-menu">
        <a th:href="@{/manage/course}">수업 관리</a>
        <a th:href="@{/manage/students}">학생 관리</a>
      </div>
    </div>
  </body>
</html>
