<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="sidebar col-side sticky-top" th:fragment="sidebar">
      <div class="side-navbar">
        <div class="logo">
          <a href="/">
            <img
              th:src="@{/resources/images/blog.png}"
              src="blog.png"
              alt="로고"
            />
          </a>
        </div>
        <div class="user-info" th:object="${user}">
          <div class="user-profile">
            <a href="/myinfo/profile">
              <img
                class="user-photo"
                src="https://via.placeholder.com/64"
                alt="프로필 사진"
              /><!-- th:src="*{profile_photo}"-->
            </a>
          </div>
        </div>
        <div class="side-nav">
          <div class="nav-menu">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'myclass')} ? 'active-menu'" class="nav-icon">
	        <a th:href="@{/myclass/project}">
              <i class="fas fa-book fa-2x"></i>
    	    </a>
            </div>
          </div>
          
          <div class="nav-menu">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'stack')} ? 'active-menu'" class="nav-icon" >
             <a th:href="@{/stack/home}">
            
              <i class="far fa-question-circle fa-2x"></i>
             </a>
            </div>
          </div>
          <div class="nav-menu">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'video')} ? 'active-menu'" class="nav-icon">
             <a th:href="@{/video/home}">
              <i class="fas fa-video fa-2x"></i>
             </a>
            </div>
          </div>
          <div class="nav-menu" sec:authorize="hasRole('TEACHER')">
            <div class="nav-icon">
              <i class="fas fa-database fa-2x"></i>
            </div>
          </div>
          <div class="nav-menu" sec:authorize="hasRole('MANAGER')">
            <div th:classappend="${#strings.contains(#request.getRequestURI(),'manage')} ? 'active-menu'" class="nav-icon">
              <a th:href="@{/manage/home}">
              <i class="fas fa-tasks fa-2x"></i>
             </a>
            </div>
          </div>
        </div>
      </div>
	
      <div th:if="${#strings.contains(#request.getRequestURI(),'myclass')}" class="side-nav-menu">
        <!-- 프로젝트 게시판 -->
        <a href="#project" data-toggle="collapse" th:if="${projects.size() != 0}">프로젝트 게시판</a>
        <div id="project" class="collapse" th:if="${projects.size() != 0}">
          <a href="#" th:each="project : ${projects}" th:text="'-' + ${project.project_name}"></a>
        </div>
        <a href="#" th:each="board : ${boardList}" th:text="${board.board_name}"></a>
        <a th:href="@{/myclass/create}" sec:authorize="hasRole('TEACHER')">프로젝트 생성</a> 
        <a th:href="@{/myclass/main/home}">메인 페이지</a>
      </div>
      <div th:if="${#strings.contains(#request.getRequestURI(),'stack')}" class="side-nav-menu">
        <a href="#">스택!!! 게시판</a>
        
      </div>
      <div th:if="${#strings.contains(#request.getRequestURI(),'video')}" class="side-nav-menu"> 
        <a href="#">비디오!!! 게시판</a>
        
      </div>
      <div th:if="${#strings.contains(#request.getRequestURI(),'manage')}" class="side-nav-menu">
        <a th:href="@{/manage/home}">매니지!!! 게시판</a>
        <a th:href="@{/manage/students}">학생관리 게시판</a>
      </div>
    </div>
  </body>
</html>
