<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      class="top-nav align-items-center justify-content-end sticky-top"
      th:fragment="topnav"
    >
      <div class="message">
        <a href="../message.html" th:href="@{/message}">
          <i class="fas fa-envelope fa-lg"></i>
        </a>
        <span class="count message-count" th:text="${unreadMessage}" th:if="${unreadMessage} > 0">24</span>
      </div>
      <a href="../mypage.html" th:href="@{/mypage}">
        <i class="fas fa-user fa-lg"></i>
      </a>
      <div class="notification">
        <a data-toggle="popover" data-placement="bottom"
          ><i class="fas fa-bell fa-lg"></i
        ></a>
        <span class="count noti-count" th:text="${unreadNotice}" th:if="${unreadNotice} > 0">5</span>
      </div>
      <form th:action="@{/logout}" method="post">
        <button type="submit">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </button>
      </form>
      <div id="notices">
        <div class="notice">
          <h6>체크리스트</h6>
          <p>DAO 완성하기</p>
        </div>
        <div class="notice">
          <h6>댓글 달림</h6>
          <p>"아니 그걸 그렇게 말하시나"</p>
        </div>
      </div>
    </div>
  </body>
</html>
