<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/video/detail.css}" />
  </head>
  <body>
    <div class="main" th:fragment="main">
      <div id="detailWrapper">
        <div id="detailHead">
          <span id="detailTitle" th:text="${article.title}">[생활코딩] HTML5 기초강좌</span>
          <div id="detailViewCount">
            <span th:text="${article.writer.name}">매니저</span> |
             
            <span th:text="${#temporals.format(article.timeLocal, 'yyyy-MM-dd')}"></span>
            | 
            조회수 <span id="point" th:text="${article.view_count}">43</span> | 
            댓글 <span id="point" th:text="${article.commentlist.size()}">2</span>
          </div>
        </div>
        <div id="detailContent">
          <div id="videoWrapper">
            <iframe
              src="https://youtube.com/embed/tZooW6PritE"
              th:src="'https://youtube.com/embed/' + ${article.option.video_id}"
              id="video"
            ></iframe>
          </div>
          <div id="detailContentText" th:utext="${article.content}"></div>
          <div id="voteButtonWrapper">
          	<button class="btn btn-primary btn-sm" id="voteButton">
          	<i class="fas fa-thumbs-up" id="thumbIcon" th:classappend="${voteStatus} == 1 ? 'voted'"></i>  <span id="voteText" th:utext = "${article.vote_count}">0</span></button>
          </div>
        </div>
      </div>
      <div id="buttonWrapper">
        <a class="btn btn-primary btn-sm" th:href="@{/video/edit(id=${article.id},video_id=${article.option.video_id})}">수정</a>
        <a class="btn btn-primary btn-sm" th:href="@{/video/delete(id = ${article.id})}"id="deletebtn">삭제</a>
        <a class="btn btn-primary btn-sm" th:href="@{/video/home}">목록</a>
      </div>
      <div id="commentsWrapper">
        <div id="commentsContent">
          <div id="commentsText">
            <div id="commentsWriter">
              <span id="writerIcon">
                <img src="https://via.placeholder.com/32" id="icon" />
              </span>
              <span id="writerName">권순조</span>
              <span id="writeDate">2019.6.22 17:59</span>
            </div>
            <div id="commentsDetail">사퇴하겠습니다</div>
          </div>
        </div>
        <div id="commentsContent">
          <div id="commentsText">
            <div id="commentsWriter">
              <span id="writerIcon">
                <img src="https://via.placeholder.com/32" id="icon" />
              </span>
              <span id="writerName">이힘찬</span>
              <span id="writeDate">2019.6.22 17:55</span>
            </div>
            <div id="commentsDetail">[[${article.writer.name}]]님 사랑해용 쀼쀼</div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script th:inline="javascript">
    $(function() {
      $("#deletebtn").click(function(event) {
        const answer = confirm("정말 삭제하시겠습니까?");
        if (!answer) {
          event.preventDefault();
         /*  location.href = "/video/delete?id=" + [[${article.id}]]; */
        }    
        })
      });

 
      $('#voteButton').click(function(data){
        $.ajax({
          url:"/ajax/vote",
          data:{
            articleId: [[${article.id}]],           
          },
          method:"post",
          success:function(data){
			  $("#voteText").html(data.countVote);
			  if(data.checkStatus == 1){
				  $('#thumbIcon').addClass("voted");
			  }else{
				  $('#thumbIcon').removeClass("voted");
			  }
          }
        })
      });
    </script>
  </body>
</html>
