<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/video/home.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div id="title">인터넷강의 게시판</div>
      <hr />
      <div id="boardWrapper">
        <div id="board">
        <th:block th:each="video : ${videoList}">
          <a th:href="@{/video/detail(id=${video.id})}">
            <div class="video-board">
              <div class="thumbnail">
                <img
                  class="thumbnail-image"
                  src="https://img.youtube.com/vi/tZooW6PritE/maxresdefault.jpg"
                  th:src="'https://img.youtube.com/vi/' + ${video.option.video_id} + '/maxresdefault.jpg'"
                />
              </div>
              <div class="video-detail">
                <span class="video-title" th:text="${video.title}">
                  [생활코딩] HTML5 기초강좌
                </span>
                <span class="comment-count" th:text="${video.commentlist.size()}">5</span><br />
                <div class="video-content" th:utext="${video.content}">
                  생활코딩 Egoing님과 함께하는 HTML5 기초강좌 ...
                </div>
                <div class="video-view-count">
                  <span>22시간 전</span> | 
                  조회 <span th:text="${video.view_count}">43</span> |
                  <span th:text="${video.writer.name}">매니저</span>
                </div>
              </div>
            </div>
          </a>
        </th:block>
        </div>

        <div id="buttonWrapper">
          <button
            class="btn btn-warning btn-sm"
            id="writeButton"
            onClick="location.href='/video/write'"
          >
            글쓰기
          </button>
        </div>
      </div>
    </div>

    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
    <script></script>
  </body>
</html>
