<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/video/write.css}" />
    <link
      href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css"
      rel="stylesheet"
    />    
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <form method="POST">
        <div id="write-form-wrapper">
          <input type="text" id="input-title" placeholder="제목" name="title"/>
          <div class="url">
            <input type="text" id="input-url" placeholder="Youtube 주소 (https://youtu.be로 시작)" name="url"/>
            <i class="far fa-question-circle info" data-toggle="tooltip" data-placement="bottom" title data-original-title="공유 - 주소 복사"></i>
          </div>
          <textarea name="content" class="content"></textarea>
          <button
            type="submit"
            class="btn btn-primary submit-btn"
            id="submit-button"
          >
            올리기
          </button>
        </div>
      </form>
    </div>
    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
    
      $(document).ready(function() {
        const title = $("#input-title");
        const url = $("#input-url");
        const submitBtn = $("#submit-button");
        
        $('[data-toggle="tooltip"]').tooltip();
        
       $(".submit-btn").click(function(event) {
         if(title.val() == null || title.val().trim() == "" || !url.val().startsWith("https://youtu.be/")) {
           event.preventDefault();
           Swal.fire({
   	  	    type: 'error',
   	  	    text: '다시 입력해주세요 !!',
   	  	  })
         } else {
           Swal.fire({
       	    type: 'success',
       	    title: '작성되었습니다',
       	    showConfirmButton: false,
       	    timer: 1500
       	  });
         }   
       });
       
          
      
        
        
/*         url.keyup(function() {
          if (title.val() == ""
              || url.val() == ""
              || !url.val().startsWith("https://youtu.be/")) {
            console.log("아무것도없쪼?");
            $("#submit-button").attr("disabled", true);
          } else {
            $("#submit-button").attr("disabled", false);
          }
        }); */
      });
    </script>
  </body>
</html>
