@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.detail-container {
  background-color: #e8e8e8;
  margin: 50px 50px 10px 50px;
  padding: 2px;
  border-radius: 5px;
}

.detail-head {
  background-color: white;
  margin: 3px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.detail-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.detail-subtitle {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  margin-left: 20px;
}

.detail-content {
  background-color: white;
  padding: 10px;
  margin: 5px 3px 3px;
  border-radius: 0 0 5px 5px;
  min-height: 300px;
  font-size: 14px;
  white-space: pre-wrap;
  border-radius: 0 0 5px 5px;
}

.detail-comment {
  margin: 20px 0px 20px 90px;
  margin-right: 25px;
}

.writerName {
  font-weight: bold;
  font-size: 15px;
}

.comment-text {
  width: 83.5%;
  height: 36px;
}

.btn {
  font-size: 14px;
}

.detail-btn {
  margin-bottom: 5px;
}

.detail-subtitle {
  display: flex;
}

.btn-group {
  margin-left: auto;
}

.content-reply-form {
  background-color: #e8e8e8;
  margin: 10px 50px 10px 50px;
  padding: 2px;
  border-radius: 10px;
}

#comment-articleID, #comment-boardID, #comment-id {
  display: none;
}

.content-reply {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 3px;
}

.content-move {
  display: flex;
}

.write-date {
  margin-left: auto;
  font-size: 15px;
  font-weight: bold;
}

.noComment {
  padding: 10px 0px 10px 30px;
  font-weight: bold;
  font-size: 14px
}

.pointOrange, .pointOrange2 {
  color: #F39B10;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
}

.detail-content-parent {
  position: relative;
}

.file-upload {
  position: absolute;
  right: 16px;
  top: 1px;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#deletebtn {
  color: white;
  cursor: pointer;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.group-parent {
  display: flex;
  width: 96%;
}

.btn-group {
  margin-left: auto;
}

.reply-board-btn {
  cursor: pointer;
}

.file-parent {
  margin-left: 50px
}

#icon {
  width: 25px;
  height: 25px;
}


.commentWriterName {
  cursor: pointer;
}

.modal-body {
  height:200px;
  width:500px;
}

.messageForm {
  width: 100%;
  height:100%;
}

#messageSenderId {
  display:none;
}