@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.board-main-title {
  margin: 10px 0 0 140px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  width: 83%;
  margin-bottom: 20px;
}

.board-main-title h4 {
  font-size: 18px;
  font-weight: bold;
}

.board-topnav {
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #a6a6a6;
}

.board-content {
  margin: 0 auto;
  padding: 7px 0;
  board-bottom: 1px solid #a6a6a6;
  font-size: 14px;
}

.board-topnav {
  display: flex;
  font-size: 14px;
  font-weight: bold;
}

.board-writer, .board-write-time, .board-count {
  flex: 0.15 0.15 0;
  font-weight: 700;
  text-align: center;
}

span {
  display: block;
}

.board-title {
  flex: 1 1 0;
  max-width: 550px;
  text-align: center;
  font-weight: 700;
}

.board-content {
  display: flex;
  position: relative;
}

.writer, .write-time, .write-count {
  flex: 0.15 0.15 0;
  text-align: center;
}

.article-title {
  flex: 1 1 0;
  text-align: center;
  max-width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-title span {
  display: inline;
}

.comment-size {
  font-size: 13px;
  color: #F29C10;
}

.board-content {
  border-bottom: 1px solid #E5E5E5;
}

.board {
  margin: 0 auto 30px;
  width: 80%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  border-bottom: none;
}

a {
  color: inherit;
}

.article:hover .board-content {
  background: #eeeeee;
}

.board-search {
  font-size: 14px;
  margin-left: auto;
  height: 30px;
  margin-top: 1;
  border-radius: 3px;
  border:1px solid #c2c2c2;
}

.search-item {
  margin-left: auto;
  margin-right: 35px;
}

.pointerImg, .pointerImg2 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  right: -1px;
}

.pointerImg2 {
  right: 4px;
}

.inputtext {
  border-radius: 3px;
  outline: none;
  padding: 4px 10px;
  width: 50%;
  font-size: 14px;
  border: 1px solid #c2c2c2;
}

.icon-wrapper {
  position: relative;
  flex: 0.15 0.15 0;
}

.write-btn-right {
  display: flex;
  border: 1px solid white;
  margin: 0 -1px;
}

.board-writeBtn {
  margin-top: 10px;
  margin-left: auto;
}

.file {
  position: absolute;
  color: #F29C10;
  left: 10px;
}

.page-btns {
  display: flex;
  margin: auto;
  margin-bottom: 200px;
  position: absolute;
  left: 40%;
}

.write-btns {
  margin-left: auto;
}

.btn.btn-primary.paging {
  background-color: white;
  color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}

.btn {
  font-size: 14px;
  padding: 5.5px 12px;
  
}
#btn-submit{
  height:31px;
}
.btn.btn-primary.paging.active {
  background-color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}

.bottom-row {
  position: relative;
  width: 80%;
  margin: 0 auto;
}