@charset "UTF-8";

.detail-container {
  background-color: #e8e8e8;
  margin: 50px 50px 10px 50px;
  padding: 5px;
  border-radius: 10px;
}

.detail-head {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.detail-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
}

.detail-subtitle {
  font-size: 12px;
  color: gray;
  margin-top:10px;
  margin-left:20px;
}