@charset "UTF-8";

.detail-container {
  background-color: #e8e8e8;
  margin: 50px 50px 10px 50px;
  padding: 5px;
  border-radius: 10px;
}

.detail-head {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.detail-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 20px;
}

.detail-subtitle {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  margin-left: 20px;
}

.detail-content {
  background-color: white;
  padding: 10px;
  margin: 10px;
  min-height: 300px;
}

.detail-comment {
  margin: 20px 0px 20px 90px;
}

.writerName {
  font-weight: bold;
  font-size: 22px;
}

.comment-text {
  width: 80%;
  height: 36px;
}

.detail-btn {
  margin-bottom: 5px;
}

.detail-subtitle {
  display: flex;
}

.btn-group {
  margin-left: auto;
}


.content-reply-form {
  background-color: #e8e8e8;
  margin: 10px 50px 10px 50px;
  padding: 5px;
  border-radius: 10px;
}

#comment-articleID, #comment-boardID, #comment-id {
  display:none;
}

.content-reply {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.content-move {
  display:flex;
}

.write-date {
  margin-left: auto;
  font-size:15px;
  font-weight: bold;
}

.noComment{
	padding : 10px 0px 10px 30px;
	font-weight:bold;
}

.pointOrange, .pointOrange2 {
  color: #F39B10;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
}

.detail-content-parent {
  position: relative;
}

.file-upload {
  position:absolute;
  right: 16px;
  top:1px;
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#deletebtn {
  color: white;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #5cb85c;
  cursor: pointer;
  border: 1px solid #4cae4c;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
