.chat-room {
  width: 80%;
  margin-left: 20px;
  height: 75vh;
  overflow-y: scroll;
}

.chat-message {
  padding: 20px 0;
  border-bottom: 1px solid #dee1e2;
}

.chat-header {
  display: flex;
  margin-bottom: -35px;
}

.chat-header img {
  margin: 0 20px 20px 0;
  border-radius: 50%;
}

.chat-sender-name {
  color: #23262a;
  font-weight: 600;
}

.chat-sender-time {
  font-size: 0.75em;
  letter-spacing: 0;
  color: #99aab5;
}

.chat-content {
  margin-left: 60px;
  margin-top: 5px;
  color: #747f8d;
}

.chat-input {
  margin: 20px 20px;
  width: 80%;
  /* position: absolute; */
}

#chat-message {
  border: 2px solid #23262a;
  border-radius: 5px;
  padding: 8px 20px 8px 45px;
  width: 100%;
}

#chat-message:focus {
  outline: none;
}

#file {
  display: none;
}

#file+label {
  vertical-align: top;
  position: absolute;
  font-size: 42px;
  line-height: 35px;
  font-weight: 700;
  left: 2px;
  padding: 0 2px 9px 0px;
  margin: 0 3px;
  margin-left: 234px;
  border-right: 1px solid #23262a;
  cursor: pointer;
}

#file+label:hover {
  font-size: 45px;
  padding-right: 0;
}

#file+label:active {
  font-size: 42px;
  padding-right: 2px;
}

.date-line {
  border: 1px solid #23262a;
  position: relative;
}

.date {
  position: absolute;
  top: -12px;
  left: 42%;
  padding: 0 10px;
  background: white;
}

.chat-content-file {
  margin-left: 60px;
  border: 1px solid #23262a;
  border-radius: 5px;
  padding: 15px 10px 15px 20px;
  color: #23262a;
  cursor: pointer;
  font-size: 18px;
  line-height: 70px;
  font-weight: 600;
}

.file-name {
  margin-right: 10px;
}

.chat-content-file svg {
  color: #F39C20;
}

.chat-content-file:hover svg {
  transform: scale(1.1);
  transition: .2s;
}

.chat-content-file:active svg {
  transform: scale(0.9);
}