@charset "UTF-8";

body {
  font-family: "Nanum Gothic";
}

#detailWrapper {
  background-color: #e8e8e8;
  margin: 50px 50px 10px 50px;
  padding: 5px;
  border-radius: 10px;
}

#commentsWrapper {
  background-color: #e8e8e8;
  margin: 10px 50px 10px 50px;
  padding: 5px;
  border-radius: 10px;
}

#detailHead {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

#detailTitle {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

#detailViewCount {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  margin-left: 20px;
}

#point {
  color: #f39b10;
}

#video {
  width: 70%;
  height: 450px;
  margin-bottom: 50px;
}
#detailContentText{
  white-space: pre-wrap;
  font-size:14px;
}
#detailContent, #commentsContent {
  background-color: white;
  padding: 10px;
  margin: 10px;
  
}

#videoWrapper {
  text-align: center;
}

#buttonWrapper {
  text-align: right;
  margin-right: 60px;
}

#boardButton {
  font-weight: bold;
  width: 50px;
  height: 35px;
}

#writerName {
  font-weight: bold;
  font-size: 14px;
}

#writeDate {
  float: right;
  font-size: 14px;
  color: gray;
}

#writerIcon {
  width: 32px;
  height: 32px;
}

#icon {
  border-radius: 50%;
}

#voteButtonWrapper {
  text-align: center;
}

#voteButton {
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2d3e50;
}

#voteText {
  font-size: 18px;
  color: #f39c20;
}

#commentInputWrapper {
  margin: 20px 0px 20px 90px;
}

#commentInput {
  width: 80%;
  height: 36px;
  padding-left: 8px;
}

.voted {
  color: #f39c20;
}
#noneComment{
	padding : 10px 0px 10px 30px;
	font-weight:bold;
	font-size:14px;
}
.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.btn{
  font-size:14px;
}

.spinner-border {
  width: 3rem; 
  height: 3rem;
}
#comment-articleID {
  display:none;
}
