@charset "UTF-8";

#detailWrapper {
  background-color: #e8e8e8;
  margin: 50px 50px 10px 50px;
  padding: 2px;
  border-radius: 5px;
}

#commentsWrapper {
  background-color: #e8e8e8;
  margin: 10px 50px 10px 50px;
  padding: 2px;
  border-radius: 10px;
}

#detailHead {
  background-color: white;
  margin: 3px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

#detailTitle {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

#detailViewCount {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
  margin-left: 20px;
}

#point {
  color: #f39b10;
}

#video {
  width: 70%;
  height: 450px;
  margin-bottom: 50px;
}

#detailContentText {
  white-space: pre-wrap;
  font-size: 14px;
}

#detailContent,
#commentsContent {
  background-color: white;
  padding: 10px;
}

#detailContent {
  margin: 5px 3px 3px;
  border-radius: 0 0 5px 5px;
}

#commentsContent {
  border-radius: 5px;
  margin: 3px;
}

#videoWrapper {
  text-align: center;
}

#buttonWrapper {
  text-align: right;
  margin-right: 60px;
}

#boardButton {
  font-weight: bold;
  width: 50px;
  height: 35px;
}

#writerName,
.comment-writer {
  font-weight: bold;
  font-size: 14px;
}

#writeDate {
  float: right;
  font-size: 12px;
  color: gray;
}

#writerIcon {
  width: 32px;
  height: 32px;
}

#icon {
  border-radius: 50%;
}

#voteButtonWrapper {
  text-align: center;
}

#voteButton {
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2d3e50 !important;
}

#voteText {
  font-size: 18px;
  color: #f39c20;
}

#commentInputWrapper {
  margin: 10px 54px 10px;
  width: 100%;
}

.writer-info-wrapper {
  width: 100%;
}

.input-submit-wrapper {
  width: 100%;
  display: flex;
  margin-top: 3px;
}

.comtext {
  width: 100%;
  flex: 1;
  margin-right: 5px;
  border-radius: 3px;
}

#commentInput {
  width: 80%;
  height: 36px;
  padding-left: 8px;
}

.voted {
  color: #f39c20;
}

#noneComment {
  padding: 10px 0px 10px 30px;
  font-weight: bold;
  font-size: 14px;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.btn {
  font-size: 14px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.comment-delete-button {
  font-size: 12px;
  color: #808080;
  font-weight: 100;
  margin-left: 20px;
}

.comment-delete-button:hover {
  text-decoration: underline;
  color: #808080;
}

#comment-articleID {
  display: none;
}

.writerIcon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

#writerName {
  cursor: pointer;
}

.modal-body {
  height: 200px;
  width: 500px;
  padding: 20px;
}

.messageForm {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 3px;
}

.messageReceiverId {
  display: none;
}

.toForm {
  margin-left: 20px;
  font-weight: bold;
}

.messageTitle {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
}

.my-comment-name {
  cursor: default;
}

.messageForm:focus {
  outline-color: #f39b10;
}

.messageHeader {
  height: 50px;
}

.videoWriterNameForm {
  cursor: pointer;
}

.writerReceiverId {
  display: none;
}

.bookmarkSpan {
  float: right;
}

.scrapCompletion {
  background-color: #ea8a02 !important;
  color: white !important;
}

#back-to-list {
  padding: 6px 12px;
  margin-bottom: 50px;
}
#buttonWrapper .btn{
  margin-bottom:50px;
  padding: 4px 8px;
}