@charset "UTF-8";
body{
    font-family: 'Nanum Gothic'
}

#detailWrapper {
    background-color: #e8e8e8;
    margin : 50px 50px 10px 50px;
    padding: 5px;
    border-radius : 10px
}
#commentsWrapper{
    background-color: #e8e8e8;
    margin : 10px 50px 10px 50px;
    padding: 5px;
    border-radius : 10px
}


#detailHead{
    background-color: white;
    margin : 10px;
    border-radius : 10px;
    padding: 10px
}
#detailTitle{
    font-size:32px;
    font-weight: bold;
    margin-left : 20px;

}
#detailViewCount{
    font-size: 12px;
    color: gray;
    margin-top : 10px;
    margin-left : 20px;

}
#point{
    color:#F39B10;
}
#video{
    width : 70%;
    height : 450px;
    margin-bottom : 50px;
}
#detailContent, #commentsContent {
    border-radius : 10px;
    background-color: white;
    padding: 10px;
    margin : 10px;
    
}
#videoWrapper{
    text-align:center;
}
#detailContentText,#commentsText{
    margin-left : 20px;
}
#buttonWrapper{
    text-align: right;
    margin-right : 60px;
}
#boardButton{
    font-weight: bold;
    width : 50px;
    height : 35px;
}
#writerName{
    font-weight : bold;
    font-size: 18px;
}
#writeDate{
    float:right;
    font-size: 14px;
    color: gray;
}
#writerIcon{
    width:32px;
    height: 32px;
}
#icon{
    border-radius: 50%;
}