@charset "UTF-8";

body {
  font-family: "Nanum Gothic";
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#title {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
  margin: 20px auto 10px;
  font-size: 18px;
  font-weight: bold;
}

#boardWrapper {
  margin: auto;
  display: flex;
}

.video-board {
  cursor: pointer;
  color: black;
  display: flex;
}

.video-board:hover {
  background-color: #eeeeee;
}

#board {
  border: 1px solid #eeeeee;
  margin: 10px auto 50px;
  background-color: white;
  width: 90%;
}

.video-title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.comment-count {
  display: block;
  color: #f39b10;
  margin-left: 7.2px;
  margin-top: 22px;
  font-size: 13px;
  height: 10px;
}

.video-content {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
  max-height: 102px;
  margin-right: 20px;
  overflow: hidden;
}

.video-content * {
  color: gray !important;
}

.thumbnail-image {
  margin: 20px;
  width: 500px;
  height: 261px;
}

.video-detail {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.video-view-count {
  font-size: 12px;
  color: gray;
  margin-top: auto;
  margin-bottom: 20px;
}

#buttonWrapper {
  float: right;
  margin-top: 10px;
}

#writeButton {
  font-weight: bold;
  padding: 8px;
  position: fixed;
  right: 120px;
  bottom: 20px;
  border-radius: 50%;
  color: white;
  font-size: 60px;
  line-height: 45px;
  width: 65px;
  height: 65px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#writeButton:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.article-disabled {
  filter: blur(10px);
}

.title-wrapper {
  display: flex;
}
