<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/myclass/qna/content.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div class="wrapper">
        <div class="title">
          <h3>질문 게시판</h3>
          <div
            class="spinner-border text-warning spin-where"
            role="status"
            id="spinner"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <!-- 게시물컨텐트 -->

        <span class="top">
          <a href="#"><i class="fas fa-chevron-circle-up iconSize"></i></a>
        </span>

        <table class="tableWrapper">
          <tr>
            <td colspan="2" class="td12">
              <span
                class="tag-name iteration"
                th:each="tag : ${qnacontent.tags}"
              >
                <span th:style="'background-color:'+@{${tag.color}}+';'"
                  >[[${tag.tag}]]</span
                >
              </span>
            </td>
            <td colspan="2" id="contenteditor">
              <span class="utilNav"
                ><a
                  th:href="@{/myclass/qna/edit(id=${qnacontent.id})}"
                  th:if="${user.username == qnacontent.username}"
                  class="updateBtn"
                  ><i class="far fa-edit qnaIcon"></i
                ></a>
                <span
                  th:if="${user.username == qnacontent.username or user.role == 'MANAGER'}"
                  class="deleteBtn"
                  id="deleteCheck"
                  ><i class="fas fa-trash-alt qnaIcon"></i> </span
              ></span>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="tdtitle">
              <span th:text="${qnacontent.title}"></span>
            </td>
            <td class="bookmarkRow">
              <button
                class="btn btn-outline-primary btn-sm bookmarkSpan"
                th:classappend="${scrapCount} == 1 ? 'scrapCompletion'"
                id="bookmarkButton"
              >
                <span class="bookmarkLabel" id="bookmarkLabel">북마크</span>
                <i class="fas fa-book bookmarkIcon" id="bookmarkIcon"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="tdcontent">
              <span th:utext="${qnacontent.content}"> </span>
              <div class="votecountalign">
                <button
                  type="button"
                  id="voteButton"
                  class="btn btn-outline-primary btn-sm voteSpan"
                  th:classappend="${voteStatus} == 1 ? 'voted'"
                >
                  <span>
                    <i
                      class="far fa-thumbs-up votecount"
                      id="thumbIcon"
                      th:classappend="${voteStatus} == 1 ? 'voted'"
                    ></i>
                  </span>
                  <span
                    class="votecount-font"
                    id="votecount-font"
                    th:classappend="${voteStatus} == 1 ? 'voted'"
                    >[[${qnacontent.vote_count}]]</span
                  >
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td5">
              <img
                th:if="${qnacontent.writer.profile_photo}!=null"
                th:src="@{${qnacontent.writer.profile_photo}}"
                id="profileimg1"
              />
            </td>
            <td colspan="3" class="td4">
              <p class="pwriter">
                <span
                  class="qnaWriter"
                  th:classappend="${qnacontent.writer.name == user.name} ? 'my-comment-name'"
                  th:text="${qnacontent.writer.name}"
                >
                </span>
                <span
                  class="hidden writerReceiverId"
                  th:text="${qnacontent.username}"
                ></span>
              </p>
              <p class="pfont">
                게시일:<span
                  th:text="${#temporals.format(qnacontent.timeLocal, 'yyyy-MM-dd HH:mm')}"
                ></span>
              </p>
              <p class="pfont">
                <span th:text="${qnacontent.view_count}"></span>view
              </p>
            </td>
          </tr>
        </table>

        <!-- 댓글insert -->
        <table th:if="${user.role == 'TEACHER'}">
          <tr>
            <td class="comtitle" colspan="4">
              총
              <span
                class="commentPlus"
                th:text="${qnacontent.commentlist.size()}"
              ></span
              >개의 답변
            </td>
          </tr>
          <tr>
            <td class="ctd1" colspan="4">
              <textarea name="content" class="comtext"></textarea> <br />
              <input
                type="submit"
                class="btn btn-primary btnalign"
                value="등록"
              />
            </td>
          </tr>
        </table>

        <!-- 댓글목록 -->
        <!-- 일반 답변 -->
        <div class="stack-wrapper">
          <table
            th:if="${qnacontent.commentlist.size()!=0}"
            class="iteration commentWrapper"
            th:each="list : ${qnacontent.commentlist}"
          >
            <tr>
              <td class="td8">
                <img
                  th:unless="${qnacontent.writer.profile_photo}!=null"
                  class="user-photo"
                  id="icon"
                  th:src="@{/resources/images/default.png}"
                  alt="프로필 사진"
                />
                <img
                  th:if="${qnacontent.writer.profile_photo}!=null"
                  th:src="@{${list.writer.profile_photo}}"
                  id="profileimg2"
                />
              </td>
              <td class="comment-writer">
                <span class="commentWriterNameForm">
                  <span
                    class="commentWriterName"
                    th:classappend="${list.writer.name == user.name} ? 'my-comment-name'"
                  >
                    [[${list.writer.name}]]
                  </span>
                </span>
                <a
                  th:if="${list.username == user.username or user.role == 'MANAGER'}"
                  th:href="@{/myclass/qna/commentdelete(id=${list.id})}"
                  ><i class="fas fa-trash-alt qnaIcon"></i>
                </a>
                <span
                  class="hidden messageReceiverId"
                  th:text="${list.username}"
                ></span>
                <br />
                <span
                  class="commentCalender"
                  th:text="${#temporals.format(list.timeLocal, 'yyyy-MM-dd HH:mm')}"
                ></span>
              </td>
              <td class="td7"></td>
            </tr>
            <tr>
              <td colspan="3" class="td11">[[${list.content}]]</td>
            </tr>
            <tr>
              <td colspan="3" class="td6"></td>
            </tr>
          </table>
        </div>

        <span class="top"
          ><a href="#"><i class="fas fa-chevron-circle-up iconSize"></i></a
        ></span>

        <!-- 모달이 시작 -->
        <div class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header messageHeader">
                <h5 class="modal-title messageTitle">쪽지 보내기</h5>
                <span class="toForm">
                  <span class="messageTo">To</span>
                  <span class="messageReceiveName"></span>
                </span>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <textarea class="messageForm" id="messageText"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary submitMessage">
                  전송
                </button>
                <button
                  type="button"
                  class="btn btn-secondary messageCancle"
                  data-dismiss="modal"
                >
                  취소
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- 모달이 끝 -->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script th:inline="javascript">
      $(document).ready(function() {
        $("#imgp2").click(function(){
          sendVoteNotice([[${user.name}]], [[${qnacontent.username}]], "/myclass/qna/content?id="+[[${qnacontent.id}]]);
        });
        $("#spinner").hide();
      }).ajaxStart(function() {
        $("#spinner").show();
      }).ajaxStop(function() {
        $("#spinner").hide();
      });

      $('#voteButton').click(function(data) {
        $.ajax({
          url:"/ajax/vote",
          data:{
            articleId: [[${qnacontent.id}]],
          },
          method: "post",
          success: function(data) {
            $("#votecount-font").text(data.countVote);
            if (data.checkStatus == 1) {
              $('#thumbIcon').addClass("voted");
              $('#votecount-font').addClass("voted");
              $('#voteButton').addClass("voted");
              if ([[${user.username}]] !== [[${qnacontent.username}]]) {
                sendVoteNotice([[${user.name}]], [[${qnacontent.username}]], "/myclass/qna/content?id="+[[${qnacontent.id}]]);
              }
            } else {
              $('#thumbIcon').removeClass("voted");
              $('#votecount-font').removeClass("voted");
              $('#voteButton').removeClass("voted");
            }
          }
        });
      });

      /* 메시지 보내는 함수 */
      function replyMessage(messageText, receiverId) {
        $.ajax({
          url: "/ajax/message/reply",
          type: "POST",
          data: {
            content: messageText,
            receiver_username: receiverId
          }
        }).done(function() {
          $(".modal").modal("hide");
          Swal.fire({
            type: 'success',
            title: '전송되었습니다',
            showConfirmButton: false,
            timer: 1500
          });
          sendMessageNotice([[${user.name}]], receiverId);
        });
      };

      /* 메시지 보내는 함수 */
      //동기 메시지보내기 처리 시작
      $(".messageCancle").click(function() {
        $("#messageText").val("");
      });

      $(".commentWriterName").unbind("click");
      $(".commentWriterName").click(function(event) {
        const receiverId = $(event.currentTarget).parent().siblings(".messageReceiverId").text();
        const messageReceiveName = $(event.currentTarget).text();
        $(".messageReceiveName").text(messageReceiveName);
        if ([[${user.username}]] != receiverId) {
          $(".modal").modal("show");
        }

        $(".submitMessage").unbind("click");
        $(".submitMessage").click(function() {
          const messageText = $("#messageText").val();
          if (messageText.trim() === "" || messageText === null) {
            Swal.fire({
              type: 'error',
              text: '다시 입력해주세요 !!',
            });
            return;
          }
          $("#messageText").val("");
          replyMessage(messageText, receiverId);
        });
      });

      // 동기 메시지보내기 처리 끝


      // 글쓴이 동기 메시지보내기 처리 시작
      $(".qnaCursor").unbind("click");
      $(".qnaCursor").click(function(event) {
        const receiverId = $(event.currentTarget).siblings(".writerReceiverId").text();
        const messageReceiveName = $(event.currentTarget).text();
        $(".messageReceiveName").text(messageReceiveName);
        if ([[${user.username}]] != receiverId) {
          $(".modal").modal("show");
        }
        $(".submitMessage").unbind("click");
        $(".submitMessage").click(function() {
          const messageText = $("#messageText").val();
          if (messageText.trim() === "" || messageText === null) {
            Swal.fire({
              type: 'error',
              text: '다시 입력해주세요 !!',
            })
            return;
          }
          $("#messageText").val("");
          replyMessage(messageText, receiverId);
        });

        $('#voteButton').click(function(data) {
          $.ajax({
            url:"/ajax/vote",
            data:{
              articleId: [[${qnacontent.id}]],
            },
            method: "post",
            success: function(data) {
              $("#votecount-font").text(data.countVote);
              if (data.checkStatus == 1) {
                $('#thumbIcon').addClass("voted");
                $('#votecount-font').addClass("voted");
                $('#voteButton').addClass("voted");
                if ([[${user.username}]] !== [[${qnacontent.username}]]) {
                  sendVoteNotice([[${user.name}]], [[${qnacontent.username}]], "/myclass/qna/content?id="+[[${qnacontent.id}]]);
                }
              } else {
                $('#thumbIcon').removeClass("voted");
                $('#votecount-font').removeClass("voted");
                $('#voteButton').removeClass("voted");
              }
            }
          });
        });
      });


      /* 메시지 보내는 함수 */
      function replyMessage(messageText, receiverId) {
          $.ajax({
            url: "/ajax/message/reply",
            type: "POST",
            data: {
              content: messageText,
              receiver_username: receiverId
            }
          }).done(function() {
            $(".modal").modal("hide");
            Swal.fire({
              type: 'success',
              title: '전송되었습니다',
              showConfirmButton: false,
              timer: 1500
            });
            sendMessageNotice([[${user.name}]], receiverId);
          });
        };
        /* 메시지 보내는 함수 */
        //동기 메시지보내기 처리 시작

        $(".messageCancle").click(function() {
          $("#messageText").val("");
        });

        $(".commentWriterName").unbind("click");
        $(".commentWriterName").click(function(event) {
          const receiverId = $(event.currentTarget).parent().siblings(".messageReceiverId").text();
          const messageReceiveName = $(event.currentTarget).text();
          $(".messageReceiveName").text(messageReceiveName);
          if ([[${user.username}]] != receiverId) {
            $(".modal").modal("show");
          }

          $(".submitMessage").unbind("click");
          $(".submitMessage").click(function() {
            const messageText = $("#messageText").val();
            if (messageText.trim() === "" || messageText === null) {
              Swal.fire({
                type: 'error',
                text: '다시 입력해주세요 !!',
              });
              return;
            }
            $("#messageText").val("");
            replyMessage(messageText, receiverId);
          });
        });

        // 동기 메시지보내기 처리 끝
        // 글쓴이 동기 메시지보내기 처리 시작

        $(".pwriter").unbind("click");
        $(".pwriter").click(function(event) {
          const receiverId = $(event.currentTarget).children(".writerReceiverId").text();
          const messageReceiveName = $(event.currentTarget).children(".qnaWriter").text();
          $(".messageReceiveName").text(messageReceiveName);
          if ([[${user.username}]] != receiverId) {
            $(".modal").modal("show");
          }
          $(".submitMessage").unbind("click");
          $(".submitMessage").click(function() {
          const messageText = $("#messageText").val();
          if (messageText.trim() === "" || messageText === null) {
            Swal.fire({
              type: 'error',
              text: '다시 입력해주세요 !!',
            })
            return;
          }
          $("#messageText").val("");
          replyMessage(messageText, receiverId);
        });
      });

      // 글쓴이 동기 메시지보내기 처리 끝
      const currentPosition = parseInt($("#floatMenu").css("top"));
      $(window).scroll(function() {
        const position = $(window).scrollTop();
        $("#floatMenu").stop().animate({
          "top" : position + currentPosition + "px"
        }, 1500);
      });

      $(".btnalign").click(function() {
        let valueCheck = $(".comtext").val();
        if (valueCheck.trim() === "" || valueCheck === null) {
          Swal.fire({
            type: 'error',
            text: '다시 입력해주세요 !!',
          })
          return;
        }

        const articleId = [[${qnacontent.id}]];
        const commentContent = $(".comtext").val();
        const username = [[${user.username}]];

        const formData = new FormData();
        formData.append("article_id", articleId);
        formData.append("content", commentContent);
        formData.append("username", username);

        $.ajax({
          url: "/myclass/qna/commentwrite",
          type: "post",
          data: formData,
          contentType: false,
          processData: false,
          success: function(data) {
            $(".stack-wrapper").empty();
            $(".comtext").val("");
            $.each(data, function(index, item) {
              const content = item.content;
              const username = item.writer.name;
              const time = Number(item.time);
              const date = new Date(time);
              const commentId = item.id;
              const articleId = item.article_id;
              const profiel_photo = item.writer.profile_photo;

              let minutes = date.getMinutes();
              minutes = (minutes < 10) ? "0" + minutes : minutes;
              let hours = date.getHours() <= 12 ? date.getHours() : date.getHours() -12;
              hours = hours < 10 ? "0" +  hours : hours;
              let getdate = date.getDate();
              getdate = (getdate < 10) ? "0" + getdate : getdate;
              let getmonth = date.getMonth() + 1;
              getmonth = (getmonth < 10) ? "0" + getmonth : getmonth;

              const timedate = `${date.getFullYear()}-` + getmonth +`-` + getdate + ` `+ hours +`:` + minutes;
              let equalName = null;
              if(item.id != [[${qnacontent.option.adopted_answer}]] && (item.username == [[${user.username}]] || [[${user.role}]] == 'MANAGER')) {
                equalName = "<i class='fas fa-trash-alt'></i>";
              } else {
                equalName = "";
              }

              let spanClass;
              if (username === [[${user.name}]]) {
                spanClass = "<span class='commentWriterName my-comment-name'>";
              } else {
                spanClass = "<span class='commentWriterName'>";
              }

              let html = "<table class='iteration commentWrapper'><tbody>"+
                "<tr><td class='td8'><img if='"+ profiel_photo +"!=null' src='"+ profiel_photo +"' id='profileimg2'/></td>" +
                "<td class='comment-writer'><span class='commentWriterNameForm'>"+ spanClass + username + "</span>" + "&nbsp;<a href='/myclass/qna/commentdelete?id=" + commentId + "'" + ">" + equalName +"</a>" +
                "<br>" +
                "<span class='commentCalender'>" + timedate + "</span></td>" +
                "<td class='td7'></td></tr>" +
                "<tr><td colspan='3' class='td11'>" + content + "</td></tr>" +
                "<tr><td colspan='3' class='td6'>" + "</td></tr></tbody></table>";
                $(".stack-wrapper").append(html);
            });
            sendCommentNotice([[${user.name}]], [[${qnacontent.username}]], "/myclass/qna/content?id="+[[${qnacontent.id}]]);
            const count = $(".commentPlus");
            count.text(Number(count.text()) +1);
          }
        });
      });

      $(".deleteBtn").unbind("click");
      $(".deleteBtn").click(function(event) {
        Swal.fire({
          title: '정말 삭제하시겠습니까?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#F39B10',
          cancelButtonColor: '#A6A6A6',
          confirmButtonText: '네',
          cancelButtonText: '아니요'
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              title: '삭제되었습니다',
              type: 'success',
              confirmButtonText: '확인',
              confirmButtonColor: '#F39B10'
            }).then(function() {
              location.href="/myclass/qna/delete?id=" + [[${qnacontent.id}]];
            });
          }
        })
      });

      $(document).ready( function() {
        $(window).scroll( function() {
          if ($(this).scrollTop() > 200 ) {
            $('.top').fadeIn();
          } else {
            $('.top').fadeOut();
          }
        });

        $('.top').click(function() {
          $( 'html, body' ).animate( { scrollTop : 0 }, 100 );
          return false;
        });
      });

      $('#bookmarkButton').click(function(data){
        $.ajax({
          url:"/ajax/bookmark",
          data:{
            article_id:[[${qnacontent.id}]],
          },
          method: "post",
          success: function(data) {
            if(data.checkStatus == 1) {
              $("#bookmarkButton").addClass("scrapCompletion");
            } else {
              $("#bookmarkButton").removeClass("scrapCompletion");
            }
          }
        });
      });
    </script>
  </body>
</html>
