<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/myclass/qna/home.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="title">
      <h3>
        <b>Q&A게시판</b>
      </h3>
    </div>
    <!-- 게시판 -->
    <hr>
    <table>
      <tr>
        <td colspan="6" class="td1"><span class="qspan"> 
          <select name="말머리" size=1 class="qsel" style="height: 30px;">
              <OPTION VALUE=1 SELECTED>최신순</OPTION>
              <OPTION VALUE=2>추천순</OPTION>
              <OPTION VALUE=3>조회순</OPTION>
          </select> <input type="text" name="stacksearch" id="stacksearch"
            size="35" placeholder="검색내용을 적어주세요"
            style="border: 1.5px solid lightgray;"> <img
            src="/css/myclass/qna/search.png" class="seaimg">
        </span></td>
      </tr>
     </table> 
     
     <!-- 테스트용 게시물 -->
     <table> 
      <tr class="tr1">
        <td class="td2 tr3">#03</td>
        <td class="td3 tr3">
          <span class="tag-name">
            <span id="c4">Spring</span>
            <span id="c5">Java</span>
            <span id="c6">C++</span>
          </span>
        </td>
        <td colspan="4" class="td4"></td>
      </tr>
      <tr onClick="location.href='/myclass/qna/content'">
        <td colspan="3" class="td5 tr2">롤 그거? 개껌이지</td>
        <td class="tr2">68View</td>
        <td class="tr2">0Like</td>
        <td class="td3 tr2">권순조</td>
      </tr>
      <tr class="tr1">
        <td class="td2 tr3">#02</td>
        <td class="td3 tr3">
          <span class="tag-name">
            <span id="c3">Spring</span>
            <span id="c2">Java</span>
            <span id="c7">C++</span>
          </span>
        </td>
        <td colspan="4" class="td4"></td>
      </tr>
      <tr>
        <td colspan="3" class="td5 tr2">루이지가 너무 좋아서 고민입니다</td>
        <td class="tr2">146View</td>
        <td class="tr2">12Like</td>
        <td class="td3 tr2">윤종석</td>
      </tr>
      <tr class="tr1">
        <td class="td2 tr3">#01</td>
        <td class="td3 tr3">
          <span class="tag-name">
            <span id="c1">Html</span>
            <span id="c4">Css</span>
          </span>
        </td>
        <td colspan="4" class="td4"></td>
      </tr>
      <tr>
        <td colspan="3" class="td5 tr2">아 서브웨이 때문에 학원 그만두고싶다</td>
        <td class="tr2">120View</td>
        <td class="tr2">17Like</td>
        <td class="td3 tr2">정성윤</td>
      </tr>
    </table>
    
    
    <!-- 목록불러오기 -->
     <table class="iteration" th:each="list,count : ${qnalist}"> 
      <tr class="tr1">
        <td class="td2 tr3">#[[${count.count}]]</td>
        <td class="td3 tr3">
          <span class="tag-name">
            <span id="c4">Spring</span>
            <span id="c5">Java</span>
            <span id="c6">C++</span>
          </span>
        </td>
        <td colspan="4" class="td4"></td>
      </tr>
      <tr 
      th:onclick="'window.location.href = \'' + @{/myclass/qna/content(id=${list.id})} + '\''">
        <td colspan="3" class="td5 tr2">
        <sapn th:text="${list.title}"></sapn>
        [<span th:text="${list.commentlist.size()}"></span>]
        </td>
        <td class="tr2">[[${list.view_count}]]View</td>
        <td class="tr2">[[${list.votenum}]]Like</td>
        <td class="td3 tr2">[[${list.writer.username}]]</td>
      </tr>
     </table>
    
    
    <table>
      <tr>
        <td colspan="6" class="btnalign btnpa">
        <a th:href="@{/myclass/qna/write}">
        <button class="btn btn-primary">글쓰기</button>
        </a>
        </td>
      </tr>
    </table>
  </div>
  <script>
      console.log("Hello, world!");

      
    </script>
</body>
</html>







