@charset "UTF-8";

.row {
  height: 100%;
  background-color: #F2F4F7;
}

.movemov i {
  font-size:24px; 
}

.message-box2 {
  border: 1px solid #ededed;
  width: 34%;
  height: 100%;
  margin-right: 10px;
  border-radius: 12px;
  max-height: 700px;
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2D3E50;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.message-paper2 {
  border: 1px solid #ededed;
  width: 54%;
  height: 700px;
  border-radius: 12px;
  overflow-y: scroll;
  background-color: white;
}

.message2, .message3 {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #F39B10;
  margin: 2px 10px 10px 10px;
  position: relative;
  width: 85%;
}


.message-sender2 {
  display: flex;
  border-bottom: 1px solid;
}

.time2 {
  font-size: 13px;
  margin-left: auto;
  margin-bottom: 5px;
  font-weight: bold;
}

.sender2 {
  color: #292929;
  font-size: 14px;
  font-weight: 900;
  margin-top: 3px;
}

.message-preview2 {
  font-size: 14px;
  color: #737373;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7px;
}

.message-title2 {
  margin: 0;
  line-height: 33px;
  color: #292929;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-menu2 {
  margin-left: auto;
  color: #c62917;
  width: 20%;
  display: flex;
  cursor: pointer;
}

.message-menu2 i {
  margin: 0 auto;
}

.message-top2 {
  display: flex;
  padding: 20px 20px
}

.paper-title2 {
  color: #292929;
  line-height: 26px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-info2 {
  display: flex;
  padding: 10px 20px;
}

.receive-send2 {
  color: #0ca5af;
  font-size: 14px;
  font-weight: bold;
}

.message-text2 {
  margin-top: 4px;
  line-height: 20px;
  color: #292929;
  font-size: 14px;
  word-wrap: break-word;
  padding: 20px;
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.message-sender-name {
  font-size: 18px;
  color: black;
  font-weight: bold;
  display: flex;
  margin-left: 20px;
}

.sender-message {
  color: orange;
  margin-left: 20px;
}

.fa-trash {
  display: none;
}

.send-message-icon {
  display: flex;
}

.message-right {
  margin-left: auto;
  display: flex;
  margin-top: 20px;
}

.message-sender-time {
  margin-left: auto;
}

.message-timeform {
  display: flex;
}

.message-sender-content {
  margin-left: 20px;
  margin-top: 50px;
  font-size:14px;
}

.main {
  margin-left: 400px;
  margin-top: 100px;
}

.fa-check {
  color: green;
}

.fa-paper-plane {
  display: none;
  margin-right: 30px;
}

.text-move {
  margin-left: 12px;
  font-size: 18px;
}

.text-font {
  font-weight: bold;
}

.message-title-count {
  font-size: 15px;
  /* margin-left: 190px; */
  margin-left: 20px;
}

.countM {
  color: #F39B10;
}

.icon-move {
  margin-top: 10px;
}

.movemov {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.message-realtime {
  margin-left: auto;
}

.badge {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}


.message2, .message3 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.message2:hover, .message2:focus, .message2:active, .message3:hover, .message3:focus, .message3:active {
  box-shadow: inset 0 0 0 4px #F39B10, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

.replyicon, .deleteicon {
  vertical-align: middle;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.replyicon:hover, .replyicon:focus, .replyicon:active, .deleteicon:hover, .deleteicon:focus, .deleteicon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.text-moveForm {
  margin-left: 12px;
}

.rMessage, .sMessage{
  color:black;
}

.senderMessageList {
  display:none;
}

.sicon {
  margin-left:35px;
}

.printNoMessage {
  margin: auto;
}

.receiveMessageList {
  /* width:100%; */
  /* height:100%; */
}

.noMessage {
  /* display:flex; */
  /* width: 70%; */
  /* height:100%; */
  margin-left: auto;
}

.printNoMessage {
  font-weight:bold;
  border: 2px solid #F39C20;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 200px;
  margin-top: 200px;
}

.senderMessageList {
  /* width:100%; */
  /* height:100%; */
  display:flex;
  display: flex;
}

.noSendMessage {
  /* margin:auto; */
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  /* margin-left: auto; */
  display: flex;
  margin-top: 200px;
}

.printNoSendMessage {
 font-weight: bold;
 border: 2px solid #F39C20;
 border-radius: 3px;
 padding: 10px;
 text-align: center;
 width: 200px;
 /* margin-top: 200px; */
 margin: auto;
}

.messageHead {
  height: 45px;
}

.messageFooter {
  height: 60px;
}

.messageTextVal {
  resize:none;
  height: 100%px;
  height: 100%;
  width: 100%;
}

.messageBody {
  height: 200px;
  width: 500px;
}

.senderMessageListForm {
  display:none;
}