@charset "UTF-8";

.page-top {
  display: flex;
  width: 80%;
  margin: 20px auto 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c6c6;
}

.page-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
}

#createButton {
  color: white
}

.modal-body form {
  padding-left: 35px;
}

.modal-body {
  padding: 1rem 0 1rem 1rem !important;
}

/*
table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}

table a:active, table a:hover {
  color: #bd5a35;
  text-decoration: underline;
}

table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 10px 20px;
  border: 1px solid #ccC;
  border-radius: 3px;
  box-shadow: 0 1px 2px #d1d1d1;
}

table th {
  padding: 15px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
    to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table th:first-child {
  text-align: left;
  padding-left: 20px;
}

table tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}

table tr {
  text-align: center;
  padding-left: 20px;
}

table tr td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table tr td {
  padding: 12px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
    to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
    to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
  border-bottom: 0;
}

table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
    to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
*/

#createClassTitle {
  text-align: left;
  margin: 30px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

.btn {
  font-size: 14px;
}

#buttonWrapper {
  display: inline-block;
  float: right;
  text-align: center;
}

body {
  font-family: 'Nanum Gothic'
}

input {
  padding: .4em .8em .4em .8em;
  font-family: inherit;
  appearance: none;
  border: 1px solid #999;
  border-radius: 3px;
  width: 90%;
  outline: none;
  margin-bottom: 10px
}

.th {
  font-weight: bold;
  font-size: 14px;
}
.next-btn, .prev-btn{
  margin:5px;
}
.btn.btn-primary.paging.next-btn:hover, .btn.btn-primary.paging.prev-btn:hover{
  margin:5px;
  background-color:#EA8A02 !important;
  color:white !important;
}
th, td {
  text-align: center;
  padding: 0px;
}

th:first-child, td:first-child {
  text-align: center;
}

.sidebar.col-side.sticky-top {
  padding: 0px !important
}

select {
  text-align: center;
  width: 90%;
  padding: .4em .8em .4em .8em;
  font-family: inherit;
  background:
    url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #999;
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px
}

select:focus {
  border: 1px solid #F39C20;
}

input[type="date"]:focus {
  border: 1px solid #F39C20;
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}

#img {
  width: 40px;
  height: 40px;
}

#imgWrapper {
  margin: 0px 20px 0px 20px;
}

.input-username {
  position: relative;
}

.username-message {
  display: none;
  position: absolute;
  top: 9px;
  right: 52px;
  font-size: 13px;
  color: #FF3B30;
}

.page-row {
  margin: 0 auto;
  width: 80%;
  margin-bottom:50px;
}

.title {
  text-align: left;
  margin: 30px 0 30px 50px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  font-weight: bold;
}

.course-table {
  display:flex;
  flex-direction:column;
}

.course-table-category {
  display:flex;
  height:40px;
  flex-direction:row;
  border:1px solid #c9c9c9;
  border-bottom:none;
  background-color:#f7f7f7;
  font-size:13px;
  text-align:center;
  padding:5px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.current-table-list {
  display:flex;
  flex-direction:column;  
  border:1px solid #c9c9c9;
}

.opening-table-list {
  display:flex;
  flex-direction:column;  
  border:1px solid #c9c9c9;
}

.end-table-list {
  display:flex;
  flex-direction:column;  
  border:1px solid #c9c9c9;
}

.course-list-row {
  display:flex;
  flex-direction:row;
  font-size: 13px;
  height:35px;
  border-bottom:1px solid #f5f5f5;
  padding:5px;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.course-list-row:hover {
  background-color:#ffefc2;
}

.start_date {
  width:15%;
}
.end_date {
  width:15%;
}
.course_name {
  width:30%;
} 
.teacher {
  width:10%;
}
.subject {
  width:10%; 
}
.classroom {
  width:10%;
}
.students {
  width:6%;
}
.delete {
  width:4%;
  cursor:pointer;
}
.hidden {
  display:none;
}

.delete:active {
  font-size:12px;
}

.page-btns {
  text-align:center;
  margin-top:30px;
  margin-bottom:100px;
  height:30px;
}

.btn.btn-primary.paging {
  background-color: white !important;
  color: #EA8A02 !important;
  border: 2px #EA8A02 solid !important;
  font-weight: bold;
}

.btn.btn-primary.paging.active{
  color:white !important;
  background-color:#EA8A02 !important;
}

