@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.title {
  font-size: 190%;
  margin: 20px;
}

table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
}
.row{
    display: flex;
    flex-direction: row;
  
}
.flex_container1{
  display: flex;
  flex-direction: column;
  
}
.flex_c1_item1{
  overflow: auto;
}
.flex_container2{
  display: flex;
  flex-direction: column;
}
