@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

#searchimg {
  width: auto;
  height: 28px;
  margin-left: 8px;
}

#profileimg {
  height: auto;
  border-radius: 20px;
  width: 180px;
}

.title {
  font-size: 190%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 20px;
}

.manageContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 640px;
}

.studentSearchContainer {
  display: flex;
  flex-direction: column;
  width: 28%;
  padding: 10px 0px 10px 10px;
  margin-right: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
  height: 600px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
}

.searchBtn{
  height: 33px;
  padding: 5px 11px 10px 9px;
  margin-left: 3px;
}

.profile {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 10px;
  padding: 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.studentDetailContainer {
  display: flex;
  flex-direction: column;
  width:82%;
}

.contentWrapper {
  border: 1px solid white;
  margin: 20px;
  width: 83%;
  margin-left: 8%;
  height: 700px;
}

.searchTitle {
  width: 35%;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, .125);
  background-color: #ECECEC;
}

.searchTitle div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchTitle div:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.searchContent {
  width: 65%;
  text-align: center;
  position: relative;
}

.searchContent div {
  padding-top: 11px;
  padding-bottom: 9px;
}

.searchContent div:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.listName {
  display: flex;
  width: 34%;
  text-align: center;
  flex-direction: row;
}


.profiledetail {
  display: flex;
  flex-direction: row;
}

.profiledetailTitle {
  
}

.profiledetailContent {
  
}

.detail {
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0 10px 10px 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.detailName {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.detailContent {
  padding: 10px;
}

.counseling {
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0 10px 10px 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.counselingName {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.counselingContent {
  padding: 10px;
}

.profileimg {
  
}

.studentArticle {
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0 10px 10px 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.studentArticleTitle {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.studentArticleContent {
  padding: 10px;
}

.selectSize {
  height: 27%;
  width: 80%;
}

.selector {
  word-break: break-all;
}
.cardShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.searchIcon{
  
font-size: 21px;
}