@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

#searchimg {
  width: auto;
  height: 28px;
  margin-left: 8px;
}

#profile-img {
  height: auto;
  border-radius: 90px;
  width: 180px;
}


.profiledetail {
  display: flex;
  flex-direction: row;
}

.profiledetailTitle {
  
}

.profiledetailContent {
  
}

.title {
  font-size: 190%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 10px;
}
.search-select-box {
  height: 27px; 
  width: 100px;
}
.search-input-text {
  margin-left:10px;
  margin-right:10px;
  width: 300px;
}
.manageContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 780px;
  margin-bottom:200px;
}

.memberContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 10px 0px 10px 10px;
  margin-right: 25px;
}
.search-container{
  display: flex;
}

.search {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  height: 800px;
  overflow-y:scroll;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.searchBtn{
  height: 33px;
  padding: 5px 11px 10px 9px;
  margin-left: 3px;
}

.profile {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 10px;
  padding: 10px;
  margin-bottom: 19px;
  border-radius: 10px;
  text-align:center;
}

.studentDetailContainer {
  display: flex;
  flex-direction: column;
  width:40%;
}

.contentWrapper {
  margin: 20px;
  width: 83%;
  margin-left: 8%;
  height: 700px;
}

.searchTitle {
  width: 35%;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, .125);
  background-color: #ECECEC;
}

.searchTitle div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchTitle div:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.searchContent {
  width: 65%;
  text-align: center;
  position: relative;
}

.searchContent div {
  padding-top: 11px;
  padding-bottom: 9px;
}

.searchContent div:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.listName {
  display: flex;
  width: 34%;
  text-align: center;
  flex-direction: row;
}

.detail {
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0 10px 10px 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.detailName {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.detailContent {
  padding: 10px;
}

.counseling {
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0 10px 10px 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.counselingName {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.counselingContent {
  padding: 10px;
}

.profileimg {
  
}

.studentArticle {
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 0 10px 10px 10px;
  margin-bottom: 19px;
  border-radius: 10px;
}

.studentArticleTitle {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.studentArticleContent {
  padding: 10px;
}

.selectSize {
  height: 27%;
  width: 80%;
}

.selector {
  word-break: break-all;
}
.cardShadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display:flex;
  flex-direction:column;
}
.searchIcon{
font-size: 21px;
}


.member-list-container {
  display:flex;
  flex-direction: column;
  cursor:pointer;
}
.member-list-container:hover {
  background:#f7f7f7;
  
}
.member-list-board {
  border:1px solid #a3a3a3;
  border-radius:3px;
  display:flex;
  flex-direction: row;
  text-align: center;
  margin-top: 30px;
  padding-right:19px;
}
.member-list {
  display:flex;
  flex-direction: row;
  text-align: center;
  padding-top:6px;
  padding-bottom:6px;
  border-bottom:1px solid #e3e3e3;
}
.member-list-username {
  width:30%;
}
.member-list-name {
  width:30%;
}
.member-list-role {
  width:20%;
}
.member-list-enabled {
  width:20%;
}
.member-list-enabled i {
  font-size:3px;
  color:#0dd13b;
}
.selectSize {
  size:1;
}
.select-list-count {
 text-align: right; 
 margin-top:10px;
 margin-right:20px;
}








