@charset "UTF-8";

.Wrapper {
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 13%;
  margin-right: 13%;
}

.title {
  font-size: 170%;
  margin: 20px;
}

#h3align {
  margin-bottom: 11px;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
}

.profileTopWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.profileimg {
  margin-right: 9px;
}

#profileimg {
  width: 110px;
  border-radius: 50%;
  height: 110px;
}

.profileContent {
  margin-top: 12px;
  margin-left: 12px;
}

.profileProgressBar {
  margin-top: 17px;
  margin-bottom: 16px;
}

.processBar {
  display: flex;
  margin: 0 0 10px auto;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
  width: 500px;
  height: 206.8px;
  padding: 20px;
  padding-top: 30px;
}

.progres {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 51px;
  position: relative;
}

.progres>span {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  background-color: #D8D8D8;
}

#progress {
  height: 44px;
  border-radius: 4px;
}

.profileName {
  font-size: 14px;
  font-weight: 600;
}

.profileClassroom {
  margin-top: 3px;
  font-size: 14px;
}

.profileDetail {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.progresPercent {
  top: 30%;
  position: absolute;
  left: 43%;
  font-size: 14px;
}

.pdArticleNum {
  color: #CA4E37;
  font-weight: bold;
}

.pdCommentNum {
  color: #CA4E37;
  font-weight: bold;
}

.profileProgressBarTitle {
  margin-bottom: 5px;
}

.profileCourse {
  margin-top: 8px;
  font-size: 14px;
}

.boardNav {
  display: flex;
  flex-direction: row;
  padding: 11px;
  background-color: #EAEAEA;
}

.boardContent {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 7px; */
  padding: 10px;
  cursor: pointer;
}

.boardContent:hover {
  background-color: #f7f7f7;
}

.nav-style {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.cont-style {
  text-align: center;
}

.boardTitle {
  width: 50%;
  font-size: 14px;
}

.boardTitleforComment {
  width: 60%;
  font-size: 14px;
}

.boardDate {
  width: 20%;
  font-size: 14px;
}

.boardView {
  width: 10%;
}

.boardVote {
  width: 10%;
}

.boardId {
  width: 14%;
  font-size: 14px;
}

.middle-border {
  border: 0.7px solid #D0D0D0;
  margin-bottom: 19px;
}

.board {
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 50px;
  border-top: 2px solid #D0D0D0;
}

.Articlesboard {
  border-top: 2px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
}

.Commentsboard {
  border-top: 2px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
}

.articleNavWrapper {
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: row;
}

.nav-font {
  font-size: 13px;
}

.btnwidth {
  width: 93px;
  font-size: 14px;
  padding: 5px 6px;
}

.btn.btn-outline-primary.paging.active {
  background-color: #EA8A02;
  border: 2px #EA8A02 solid;
  color: white !important;
}

.btn.btn-outline-primary.paging {
  background-color: white;
  color: #EA8A02 !important;
  border: 2px #EA8A02 solid;
}

.page-btns {
  margin: 0 auto 50px;
}

.Btnactive {
  background-color: #EA8A02 !important;
  color: white !important;
}

.boardSearchalign {
  width: 60%;
  text-align: right;
}

.selectBar {
  font-size: 13px;
  height: 27px;
  width: 93px;
  margin-right: -6px;
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

.boardSearch {
  font-size: 13px;
  height: 27px;
  padding-left: 5px;
  border-radius: 0 3px 3px 0;
}

.searchBtn {
  height: 27px;
  padding: 2px;
  width: 59px;
  margin-bottom: 1px;
  font-size: 13px;
}

.Btns {
  width: 40%;
}

.articleWrapper {
  width: 100%;
  margin: auto;
}