@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.main-container {
  margin: 20px 50px 10px 200px;
  padding: 5px;
  border-radius: 10px;
  widht: 100%;
  /* height: 100%; */
}

.profile-photo-wrapper {
  margin-bottom:20px;
}

.mypagePhoto, .photo-icon {
  display: inline-flex;
}

.mypagePhoto, .mypageId, .mypagePwd, .mypageName, .mypageEmail {
  font-size: 15px;
  font-weight: bold;
}

.photo-button-wrapper {
  display: inline-grid;
  padding-left: 50px;
}

.mypageIdForm-sub {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  /* width: 20%; */
  height: 10%;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}

input[type=text], input[type=email] {
  margin: 0 0 30px 10px;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  border : 1px solid #c2c2c2;
}

input[type=password]{
  margin: 0 0 30px 10px;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  border : 1px solid #c2c2c2;
  outline:none;
  transition:.3s;
}

input[type=password]:focus{
  border: 1px solid #F39C20;
}
.main-title {
  margin: 10px 0 0 140px;
}

.main-title {
  font-size: 18px;
  font-weight: bold;
}

.photo-parent {
  margin-left: 0px;
  height: 150px;
  margin-top: 10px;
  width:100%;
}

.btn {
  color: white;
}

.submit-btn {
  display: flex;
}

.updateBtn {
  position: absolute;
  right: 430px;
}

.mypage-name:hover {
  border-color: #e8e8e8;
}

.idCheck {
  color: red;
  /* font-weight: bold; */
}

.idCheck, span[class="hidden"] {
  font-weight: 600;
}

.idParent, .passwordParent, .emailParent {
  position: relative;
  width:100%;
}
.idCheck{
  left: 45px;
  position: absolute;
  font-size:12px;
  bottom: 86px;
}
#pwdCheck, #emailCheck {
  bottom: 86px;
  position: absolute;
  left: 60px;
  font-size:12px
}

.user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.btn-change {
  margin-top: 5px
}

#files1 {
  width: 100%;
  display: none;
}

#file-button {
  cursor: pointer;
}

label {
  margin: 0px;
}

.mypageContentForm{
  margin:auto;
  width:60%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.modal-body{
  display:inline-flex;
  margin:auto;
}
.photo-icon{
  display:block;
}