<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet"
  th:href="@{/css/myclass/teacher/managing/main.css}" />
<link rel="stylesheet" th:href="@{/css/myclass/nav.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div th:replace="myclass/teacher/nav :: teacher-nav(manage)"></div>
    <div class="row">
      <div class="card">
        <div class="teacher-manage-left">
          <p class="title">내 수업</p>
          <h5 th:text="${course.course_name}">수업이 없습니다. 수업을 등록해주세요</h5>
          <div class="course_info">
            <h5 th:text="${course.start_date}+'~'+${course.end_date}">2019-01-01</h5>
          </div>
          <div class="progres">
            <div>
              <div class="progress-bar bg-warning progress-bar-striped"
                th:style="'width:' + ${course_percent} + '%; height: 30px;'"></div>
            </div>
          </div>
          <span th:text="${course_percent} + '% 진행중'"> 진행중</span>
          <div class="class-info">
            <h5
              th:text="'총원 '+${all}+'명'+' / '+' 재적 '+${enable}+'명'+' / '+'중탈 '+${disable}+'명'">총원
              23명</h5>
            <div class="btn-teacher">
              <button class="btn btn-primary">학생 관리</button>
            </div>
          </div>
        </div>
        <div class="teacher-manage-right">
          <p class="title" th:text="${project.project_name}+'&nbsp진행중'">?차
            프로젝트</p>
          <h5 th:text="${project.season} + '번째 프로젝트'">번째 프로젝트</h5>
          <h5
            th:text="${project.start_date} + '~' + ${project.end_date}"></h5>
          <div class="progres">
            <div>
              <div class="progress-bar bg-warning progress-bar-striped"
                th:style="'width:' + ${project_percent} + '%; height: 30px;'"></div>
            </div>
          </div>
          <div th:text="${project_percent}+'%'+' 진행중'"></div>

          <div class="btn-group-url">
            <h5>프로젝트 둘러보기</h5>
            <select class="btn-move-project-board">
              <option value=" ">이동하기</option>
              <option th:each="groups : ${groups}"
                th:text="${groups.group_no}+'조 프로젝트'">?조 프로젝트
                게시판</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row-control">
        <div class="row-control-left">
          <div class="left-child1">
            <div class="card">
              <div class="card-content">
                <p class="title">최근과제</p>
                <div class="homework-content">
                  <span>현재 ?명 중 ?명 제출(?%)</span><br>
                  <button class="btn btn-primary">과제 확인하러 가기</button>
                </div>
              </div>
            </div>
          </div>
          <div class="left-child2">
            <div class="card">
              <div class="card-content">
                <p class="title">최근 이슈</p>
                <div class="issue-content">
                  <span>??????????????</span> <span>?조 ???</span><br>
                  <button class="btn btn-primary">이슈 확인하러 가기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-control-right">
          <div class="card">
            <p class="title">우리반 스택</p>
            <div class="class-stack">
              <div class="stack-content">과제를 모르겠수요</div>
              <div class="stack-info">
                <span class="stack-writer">권순조</span> <span
                  class="stack-time">2019-09-21</span>
              </div>
            </div>
            <div class="class-stack">
              <div class="stack-content">과제를 모르겠수요</div>
              <div class="stack-info">
                <span class="stack-writer">권순조</span> <span
                  class="stack-time">2019-09-21</span>
              </div>
            </div>
            <div class="class-stack">
              <div class="stack-content">과제를 모르겠수요</div>
              <div class="stack-info">
                <span class="stack-writer">권순조</span> <span
                  class="stack-time">2019-09-21</span>
              </div>
            </div>
            <div class="class-stack">
              <div class="stack-content">과제를 모르겠수요</div>
              <div class="stack-info">
                <span class="stack-writer">권순조</span> <span
                  class="stack-time">2019-09-21</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/timeline.js}"></script>
  <script>
      
    </script>
</body>
</html>
