@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.title {
  font-size: 190%;
  margin: 20px;
}

table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-collapse: collapse;
}

th, td {
  color: #2d3436;
  padding: 12px;
}

.tdtitle {
  color: black;
  font-size: 170%;
  border-bottom: 1.5px solid #eaebec;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.tdcontent {
  font-family: 'Nanum Gothic';
  font-size: 17.6px;
  border-right: 1.5px solid #eaebec;
  padding-bottom: 30px;
  padding-top: 20px;
}

.tdcontent p {
  font-family: 'Nanum Gothic' !important;
  font-size: 17.6px !important;
}

.tdcontent span {
  font-family: 'Nanum Gothic' !important;
  font-size: 17.6px !important;
}

.td1 {
  width: 55%;
}

.td2 {
  width: 20%;
}

.td3 {
  width: 10%;
}

.td4 {
  width: 50%;
  border-bottom: 1.5px solid #eaebec;
  padding-bottom: 30px;
  padding-top: 20px;
}

.td5 {
  width: 5%;
  border-bottom: 1.5px solid #eaebec;
  padding-bottom: 30px;
  padding-top: 20px;
}

.td6 {
  border-bottom: 1.5px solid #eaebec;
  padding-bottom: 15px;
  text-align: right;
  font-size: 20px;
}

.td7 {
  width: 15%;
}

.td8 {
  width: 2%;
  padding: 12px 8px;
}

.td9 {
  padding-bottom: 35px;
  padding-top: 25px;
}

.td10 {
  padding: 20px 0px 10px 0px;
}

.td11 {
    padding-bottom: 28px;
    padding-top: 25px;
}

.tag-name span {
  border-radius: 5px;
  color: white;
  padding: 5px;
  line-height: 2.0em;
}

#c1 {
  background-color: green;
}

#c2 {
  background-color: #9c88ff; /* 보라색 */
}

#c3 {
  background-color: #487eb0; /* 하늘색 */
}

#c4 {
  background-color: #fbc531; /* 노란색 */
}

#c5 {
  background-color: #e84118; /* 빨간색 */
}

#c6 {
  background-color: #353b48 /* 어두운파란 */
}

.imgp {
  border-radius: 50%;
  width: auto;
  height: 20%;
}

.profileImg {
  border-radius: 50%;
  width: auto;
  height: 90%;
}

.pwriter {
  margin-bottom: 0px;
}

.pfont {
  font-size: 80%;
  color: gray;
  margin-bottom: 0px;
}

#floatdiv {
  position: fixed;
  width: 175px;
  display: inline-block;
  right: 0px; /* 창에서 오른쪽 길이 */
  top: 94%; /* 창에서 위에서 부터의 높이 */
  background-color: transparent;
  margin: 0;
  /* <div id="floatdiv">ㅇㅇ 맞음</div> */
}
/* #sidebox {  
  position: absolute;
  width: 7%;
  top: 45%;
  right: 8%;
} */
/* #sidebox {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 10px;
  color: #fff;
  background-color: #606060;
} */
#floatMenu {
  position: absolute;
  width: 31px;
  left: 85%;
  padding: 0;
  margin: 0;
  z-index: 500;
  text-align: center;
  margin-top: 30px;
}

#imgp2 {
  width: 110%;
  height: auto;
}

.comtitle {
  font-size: 140%;
  margin: 30px;
}

.comtext {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 110px;
  width: 100%;
}

.btnalign {
  text-align: right;
  float: right;
}

.ctd1 {
  width: 87%;
}

.ctd2 {
  width: 13%;
}

.commentCalender {
  font-size: 90%;
  color: gray;
}

#contenteditor {
  width: 10%;
  text-align: right;
}

#deleteCheck {
  cursor: pointer;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.answerWrapper {
  border-radius: 30px;
  border-collapse: collapse;
  background-color: #f7f7f7;
  width: 70%;
  margin-bottom: 20px;
}

.answer-icon {
  color: red;
}

.checkButton{
  cursor: pointer;
  color: black;
}

.deleteBtn{
  color:#007bff;
}

