@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.title-text {
  font-weight: bold;
}

.title {
  margin: 10px 20px 20px 140px;
}

.title h3 {
  font-weight: bold;
  font-size: 18px;
}

table {
  margin-left: 12%;
  margin-right: 10%;
  width: 75%;
  border-collapse: collapse;
}

th, td {
  color: #2d3436;
  padding: 12px;
}

.tdtitle {
  color: black;
  font-size: 19px;
  font-weight: bold;
  border-bottom: 1.5px solid #eaebec;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 17px;
}

.tdcontent {
  font-family: 'Nanum Gothic';
  font-size: 14px;
  padding-bottom: 8px;
  padding-top: 27px;
}

.tdcontent p {
  font-family: 'Nanum Gothic' !important;
}

.tdcontent span {
  font-family: 'Nanum Gothic' !important;
  font-size: 14px !important;
}

.td1 {
  width: 55%;
  font-size: 16px;
}

.td2 {
  width: 20%;
}

.td3 {
  width: 9%;
}

.td4 {
  width: 50%;
  border-bottom: 1.5px solid #eaebec;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 9px;
}

.td5 {
  width: 1%;
  border-bottom: 1.5px solid #eaebec;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-right: 0px;
}

.td6 {
  border-bottom: 1.5px solid #eaebec;
  padding-bottom: 15px;
  text-align: right;
  font-size: 20px;
}

.td7 {
  width: 15%;
}

.td8 {
  width: 2%;
  padding: 12px 3px 12px 8px;
}

.td9 {
  padding-bottom: 35px;
  padding-top: 25px;
  font-size: 14px;
}

.td10 {
  padding: 10px 0px 10px 0px;
  font-size: 14px;
}

.td11 {
  padding-bottom: 28px;
  padding-top: 25px;
  font-size: 14px;
}

.td12 {
  width: 55%;
  font-size: 16px;
  padding: 2px 12px;
}

#profileimg1 {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-right: 5px;
}

#profileimg2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.tag-name span {
  border-radius: 5px;
  color: white;
  padding: 5px;
  line-height: 2.0em;
  font-size: 14px;
}

#c1 {
  background-color: green;
}

#c2 {
  background-color: #9c88ff; /* 보라색 */
}

#c3 {
  background-color: #487eb0; /* 하늘색 */
}

#c4 {
  background-color: #fbc531; /* 노란색 */
}

#c5 {
  background-color: #e84118; /* 빨간색 */
}

#c6 {
  background-color: #353b48 /* 어두운파란 */
}

.imgp {
  border-radius: 50%;
  width: auto;
  height: 20%;
}

.profileImg {
  border-radius: 50%;
  width: auto;
  height: 90%;
}

.pwriter {
  margin-bottom: 0px;
  font-size: 15px;
}

.pfont {
  font-size: 14px;
  color: gray;
  margin-bottom: 0px;
}

#floatdiv {
  position: fixed;
  width: 175px;
  display: inline-block;
  right: 0px; /* 창에서 오른쪽 길이 */
  top: 94%; /* 창에서 위에서 부터의 높이 */
  background-color: transparent;
  margin: 0;
  /* <div id="floatdiv">ㅇㅇ 맞음</div> */
}
/* #sidebox {  
  position: absolute;
  width: 7%;
  top: 45%;
  right: 8%;
} */
/* #sidebox {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  top: 10px;
  color: #fff;
  background-color: #606060;
} */
#floatMenu {
  position: absolute;
  width: 31px;
  left: 85%;
  padding: 0;
  margin: 0;
  z-index: 500;
  text-align: center;
  margin-top: 30px;
}

#imgp2 {
  width: 110%;
  height: auto;
  margin-bottom: 2px;
  margin-top: 3px;
}

.comtitle {
  font-size: 18px;
  margin: 30px;
  font-weight: bold;
}

.comment-writer {
  font-size: 14px;
  font-weight: bold;
  padding-left: 3px;
}

.commentCalender {
  font-size: 12px !important;
  font-weight: normal;
}

.comtext {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 110px;
  width: 100%;
  resize: none;
}

.btnalign {
  text-align: right;
  float: right;
}

.ctd1 {
  width: 87%;
}

.ctd2 {
  width: 13%;
}

.commentCalender {
  font-size: 12px;
  color: gray;
}

#contenteditor {
  width: 18%;
  text-align: right;
  padding: 2px 12px;
}

#deleteCheck {
  cursor: pointer;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.answerWrapper {
  border-radius: 30px;
  border-collapse: collapse;
  background-color: #f7f7f7;
  width: 75%;
  margin-bottom: 20px;
}

.answer-icon {
  color: red;
}

.checkButton {
  cursor: pointer;
  color: black;
}

.checkButton:hover {
  cursor: pointer;
  color: gray;
}

.checkButton:active {
  cursor: pointer;
  color: #ea8a02;
}

.deleteBtn {
  color: #007bff;
}

.btn {
  font-size: 14px;
}

.stack-wrapper {
  font-size: 14px;
}

.utilNav {
  font-size: 21px;
}

.votecountalign {
  text-align: center;
  padding: 41px 0px 30px 0px;
}

.votecount {
  font-size: 22px;
  color: #808080;
}

.voteSpan {
  padding: 16px;
  border: 5px solid #eeeeee;
  border-radius: 14px;
}

.votecount-font {
  color: gray;
}

.top {
  position: fixed;
  right: 2%;
  bottom: 3%;
  display: none;
}

.iconSize {
  font-size: 49px;
  color: #F39D20;
}

.bookmarkRow {
  text-align: right;
}

.bookmarkIcon {
  font-size: 16px;
}

.commentWriterName {
  cursor:pointer;
}

.messageReceiverId {
  display:none;
}

.toForm {
  margin-left: 20px;
  font-weight:bold;
}

.my-comment-name {
  cursor: default;
}

.messageForm:focus {
  outline-color: #F39B10;
}

.messageTitle {
  font-size:16px;
  font-weight: bold;
  margin-left: 20px;
}

.messageHeader {
  height:40px;
}

.modal-body {
  height:200px;
  width:500px;
}

.messageForm {
  width: 100%;
  height:100%;
  resize:none;
}

.bookmarkSpan {
  padding: 8px;
  border: 4px solid white;
  border-radius: 15px;
  background-color: #EEEEEE;
  cursor: pointer;
}
.bookmarkLabel{
  
font-size: 14px;
  
margin-right: 3px;
}