@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.title {
  margin: 10px 20px 20px 140px;
}

.title h3 {
  font-size: 18px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th, td {
  color: #2d3436;
  padding: 8px;
}

td[colspan="2"] {
  max-height: 160px;
}

.tdtitle {
  color: #0984e3;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.tdtitle:hover {
  color: #20cdff;
}

.tdcontent {
  cursor: pointer;
  max-height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tdcontent br {
  display: none;
}

.tdcontent b {
  display: none;
}

.tdcontent p span {
  font-weight: 100 !important;
  font-style: normal !important;
}

.tdcontent p img {
  display: none;
}

.tdcontent p {
  margin: 0px;
  display: inline;
  font-family: 'Nanum Gothic' !important;
  font-size: 14x !important;
}

.tdst {
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
}

.td1 {
  text-align: center;
  width: 5%;
  color: #535c68;
}

.td2 {
  font-size: 80%;
  text-align: center;
}

.td3 {
  width: 50%;
}

.td4 {
  width: 20%;
  font-weight: bold;
}

.td5{
    font-size: 80%;
    text-align: center;
    padding: 5px 0px;
}

.tag-name span {
  border-radius: 5px;
  color: white;
  padding: 5px;
  line-height: 2.0em;
  cursor: pointer;
}

.write-btns {
  margin-right: 10%;
}

#c1 {
  background-color: green;
}

#c2 {
  background-color: #9c88ff; /* 보라색 */
}

#c3 {
  background-color: #487eb0; /* 하늘색 */
}

#c4 {
  background-color: #fbc531; /* 노란색 */
}

#c5 {
  background-color: #e84118; /* 빨간색 */
}

#c6 {
  background-color: #353b48 /* 어두운파란 */
}

#c7 {
  background-color: pink;
}

.seaimg {
  width: 3.5%;
  height: auto;
  margin-left: 1%;
}

.seath {
  float: right;
  text-align: right;
}

.btnalign {
  text-align: right;
}

.btnpa {
  padding: 10px;
}

.page-btns {
  margin: auto;
  margin-bottom: 200px;
}

.write-btns {
  float: right;
}

.btn.btn-primary.paging {
  background-color: white;
  color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}

.btn {
  font-size: 14px;
}

.seath input#boardSearch {
  height: 30px;
  margin: 5px;
}

.seath input.btn {
  padding: 5px 12px;
  margin-top: -3px;
}

.btn.btn-primary.paging.active {
  background-color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}

.titleanswer {
  color: red;
  font-size: 12px;
}

.tableWrapper {
  margin-left: 13%;
  margin-right: 14%;
}

#profileimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.navBar{
  
height: 44px;
}

.writeBtn{
  
}
.searchBtn{padding: 4px 12px;}
.selectBar{
   height: 27px;
   margin-right: 4px;
}