@charset "UTF-8";

.title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}

#boardSearch {
  height: 32px;
  padding: 5px 8px;
}

.TopNav {
  display: flex;
  width: 80%;
  margin: 20px auto;
  padding-bottom: 19px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 16px;
}

.plusTag {
  padding: 4px 7px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  font-size: 14px;
}

th, td {
  color: #2d3436;
  padding: 8px;
}

td[colspan="2"] {
  max-height: 160px;
}

.tdtitle {
  color: #0984e4;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}

.tdtitle:hover {
  color: #20cdff;
}

.tdcontent {
  cursor: pointer;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 715px;
}

.tdcontent * {
  font-size: 14px !important;
  line-height: 20px !important;
}

.tdcontent br {
  display: none;
}

.tdcontent b {
  display: none;
}

.tdcontent p span {
  font-weight: 100 !important;
  font-style: normal !important;
}

.tdcontent p img {
  display: none;
}

.tdcontent p {
  margin: 0px;
  display: inline;
  font-family: "Nanum Gothic" !important;
  font-size: 14x !important;
}

.tdst {
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
}

.td1 {
  text-align: center;
  width: 5%;
  color: #535c68;
}

.td2 {
  font-size: 12px;
  text-align: center;
}

.td3 {
  width: 50%;
  padding: 5px 5px;
}

.td3 span {
  margin-left: 1px;
}

.td4 {
  width: 20%;
  padding-left: 7px;
}

.td5 {
  font-size: 12px;
  text-align: center;
  padding: 5px 0px;
}

.tag-name span {
  border-radius: 5px;
  color: white;
  padding: 5px;
  line-height: 2em;
  cursor: pointer;
}

.tag-name span:active {
  padding: 4px;
}

#c1 {
  background-color: green;
}

#c2 {
  background-color: #9c88ff; /* 보라색 */
}

#c3 {
  background-color: #487eb0; /* 하늘색 */
}

#c4 {
  background-color: #fbc531; /* 노란색 */
}

#c5 {
  background-color: #e84118; /* 빨간색 */
}

#c6 {
  background-color: #353b48; /* 어두운파란 */
}

#c7 {
  background-color: pink;
}

.seaimg {
  width: 3.5%;
  height: auto;
  margin-left: 1%;
}

.btnalign {
  text-align: right;
}

.btnpa {
  padding: 10px;
}

.page-btns {
  margin: auto;
  margin-bottom: 50px;
}

.write-btns {
  float: right;
}

.btn.btn-primary.paging {
  background-color: white;
  color: #ea8a02;
  border: 2px #ea8a02 solid;
  font-weight: bold;
}

.btn {
  font-size: 14px;
}

.btn.btn-primary.paging.active {
  background-color: #ea8a02;
  border: 2px #ea8a02 solid;
  font-weight: bold;
}

.titleanswer {
  color: red;
  font-size: 16px;
}

.tableWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#profileimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.navBar {
  height: 44px;
}

.writeBtn a {
  height: 32px;
}

.searchBtn {
  height: 32px;
  margin-bottom: 3px;
  line-height: 16px;
}

.selectBar {
  height: 32px;
  margin-right: -4px;
  border-right: none;
}

.selectBar:focus {
  outline: none;
  border: 1px solid #f29c20;
}

.writer-name {
  font-weight: 600;
  font-size: 13px;
}

.write-date {
  color: gray;
  font-size: 13px;
  margin-left: 5px;
}

.writerWrapper {
  height: auto;
}

.tableBorder {
  padding: 1px;
}

.article-title {
  font-size: 16px;
  color: #292929;
}

.tag-text {
  font-size: 14px;
  margin-top: 4px;
  color: gray;
  height: 28px;
  margin-right: 3px;
  width: 180px;
  padding: 5px 10px;
  border-radius: 3px;
}

.tag-plus-btn {
  padding: 4px 10px;
  margin-top: 3.2px;
  height: 30px;
}

.tag-body {
  display: flex;
  font-size: 14px;
  padding-left: 10px;
}

.tag-list {
  font-size: 14px;
  border: 1px solid #e0e0e0;
  padding: 7px 16px;
  margin: 9px;
  height: 350px;
}

.ss-scroll {
  right: -421px !important;
}

.tag-nav {
  display: flex;
}

.tag-content {
  display: flex;
}

.tagName {
  width: 46%;
  padding-top: 5px;
}

.tagColor {
  display: flex;
  width: 55%;
}

.color-style {
  background-color: white;
  padding: 0px;
  width: 35px;
  height: 37px;
  padding-bottom: 1px;
  border: 0px;
  margin-right: 2px;
}

.color-style2 {
  background-color: white;
  padding: 0px;
  width: 30px;
  height: 34px;
  padding-bottom: 1px;
  border: 0px;
}

.tagcolorspan {
  padding-left: 5px;
  padding-top: 5px;
}

.tagColorNav {
  display: flex;
  width: 50%;
  padding-top: 5px;
  font-weight: bold;
}

.NameStyle {
  font-weight: bold;
}

.tag-content:hover {
  background-color: #f6f6f6
}

.btn-outline-primary {
  border: 1px solid !important;
}