@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.title {
  font-size: 190%;
  margin: 20px;
}

table {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  color: #2d3436;
  border: 1px solid white;
  padding: 10px;
}

td[colspan="2"] {
  max-height: 160px;
}

.tdtitle {
  color: #0984e3;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
}

.tdtitle:hover {
  color: #20cdff;
}

.tdcontent {
  cursor: pointer;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 110%
}

.tdcontent br {
  display: none;
}

.tdcontent p img {
  display: none;
}

.tdcontent p {
  margin: 0px;
  display: inline;
  font-family: 'Nanum Gothic'!important;
  font-size: 15.6px!important;
}

.tdst {
  font-size: 130%;
  font-weight: bold;
}

.td1 {
  text-align: center;
  width: 5%;
  color: #535c68;
}

.td2 {
  font-size: 80%;
}

.td3 {
  width: 50%
}

.td4 {
  width: 20%;
  font-weight: bold;
}

.tag-name span {
  border-radius: 5px;
  color: white;
  padding: 5px;
}

#c1 {
  background-color: green;
}

#c2 {
  background-color: #9c88ff; /* 보라색 */
}

#c3 {
  background-color: #487eb0; /* 하늘색 */
}

#c4 {
  background-color: #fbc531; /* 노란색 */
}

#c5 {
  background-color: #e84118; /* 빨간색 */
}

#c6 {
  background-color: #353b48 /* 어두운파란 */
}

#c7 {
  background-color: pink;
}

.seaimg {
  width: 3.5%;
  height: auto;
  margin-left: 1%;
}

.seath {
  float: right;
  text-align: right;
}

.btnalign {
  text-align: right;
}

.btnpa {
  padding: 10px;
}

.page-btns {
  margin: auto;
  margin-bottom:200px;
}

.write-btns {
  margin-right: 17%;
}

.btn.btn-primary.paging {
  background-color: white;
  color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}

.btn.btn-primary.paging.active {
  background-color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}