-- 부트스트랩의 기본 요소 수정하는 css

* {
  font-family: 'Nanum Gothic', sans-serif; 
}

.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.modal-content{
  width: 30%;
}

#modal.fade{
  margin : 10px 0px 0px 500px;
}

.modal.fade{
  margin : 10px 0px 0px 500px;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}