-- 부트스트랩의 기본 요소 수정하는 css * {
  font-family: "Nanum Gothic", sans-serif;
}

.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-primary {
  background-color: #f39c20 !important;
  border: #f39c20 !important;
}

.btn-primary:disabled {
  background-color: #d99029 !important;
  border: #d99029 !important;
}

.btn-outline-primary {
  border: 1px solid #f39c20 !important;
  color: #e89013 !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #ea8a02 !important;
  color: white !important;
}

.btn-primary:active,
.btn-outline-primary:active {
  background-color: #ea8a02 !important;
  border-color: #c17201 !important;
}

.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 145, 5, 0.5) !important;
}
