@charset "UTF-8";

.sidebar {
  height: 100vh;
  width: 210px;
  color: white;
  background-color: #2D3E50;
  display: flex;
  box-shadow: 1px 0px 12px rgba(0,0,0,0.12);
  box-sizing: border-box;
}

.side-nav {
  width: 60px;
}

.side-nav-menu {
  background-color: white;
  flex: 1;
}

.main {
  height: 150vh;
  flex: 1;
}

.col-main {
  flex: 1;
}

