@charset "UTF-8";

.sidebar-main, .sidebar {
  height: 100vh;
  width: 210px;
  color: white;
  background-color: #2D3E50;
  box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: fixed;
}

.sidebar {
  display: flex;
  padding-right: 0px !important;
}

.side-nav {
  width: 60px;
}

.side-nav-menu {
  background-color: white;
  flex: 1;
}

.main {
  flex: 1;
  margin-left: 210px;
  margin-top: 50px;
}

.col-main {
  flex: 1;
}

a:hover {
  text-decoration: none;
}

.note-popover, .popover-content {
  display: none;
}

input[type="text"],input[type=password], textarea { 
  outline: none;
  transition: .1s;
  border: 1px solid #c2c2c2;
}

input[type="text"]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid #F39C20;
}
