body {
  font-family: "Nanum Gothic";
  background-color: black;
}

#label-wrapper {
  font-weight: bold;
}

#login-title-wrapper {
  margin-bottom: 30px;
}

#login-title {
  margin-left: 14px;
  font-size: 28px;
  font-weight: 100;
}

.main {
  background-color: gray;
  height: 100vh;
  text-align: right;
  padding: 210px 0px 0px 100px;
  background: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
}

#login-wrapper {
  position: fixed;
  width: 23%;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  border: 1px solid #eeeeee;
}

#username, #password {
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
  height: 43px;
  padding-left: 15px;
  border-radius: 10px;
  border: solid #eeeeee;
  outline: none;
  -moz-outline-radius: 10px;
  width: 90%;
  border-radius: 3px;
  margin-top: 3px;
  transition: .3s;
}

#username::placeholder, #password::placeholder {
  font-size: 12px;
}

#username:focus, #password:focus {
  border: 3px solid #F39C20;
}

#button-wrapper {
  text-align: center;
}

#submit-button {
  border: 2px solid #f39c20;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  outline: none;
  border-radius: 93px;
  cursor: pointer;
}

#submit-button:active {
  transform: scale(0.99);
}

button {
  background-color: white;
  color: #f39c20;
  background: none;
  outline: none;
}

button:hover {
  color: white;
  background-color: #f39c20;
}

button::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

button:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.fail {
  color: red;
  font-size: 14px;
}

.input-label {
  font-size: 13px;
  font-weight: 400;
  margin-left: 13px;
}

#remember-me {
  display: none;
}

.remember-me {
  font-size: 13px;
  user-select: none;
}

#remember-me + svg {
  user-select: none;
}

.remember-me, #remember-me + svg {
  cursor: pointer;
}

#remember-me:checked + svg {
  color: #F29C20;
}

#remember-me:active + svg {
  transform: scale(0.9);
}

.checkbox-area {
  display: flex;
  margin-left: 16px;
}

.find-password {
  margin-left: auto;
  font-size: 13px;
  line-height: 25px;
  cursor: pointer;
}

.find-password:hover {
  text-decoration: underline !important;
}

.find-password:active {
  font-weight: bold;
}

.modal-title {
  font-weight: bold;
  font-size: 18px;
}

.modal-content p {
  font-size: 14px;
  margin: 10px 0;
}

.modal-content label {
  display: block;
  font-size: 14px;
}

.modal-content input {
  margin-left: 20px;
  width: 70%;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 3px 10px;
  transition: .2s;
}

.modal-content input:focus {
  border: 1px solid #F29C20;
}

#email-error {
  margin: 0 50px 3px;
  color: #FF3B30;
}
