
body{
    font-family: 'Nanum Gothic';
    background-color: black
}
#label-wrapper{
    font-weight: bold;
}
#login-title-wrapper{
    margin-bottom:30px;
}
#login-title{
    font-size:35px;
    font-weight: bold;
}
#container{
    background-color: gray;
    height: 80vh;
    margin:10px;
    text-align:right;
    

    padding: 210px 0px 0px 100px;
    background-image: url('https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size:100%;
}
#login-wrapper{
    position:fixed;
    width : 23%;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding : 30px 30px 30px 30px;
    border:1px solid #eeeeee ;
}
input{
    margin : 15px;
    margin-top : 0px;
    margin-bottom: 20px; 
    height : 43px;
    padding-left : 15px;
    border-radius: 10px;
    border:solid #eeeeee;
    outline:none;
    -moz-outline-radius: 10px;
}
#username, #password{
    width:90%;
}
#button-wrapper{
    text-align: center;
}
#submit-button{
    
    border:solid #F39C20;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    
    border-radius: 93px;
    cursor:pointer;
}
button{
    background-color:white;
    color: #F39C20;
    background: none;
}
button:hover {
    color: white;
    background-color:#F39C20;
}
button::after{
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}
button:hover:after{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.fail{
    color:red;
}

  
