@charset "UTF-8";
#createClassTitle{
    text-align: left;
    margin : 30px;
    font-size : 30px;
    font-weight : bold;

}
body{
    font-family: 'Nanum Gothic'
}
input {
    padding: .4em .8em .4em .8em;
    font-family: inherit;
    appearance: none;
    border: 1px solid #999;
    border-radius: 10px;
    width: 90%;
    outline: none;
    margin-bottom: 10px
}

 #th{
      font-weight: bold;
  }
  th, td {
    text-align: center;
    padding: 16px;
  }
  
  th:first-child, td:first-child {
    text-align: center;
  }
  


select {
    text-align: center;
    width: 90%;
    padding: .4em .8em .4em .8em;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #999;
    border: 1px solid #999;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px
  }
  
  select::-ms-expand {
    /* for IE 11 */
    display: none;
  }


#teacherNameSelectWrapper{

}

#dateWrapper{
}
#img{
    width:40px;
    height:40px;
}
#classRoomSelectWrapper{

}


#imgWrapper{
    margin:0px 20px 0px 20px;
}
#classNameWrapper{
}
#studentAmountWrapper{
}

