@charset "UTF-8";

.row {
	height: 100%;
	background-color: #F2F4F7;
}

.message-box2 {
	border: 1px solid #ededed;
	width: 34%;
	height: 100%;
	margin-right: 10px;
	border-radius: 12px;
	overflow-y: scroll;
	max-height: 700px;
	background-color: white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #2D3E50;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

.message-paper2 {
	border: 1px solid #ededed;
	width: 54%;
	height: 700px;
	border-radius: 12px;
	overflow-y: scroll;
	background-color: white;
}

.message2 {
	padding: 12px 16px;
	cursor: pointer;
	border-radius: 20px;
	border: 2px solid #F39B10;
	margin: 2px 10px 10px 10px;
}

.message-sender2 {
	display: flex;
	border-bottom: 1px solid;
}

.time2 {
	font-size: 13px;
	margin-left: auto;
	margin-bottom: 5px;
	font-weight: bold;
}

.sender2 {
	color: #292929;
	font-size: 14px;
	font-weight: 900;
	margin-top: 3px;
}

.message-preview2 {
	font-size: 14px;
	color: #737373;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 7px;
}

.message-title2 {
	margin: 0;
	line-height: 33px;
	color: #292929;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.message-menu2 {
	margin-left: auto;
	color: #c62917;
	width: 20%;
	display: flex;
	cursor: pointer;
}

.message-menu2 i {
	margin: 0 auto;
}

.message-top2 {
	display: flex;
	padding: 20px 20px
}

.paper-title2 {
	color: #292929;
	line-height: 26px;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.message-info2 {
	display: flex;
	padding: 10px 20px;
}

.receive-send2 {
	color: #0ca5af;
	font-size: 14px;
	font-weight: bold;
}

.message-text2 {
	margin-top: 4px;
	line-height: 20px;
	color: #292929;
	font-size: 14px;
	word-wrap: break-word;
	padding: 20px;
	white-space: pre-wrap;
}

.hidden {
	display: none;
}

.message-sender-name {
	font-size: 20px;
	color: black;
	font-weight: bold;
	display: flex;
	margin-left: 20px;
}

.sender-message {
	color: orange;
	margin-left: 20px;
}

.fa-trash {
	display: none;
}

.send-message-icon {
	display: flex;
}

.message-right {
	margin-left: auto;
	display: flex;
	margin-top: 20px;
}

.message-sender-time {
	margin-left: auto;
}

.message-timeform {
	display: flex;
}

.message-sender-content {
	margin-left: 20px;
	margin-top: 50px;
}

.main {
	margin-left: 400px;
	margin-top: 100px;
}

.fa-check {
	color: green;
}

.iconnew {
	color: red;
	font-family: sans-serif;
	font-weight: bold;
}

.fa-paper-plane {
	display: none;
	margin-right: 30px;
}

.text-move {
	margin-left: 12px;
	font-size: 30px;
}

.text-font {
	font-weight: bold;
}

.message-title-count {
	font-size: 15px;
	margin-left: 210px;
}

.countM {
	color: #F39B10;
	
}

.icon-move {
	margin-top: 10px;
}

.movemov {
	margin-top: 20px;
	margin-left: 20px;
}

.message-realtime {
	margin-left : 380px;
}

.iconnew { 
  color: red;
  font-weight: bold;
  font-family: sans-serif; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}