@import "sidebar.css";

.logo {  
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid white;
}

.logo img {
  width: 64px;
}

.user-profile {
  border-bottom: none;
}

.user-info-btn {
  display: flex;
  justify-content: center;
}

.user-info-btn .btn {
  width: 75px;
}

.user-info-btn button {
  margin: auto;
  margin-left: 5px;
}

.user-info-btn a {
  margin: autp;
  margin-right: 5px;
}

.user-info {
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid white;
  width: 85%;
}

.user-profile {
  text-align: center;
}

.user-photo {
  border-radius: 32px;
}

.user-name {
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
}

.side-nav {
  width: 100%;
  padding-top: 20px;  
}

.nav-menu {
  margin-bottom: 12px;
  display: flex;
}

.nav-menu a {
  color: white;
  display: flex;
}

.nav-icon {
  margin-left: 30px;
  width: 30px;
}

.menu-name {
  margin-left: 35px;
  line-height: 55px;
}
.user-photo{
  width:50px;
  height:50px;
  border-radius:50%;
}