.top-nav {
  box-sizing: border-box;
  flex: 1;
  background-color: #EEEEEE;
  height: 38px;
  width: 100%;
  display: flex;
  padding-right: 10px;
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 10px;
  position: fixed;
  z-index: 1000;
}

.top-nav a {
  margin: 0 8px;
  color: #2D3E50;
}

.fa-sign-out-alt:hover {
  color: #e74c3c;
}

.fa-sign-out-alt {
  margin-left: 10px;
}

.fa-bell:hover {
  color: #f39c12;
}

.fa-user:hover {
  color: #4CAF50;
  height: 21px;
}

.fa-envelope:hover {
  color: #3F51B5;
}

svg:active {
  transform: scale(0.92);
}

.message, .notification {
  position: relative;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -6px;
  font-size: 10px;
  line-height: 1.3;
  background-color: #F39B10;
  color: white;
  padding: 1px 3px;
  border-radius: 3px;
  margin-right: 1px;
}

.notification {
  border-right: 1px solid #d6d6d6;
}

.top-nav button {
  border: none;
  background: none;
}

.top-nav button:active, button:focus {
  outline: none;
}

.top-nav button:active,
.top-nav i:active {
  transform: scale(0.92);
}

.notice {
  padding: 3px 10px;
  margin-bottom: 3px;
  color: black;
}

.no-notice, .notice-link {
  display: block;
  border-bottom: 1px solid gray;
}

.notice-title {
  font-weight: bold;
}

.popover-body *:last-child {
  border: none;
}

.notice-content {
  margin-bottom: 3px;
}

#notices {
  display: none;
}

.popover-body {
  padding: 5px;
  max-height: 186px;
  overflow-y: scroll;
}

.toast-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.toast-content {
  margin: 0;
  color: black;
}

.message-color, .mypage-color {
  color:black;
}
