<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/myclass/homework/detail.css}" />
<link
  href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css"
  rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="row">
      <div id="title">과제 제출</div>
    </div>
    <div class="row" th:object="${article}">
      <div class="homework-container">
        <span class="hw-title">제목</span> 
        <span class="homework-title" th:text="${article.title}">안녕</span>
      </div>
      <div class="homework-container">
        <span class="hw-title">시작일</span> <span
          class="homework-startDate"
          th:text="${#strings.arraySplit(article.time,' ')[0]}">2019-07-01</span>
        <span class="hw-title">종료일</span> <span class="homework-endDate"
          th:text="${article.option.end_date}">2019-07-29</span>
      </div>
      <div class="homework-content" th:utext="${article.content}">별찍기
        10문제를 만들어서 올리세요^^</div>
      <div class="button-wrapper" id="buttons">
        <a href="/myclass/homework" class="btn btn-primary btn-sm">목록</a>
        <a th:href="@{/myclass/homework/edit(id=${article.id})}"
          class="btn btn-primary btn-sm">수정</a>
        <button class="btn btn-primary btn-sm" id="delete-btn">삭제</button>
        <hr>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      <div class="homework-submit-container">
      <div class="contents">
        <input type="hidden" name="original_id" th:value="${article.id}">
        <span class="ppt-upload-text">발표자료</span> 
        <span class="ppt-upload-input"><input type="file" name="file1"></span> 
        <span class="source-upload-text">소스코드</span>
        <span class="source-upload-input"><input type="file" name="file2"></span>
      </div>
      <div id="buttons">
        <input type="submit" class="btn btn-primary btn-sm" value="제출">
      </div>
      </div>
    </form>
    <div class="reply-container">
      <div class="relpy-article" th:each="reply : ${replies}">
        <div class="reply-group">2조</div>
        <!-- <div class="reply-noneFile" th:if="${reply.option.files[0] == null}">등록된 파일이 없습니다.</div> -->
        <div class="reply-files">
          <div class="pptFile">
            <a th:if="${reply.option.files[0] != null}"
               th:href="@{{filename}(filename=${reply.option.files[0].filename})}"
               th:attr="download=${reply.option.files[0].original_filename}">
              <i class="fas fa-save"></i><span class="link" th:text="${reply.option.files[0].original_filename}"></span>
            </a>
          </div>
          <div class="sourceFile">
            <a th:if="${reply.option.files[1] != null}"
               th:href="@{{filename}(filename=${reply.option.files[1].filename})}"
               th:attr="download=${reply.option.files[1].original_filename}">
              <i class="fas fa-save"></i><span class="link" th:if="${reply.option.files[1] != null}" th:text="${reply.option.files[1].original_filename}"></span>
            </a>
          </div>
        </div>
        <div class="relpy-name" th:text="${reply.writer.name}"></div>
        <div class="relpy-writeDate" th:text="${#temporals.format(reply.timeLocal, 'yyyy-MM-dd')}"></div>
        <div class="reply-update-button"><i class="far fa-trash-alt"></i></div>
      </div>
      <div class="relpy-name" th:text="${reply.writer.name}"></div>
      <div class="relpy-writeDate" th:text="${#temporals.format(reply.timeLocal, 'yyyy-MM-dd')}"></div>
      <div class="reply-update-button"><button id ="reply-delete-button" th:onclick=" 'javascript:replyDelete(' + ${reply.id} +')'" th:value="${reply.id}" name="reply-delete-button"><i class="far fa-trash-alt"></i></button></div>
    </div>
  </div>
  <!-- 필요하다면 이 아래에 외부 자바스크립트도 추가 가능 -->
  <script
    src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
  <script>
      $("#summernote").summernote({
        height : 300,
        disableResizeEditor : true
      });
      
      $("#delete-btn").click(function(event) {
        
        Swal.fire({
          title: '정말 삭제하시겠습니까?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#F39B10',
          cancelButtonColor: '#A6A6A6',
          confirmButtonText: '네',
          cancelButtonText: '아니요'
        }).then((result) => {
          if (result.value) {
           
            $.ajax({
              url: "/myclass/homework/delete",
              type: "POST",
              data: {
                id: [[${article.id}]]
              },
              success: function(data) {
                Swal.fire({
                  	title: '삭제되었습니다',
                  	type: 'success',
                  	confirmButtonText: '확인',
                  	confirmButtonColor: '#F39B10'
                    
                }).then(function() {
                    location.href = "/myclass/homework";
                  });
                
              }
            });
            
          }
        })
  
      });
      function replyDelete(id) {
        
        Swal.fire({
          title: '정말 삭제하시겠습니까?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#F39B10',
          cancelButtonColor: '#A6A6A6',
          confirmButtonText: '네',
          cancelButtonText: '아니요'
        }).then((result) => {
          if (result.value) {
           console.log("이건?",result,"//",result.value,"//",id)
            $.ajax({
              url: "/myclass/homework/delete",
              type: "POST",
              data: {
                id: id
              },
              success: function(data) {
                Swal.fire({
                  	title: '삭제되었습니다',
                  	type: 'success',
                  	confirmButtonText: '확인',
                  	confirmButtonColor: '#F39B10'
                    
                }).then(function() {
                    location.href = "/myclass/homework/detail?id="+[[${article.id}]];
                  });
                
              }
            });
            
          }
        })
  
      };
    </script>
</body>
</html>