<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/myclass/homework/list.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
    <div class="board-main-title">
      과제제출 게시판
      <div class="search-item">
        <form action="" method="get">
          <input type="text" class="inputtext" id="boardSearch"
          name="boardSearch" placeholder="검색어를 입력해주세요">
          <input type="submit" class="btn btn-primary" value="검색">
        </form> 
      </div>
    </div>
    <div class="board">
      <div class="board-topnav">
        <span class="board-title" >제목</span> <span class="board-writer">작성자</span>
        <span class="board-write-time">작성일</span> <span
          class="board-count">조회</span>
      </div>
      <th:block th:each="homeworkList : ${homeworkList}">
      <a th:if="${boardSearch} != null" th:href="@{/myclass/homework/detail(id=${homeworkList.id}, page=${page}, boardSearch=${boardSearch})}"  class="article">
        <div class="board-content">
          <span class="title" th:text="${homeworkList.title}">주말 개인과제</span> <span class="writer" th:text="${homeworkList.username}">임경균
            강사님</span> <span class="write-time" th:text="${#strings.arraySplit(homeworkList.time,' ')[0]}">2019.07.01</span> <span
            class="write-count" th:text="${homeworkList.view_count}">16</span>
        </div>
      </a>
      <a th:if="${boardSearch} == null" th:href="@{/myclass/homework/detail(id=${homeworkList.id}, page=${page})}"  class="article">
        <div class="board-content">
          <div class="article-title">
            <span class="title" th:text="${homeworkList.title}"></span>
            <span class="comment-size" th:if="${homeworkList.commentSize > 0}" th:text="'[' + ${homeworkList.commentSize} + ']'"></span>          
          </div>
          <span class="writer" th:text="${homeworkList.username}"></span>
          <span class="write-time" th:text="${#strings.arraySplit(homeworkList.time,' ')[0]}"></span>
          <span class="write-count" th:text="${homeworkList.view_count}"></span>
        </div>
      </a>
      </th:block>
    </div>
    <div class="row">
      <!-- 페이지 버튼 -->
      <div class="page-btns">
        <span th:if="${pager.prev}">
          <a class="btn btn-primary paging" th:href="@{/myclass/homework(page=${pager.startPage}-1)}">&laquo;</a>
        </span>
        <span th:each="idx, iterStat : ${#numbers.sequence(pager.startPage,pager.endPage)}" >
          <a th:if="${boardSearch} != null" class="btn btn-primary paging" th:href="@{/myclass/homework(page=${idx},boardSearch=${boardSearch})}" th:classappend="${pager.currentPage} == ${idx} ? active" th:text="${idx}"></a>
          <a th:if="${boardSearch} == null" class="btn btn-primary paging" th:href="@{/myclass/homework(page=${idx})}" th:classappend="${pager.currentPage} == ${idx} ? active" th:text="${idx}"></a>          
        </span>
        <span th:if="${pager.next} and ${pager.endPage > 0}">
          <a class="btn btn-primary paging" th:href="@{/myclass/homework(page=${pager.endPage}+1)}">&raquo;</a>
        </span>
      </div>

      <div class="write-btns">
        <a href="/myclass/homework/write" class="btn btn-primary">글쓰기</a>
      </div>
    </div>




  </div>
  <!-- 필요하다면 이 아래에 외부 자바스크립트도 추가 가능 -->

  <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
  <script>
      
    </script>
</body>
</html>
