@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.Wrapper {
  
}

.errorContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 90px auto;
}

.logoSubContainer {
  padding-bottom: 14px;
}

.errorSubContainer {
  display: flex;
}

.errorMessage {
  flex-direction: row;
  width: 65%;
  padding-left: 11px;
}

.errorImg {
  flex-direction: column;
}

.error-img {
  width: 240px;
}

.errorNum h1 {
  font-size: 37px;
  margin: 0px;
}

.errerDetail h3 {
  font-size: 23px;
}

.errerDetail div {
  font-size: 17px;
  padding: 10px 10px 11px 10px;
}

.nthfirst {
  margin-left: 10px
}

.logotext {
  height: 55px;
  margin-left: 5px;
}

.main-btn {
  font-size: 15px;
}

.img403 {
  width: 260px !important;
  padding-top: 10px;
}

.logo500 {
  margin: 0px;
  padding-left: 9px;
  padding-top: 8px;
}

.Img500 {
  width: 255px;
  margin-right: 11px;
}