@charset "UTF-8";

body {
  font-family: "Nanum Gothic";
}

.errorContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 50px auto;
}

.logoSubContainer {
  padding-bottom: 14px;
}

.errorSubContainer {
  display: flex;
}

.errorMessage {
  flex-direction: row;
  width: 61%;
  padding-left: 11px;
}

.errorImg {
  flex-direction: column;
}

.error-img {
  width: 270px;
}

.errorNum h1 {
  font-size: 37px;
  margin: 0px;
}

.errerDetail div {
  font-size: 15px;
}

.logotext {
  height: 55px;
  margin-left: 5px;
}

.main-btn {
  font-size: 15px;
  margin-right: 3px;
  margin-top: 5px;
}

h3 {
  font-size: 18px !important;
  font-weight: bold !important;
}
