@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.Wrapper {
  
}

.errorContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 50px auto;
}

.logoSubContainer {
  padding-bottom: 14px;
}

.errorSubContainer {
  display: flex;
}

.errorMessage {
  flex-direction: row;
  width: 61%;
  padding-left: 11px;
}

.errorImg {
  flex-direction: column;
}

.error-img {
  width: 270px;
}

.errorNum h1 {
  font-size: 37px;
  margin: 0px;
}

.errerDetail h3 {
  font-size: 23px;
  font-weight: 100;
}

.errerDetail div {
  padding-bottom: 4px;
  font-size: 17px;
}

.logotext {
  height: 63px;
}

.main-btn {
  font-size: 15px;
  width: 97px;
  margin-right: 3px;
}
