<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
	<!-- <p th:text="'Hello, ' + ${list[0].content}"></p>
      <p th:text="${list[0].time}"></p>
      <div th:object="${list[0]}">
        <p th:text="*{id}"></p>
        <p th:text="*{sender_username}"></p>
      </div>
      <hr> -->  
      <h3>insertCourse</h3>
      <a th:href="@{/courseinsert}" >이동</a>
      <hr>
      <h3>selectAllCourse</h3>
      <div class="iteration" th:each="course : ${list}" 
      th:unless="${course.id}==0">
        아이디 : <span th:text="${course.id}"></span>
        강의명 : <span th:text="${course.course_name}"></span>
        시작날짜 : <span th:text="${course.start_date}"></span>
        종료날짜 : <span th:text="${course.end_date}"></span><br>
        과목코드 : <span th:text="${course.subject}"></span>
        과목이름 : <span th:text="${course.subject_name}"></span>
        강의실번호 : <span th:text="${course.classroom_id}"></span>
        강의실이름 : <span th:text="${course.classroom_name}"></span><br><br>
        
	<a th:href="@{/courseupdate?id=<span th:text="${course.id}"></span>}">수정</a>
	
<!--<a href="videoedit.vb?id=${requestScope.result.id}">
	<button type="button" class="btn btn-primary" id="enter-btn">수정</button>
	</a>
	<a th:href="@{/courseinsert}" >이동</a>
	  -->
      </div>
    
    </div>
<!--     <h1>selectMessageById</h1>
    	<div th:each="senderM : ${sender}">
        아이디 : <p th:text="${senderM.id}"></p>
        내용 : <p th:text="${senderM.content}"></p>
        시간 : <p th:text="${senderM.time}"></p>
        체크유무 : <p th:text="${senderM.checked}"></p>
        보낸 사람 : <p th:text="${senderM.sender_username}"></p>
        받는 사람 : <p th:text="${senderM.receiver_username}"></p>
      </div>
    	
    	</div>
      
    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
    <script th:fragment="script">
      console.log("Hello, world!");
    </script>
  </body>
</html>







