<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<link
  href=/resources/dist/static/css/app.093b44a44b72c4606a739cad77ca4f84.css
  rel=stylesheet>
</head>
<body>
  <div class=main th:fragment=main>
    <div id=app></div>
  </div>
  <script type=text/javascript
    src=/resources/dist/static/js/manifest.d2e3a334bc98c3b96650.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/vendor.71750e988b55e9735a64.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/app.55e5fc1c8db3bc542a1f.js></script>
</body>
</html>