<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<link
  href=/resources/dist/static/css/app.fdb6c9691f4d0733a4c1b430b105ca1e.css
  rel=stylesheet>
</head>
<body>
  <div class=main th:fragment=main>
    <div id=app></div>
  </div>
  <script type=text/javascript
    src=/resources/dist/static/js/manifest.d2e3a334bc98c3b96650.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/vendor.71750e988b55e9735a64.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/app.1559d8d20ccaa816138e.js></script>
</body>
</html>