<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<link
  href=/resources/dist/static/css/app.cda145d3c0f9213607c958df5fe49699.css
  rel=stylesheet>
</head>
<body>
  <div class=main th:fragment=main>
    <div id=app></div>
  </div>
  <script type=text/javascript
    src=/resources/dist/static/js/manifest.d2e3a334bc98c3b96650.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/vendor.71750e988b55e9735a64.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/app.0833a258c83fba3e6908.js></script>
</body>
</html>