<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<script src="jquery-3.4.1.min.js"></script>
<link rel="stylesheet" th:href="@{/css/home.css}" />
<link rel="stylesheet" th:href="@{/css/manageHome.css}" />

</head>
<body>

	<div class="main" th:fragment="main">

		<button type="button" class="btn btn-warning btn-sm" id="myModal"
			data-toggle="modal" data-target="#modal">버튼</button>

		<div class="modal modal-center fade" id="modal" aria-labelledby="myModalLabel"
			tabindex="-1" role="dialog">
			<div class="modal-content">

				<div class="modal-header" id="createClassTitle">
					<div class="modal-title">
						<img src="/resources/images/teacher-pointing-blackboard.png"
							id="img"> 클래스 생성
					</div>
				</div>
				<div class="modal-body">
					<form action="">

						<div id="th">강사</div>
						<div>
							<span id="teacherNameSelectWrapper"> <select
								id="teacherNameSelect">
									<option value="" selected>강사이름 선택</option></span> </select>
						</div>


						<div id="th">강의명</div>
						<div>
							<span id="classNameWrapper"> <input type="text"
								placeholder="강의이름 입력" id="className">
							</span>
						</div>
						<div id="th">시작일</div>
						<div>
							<span id="dateWrapper"> <input type="date">
							</span>
						</div>


						<div id="th">종료일</div>
						<div>
							<input type="date">
						</div>

						<div id="th">학생수</div>
						<div>
							<span id="studentAmountWrapper"> <input type="text"
								id="studentAmount" placeholder="학생 수 입력">
							</span>
						</div>
						<div id="th">강의실</div>
						<div>
							<span id="classRoomSelectWrapper"> <select
								id="classRoomSelect">
									<option value="">강의실 번호 선택</option>
							</select>
							</span>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<script th:fragment="script">
		console.log("Hello, world!");
	</script>
</body>
</html>