<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/message.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div class="row">
        <div class="message-box2">
          <h4 class="message-title2">쪽지함</h4>
          <!-- 쪽지 있는 만큼 담기 -->
          <div th:each="all : ${selectall}">
            <div class="message2">
              <span class="hidden" th:text="${all.id}"></span>
              
              <div class="message-sender2">
                <span class="hidden" th:text="${all.receiver_username}"></span>
                <span class="hidden" th:text="${all.sender_username}"></span>
                <!-- <span class="readbtn"><i class="fas fa-circle"></i>&nbsp;</span> -->
                <span class="unread" th:unless="${all.checked}" ><i class="fas fa-exclamation fa-lg"></i>&nbsp;</span>
                <span class="hidden removenoti" th:text="${all.checked}"></span>
                <span class="sender2" th:text="${all.senderName}"></span>
                <span>(</span>
                <span
                  class="senderName"
                  th:text="${all.sender_username}"
                ></span>
                <span>)</span>
                <span class="time2" th:text="${all.time}"></span>
              </div>
              <p class="message-preview2" th:text="${all.content}"></p>
            </div>
          </div>
        </div>
        <div class="message-paper2">
          <span class="hidden" id="message-sender-id"></span>
          <!-- 메시지 보낸사람   -->
          <div class="send-message-icon">
            <div class="message-right">
              <i class="far fa-paper-plane fa-2x" id="reply"></i>
              <i class="fas fa-trash fa-2x" id="delete"></i>
            </div>
          </div>
          <div class="message-sender-name"></div>
          <!-- 받은쪽지 이름그대로 출력    -->

          <div class="message-timeform">
            <div class="sender-message"></div>
            <!-- 메시지 보낸시간 -->
            <div class="message-sender-time"></div>
          </div>

          <!-- 메시지 내용 -->

          <div class="message-sender-content"></div>
        </div>
      </div>

      <!-- Modal  -->

      <!--   <div class="modal">
    <div class="modal-content">
      <div class="message-modal">
        <form action="<%=request.getContextPath()%>/message/send"
          class="message-form" method="post">
          <h3 class="message-title">쪽지 보내기</h3>
          <textarea class="message-textarea" name="text"
            placeholder="내용을 입력해주세요."></textarea>
          <input type="hidden" value="${postId}" name="postId">
          <input type="hidden" value="message" name="origin">
          <input type="submit" value="전송" class="message-submit">
        </form>
        <a class="close-btn">&times;</a>
      </div>
    </div>
  </div> -->

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div th:each="all : ${selectall}">
              <span
                class="hidden"
                th:text="${all.sender_username}"
                id="senderId"
              ></span>
            </div>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">쪽지 보내기</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="message-text" class="col-form-label"
                    >메시지 입력:</label
                  >
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                id="modal-close-btn"
              >
                닫기
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="modal-submitbtn"
              >
                전송
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main fragment 끝 -->

    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
    <script>
      function getMessage(messageId) {
        
        $.ajax({
          url: "/ajax/message",
          type: "POST",
          data: {
            id: messageId
          },
          success: function(data) {
            

            $(
              ".message-sender-name, .message-sender-content, .message-sender-time, .sender-message, #message-sender-id"
            ).empty();
            $("#message-sender-id").append(`${data.sender_username}`);
            $(".message-sender-name")
              .append(`${data.senderName}`)
              .append(`(${data.sender_username})`);
            $(".message-sender-time").append(`${data.time}`);
            $(".message-sender-content").append(`${data.content}`);
            $(".sender-message").append(`<h6>받은쪽지</h6>`);
            $(".fa-paper-plane").css("display", "block");
            $(".fa-trash").css("display", "block");
          },
          error: function(xhr) {
            alert("쪽지를 불러오지 못했습니다.");
          }
        }).done(function() {
          if ($("#reply")) {
            $("#reply").click(function() {
              $(".modal").modal("show");
              $("#message-text").val("");
            });
          }
          $("#modal-submitbtn").click(function() {
            const messageText = $("#message-text").val();
            const messageSenderId = $("#message-sender-id").text();
            $.ajax({
              url: "/ajax/message/reply",
              type: "POST",
              data: {
                content: messageText,
                receiver_username: messageSenderId
              },
              success: function(data) {
                console.log("답장했을떄의data : " + data);
                if (data != null) {
                  $(".modal").modal("hide");
                }
              }
            });
          });

          $("#delete").click(function(event) {
            event.stopPropagation();
            const answer = confirm("쪽지를 삭제하시겠습니까?");
            if (answer) {
              $.ajax({
                url: "/ajax/message/delete",
                type: "POST",
                data: {
                  id: messageId
                },
                success: function(data) {
                  location.href = "/message";
                }
              });
            }
          });
        });
      }

      $(".message2").click(function(event) {
        const removeIcon = $(event.currentTarget).children(".message-sender2");
        const removeNotification = removeIcon.children().siblings(".removenoti");
        
        const count = $(".message-count");
        if(removeNotification.text() == 0) {
        count.text(count.text() - 1);
        removeNotification.text(1);
       
        }
        const messageId = $(this)
          .children(".hidden")
          .text();
        getMessage(messageId);
        console.log("messageId : " + messageId);
        
        $.ajax({
          url: "/ajax/message/update",
          type: "POST",
          data: {
            id: messageId
          },
          success: function(data) {
            
            removeIcon.children().siblings(".unread").remove();
            console.log("아오29");
          }
        });
        
        
      });
      $(".close-btn").click(function() {
        $(".receiver").remove();
        $(".modal").css("display", "none");
      });
      
    
      
    </script>
  </body>
</html>
