<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link rel="stylesheet" th:href="@{/css/message.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div class="container2">
      	<div class="message-box2">
          <h4 class="message-title2">쪽지함</h4>
            <!-- 쪽지 있는 만큼 담기 -->
            <div th:each="all : ${selectall}">
            	<div class="message2">
            		<span class="hidden" th:text="${all.id}"></span>
            		<div class="message-sender2">
            			<span class="sender2" th:text="${all.sender_username}"></span>
            			<span class="time2" th:text="${all.time}"></span>
            		</div>
            		<p class="message-preview2" th:text="${all.content}">
            	</div>
            </div>
          
      	</div>
      	<div class="message-paper2"></div>
      </div>
      
      <!-- Modal  -->
      
  <div class="modal">
    <div class="modal-content">
      <div class="message-modal">
        <form action="<%=request.getContextPath()%>/message/send"
          class="message-form" method="post">
          <h3 class="message-title">쪽지 보내기</h3>
          <textarea class="message-textarea" name="text"
            placeholder="내용을 입력해주세요."></textarea>
          <input type="hidden" value="${postId}" name="postId">
          <input type="hidden" value="message" name="origin">
          <input type="submit" value="전송" class="message-submit">
        </form>
        <a class="close-btn">&times;</a>
      </div>
    </div>
  </div>
      
      
      
      
    </div><!-- main fragment 끝 -->
    
    
    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
    <script th:inline="javascript">
    	const messageId= /*[[${selectall}]]*/ 'default';
    	console.log(messageId);
    </script>
    <script th:fragment="script">
    function getMessage(messageId) {
      $.ajax({
        url: "message",
        data: {
          id: messageId,
        },
        success: function(data) {
          $(".message-paper2").html(data);
        },
        error: function(xhr) {
          alert("쪽지를 불러오지 못했습니다.");
        },
      }).done(function() {
        if ($("#reply")) {
          $("#reply").click(function() {
            $(".modal").css("display", "block");
            const receiver_id = $(this)
              .siblings(".hidden")
              .text();
            $(".message-form").append(
              "<input type='hidden' value='" +
                receiver_id +
                "' name='receiver' class='receiver'>"
            );
          });
        }

        $("#refresh").click(function() {
          getMessage(messageId);
        });

        $("#delete").click(function() {
          const answer = confirm("쪽지를 삭제하시겠습니까?");
          if (answer) {
            location.href = "message/delete?id=" + messageId;
          }
        });
      });
    }

    $(function() {
      if (fromMain) {
        getMessage(messageId);
      }
    });

    $(".message2").click(function() {
      const messageId = $(this)
        .children(".hidden")
        .text();
      getMessage(messageId);
    });

    $(".close-btn").click(function() {
      $(".receiver").remove();
      $(".modal").css("display", "none");
    });

      
    </script>
  </body>
</html>
