<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/simple-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/css/test.css}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/simple-scrollbar.js}"></script>
  </head>
  <body>
    <div
      class="modal fade bd-example-modal-xl"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myExtraLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <div class="tree">
              <h5>강의 목록</h5>
              <div class="lecture-list" ss-container>
                <ul class="lecture-tree">
                  <li th:each="course : ${courses}">
                    <input type="checkbox" th:id="'c' + ${course.id}" checked />
                    <label
                      class="icon label"
                      th:for="'c' + ${course.id}"
                      th:text="${course.course_name}"
                    ></label>
                    <ul class="copy-board-list">
                      <li
                        class="copy-board"
                        th:each="board : ${course.boards}"
                        th:text="${board.board_name}"
                        th:id="'b' + ${board.id}"
                      ></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="list">
              <h5>글 목록</h5>
              <input type="text" id="search" placeholder="제목으로 검색" />
              <div class="copy-article-list" ss-container></div>
              <div
                class="spinner-border text-warning"
                role="status"
                id="spinner1"
              ></div>
            </div>
            <div class="preview">
              <h5>미리 보기</h5>
              <div class="copy-article-preview" ss-container>
                <div class="copy-article-preview-header">
                  <h6 class="copy-article-preview-title"></h6>
                  <p class="copy-article-preview-writer"></p>
                </div>
                <div class="copy-article-preview-content"></div>
              </div>
              <div
                class="spinner-border text-warning"
                role="status"
                id="spinner2"
              ></div>
            </div>
          </div>
          <div class="modal-list">
            <div class="article-id-list" ss-container></div>
          </div>
          <div class="modal-footer">
            <input type="hidden" value="" id="article_id" />
            <a
              id="copy"
              th:href="@{/test/copy?ids=}"
              class="btn btn-outline-primary btn-sm"
              >옮기기</a
            >
          </div>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      $(".spinner-border").hide();
      $("#search").hide();
      $(".modal").modal("show");

      $(".modal").on("hidden.bs.modal", function() {
        $("div").remove(".copy-article");
        $(
          ".copy-article-preview-title, .copy-article-preview-writer, .copy-article-preview-content"
        ).empty();
        $("#article_id").val("");
      });

      function callNextArticles(id, board_id) {
        let lastId = id;

        function changeLastId(new_id) {
          lastId = new_id;
        }

        return function() {
          $.ajax({
            url: "/test/more",
            type: "post",
            data: { id: lastId, board_id: board_id },
            beforeSend: function() {
              $("#spinner1").show();
            },
            success: function(data) {
              if (data[0]) {
                $(data).each(function(index, article) {
                  const time = article.timeLocal;
                  const timeStr = `${time.year.toString().slice(2)}-${
                    time.monthValue >= 10
                      ? time.monthValue
                      : "0" + time.monthValue
                  }-${
                    time.dayOfMonth >= 10
                      ? time.dayOfMonth
                      : "0" + time.dayOfMonth
                  }`;
                  $(".copy-article-list .ss-content").append(
                    `<div class="copy-article" id="a${
                      article.id
                    }"><span class="copy-article-title">${
                      article.title
                    }</span><span class="copy-writer">${
                      article.writer.name
                    }</span><span class="copy-time">${timeStr}</span></div>`
                  );
                });

                changeLastId(data[data.length - 1].id);
              }
            }
          }).done(function() {
            $(".copy-article").off("click");
            addEventToArticle();
            $("#spinner1").hide();
          });
        };
      }

      function wait(ajax) {
        let timer;
        $("#search").keyup(function() {
          $("div").remove(".copy-article, .copy-no-article");
          if (timer) {
            clearTimeout(timer);
          }
          timer = setTimeout(function() {
            timer = null;
            ajax();
          }, 400);
        });
      }

      const ajax = function() {
        $.ajax({
          url: "/test/search",
          method: "post",
          data: {
            title: $("#search").val(),
            board_id: $(".active-board")
              .prop("id")
              .slice(1)
          },
          beforeSend: function() {
            $(
              ".copy-article-preview-title, .copy-article-preview-writer, .copy-article-preview-content"
            ).empty();
            $("#article_id").val("");
            $("#spinner1").show();
          },
          success: function(data) {
            const list = $(".copy-article-list .ss-content");
            if (data.length === 0) {
              list.append(`<div class="copy-no-article">글이 없습니다</div>`);
              return;
            }

            $(data).each(function(index, article) {
              const time = article.timeLocal;
              const timeStr = `${time.year.toString().slice(2)}-${
                time.monthValue >= 10 ? time.monthValue : "0" + time.monthValue
              }-${
                time.dayOfMonth >= 10 ? time.dayOfMonth : "0" + time.dayOfMonth
              }`;
              list.append(
                `<div class="copy-article" id="a${
                  article.id
                }"><span class="copy-article-title">${
                  article.title
                }</span><span class="copy-writer">${
                  article.writer.name
                }</span><span class="copy-time">${timeStr}</span></div>`
              );
            });
          }
        }).done(function() {
          addEventToArticle();
          $("#spinner1").hide();
          $(".copy-article-list .ss-content").off("scroll");
        });
      };

      $(".copy-board").click(function() {
        wait(ajax);
        $(".copy-board").removeClass("active-board");
        $(this).addClass("active-board");
        const id = this.id;
        $.ajax({
          url: "/test/articles",
          type: "post",
          data: { id: id.slice(1) },
          beforeSend: function() {
            $("div").remove(".copy-article, .copy-no-article");
            $(
              ".copy-article-preview-title, .copy-article-preview-writer, .copy-article-preview-content"
            ).empty();
            $("#spinner1").show();
          },
          success: function(data) {
            const list = $(".copy-article-list .ss-content");
            if (data.length === 0) {
              list.append(`<div class="copy-article">글이 없습니다</div>`);
              return;
            }

            $("#search").val("");
            $("#search").show();

            $(data).each(function(index, article) {
              const time = article.timeLocal;
              const timeStr = `${time.year.toString().slice(2)}-${
                time.monthValue >= 10 ? time.monthValue : "0" + time.monthValue
              }-${
                time.dayOfMonth >= 10 ? time.dayOfMonth : "0" + time.dayOfMonth
              }`;
              list.append(
                `<div class="copy-article" id="a${
                  article.id
                }"><span class="copy-article-title">${
                  article.title
                }</span><span class="copy-writer">${
                  article.writer.name
                }</span><span class="copy-time">${timeStr}</span></div>`
              );
            });

            const callByScroll = callNextArticles(
              data[data.length - 1].id,
              id.slice(1)
            );
            list.scroll(function() {
              if (
                list.height() + list.scrollTop() + 0.25 >
                list[0].scrollHeight
              ) {
                callByScroll();
              }
            });
          }
        }).done(function() {
          $(".copy-article").off("click");
          addEventToArticle();
          $("#spinner1").hide();
        });
      });

      function addEventToArticle() {
        $(".copy-article").click(function() {
          $(".copy-article").removeClass("active-article");
          $(this).addClass("active-article");
          $.ajax({
            url: "/test/article",
            type: "post",
            data: { id: this.id.slice(1) },
            beforeSend: function() {
              $(
                ".copy-article-preview-title, .copy-article-preview-writer, .copy-article-preview-content"
              ).empty();
              $("#spinner2").show();
            },
            success: function(article) {
              $(".copy-article-preview-title").text(article.title);
              $(".copy-article-preview-writer").text(article.writer.name);
              $(".copy-article-preview-content").html(article.content);
              $("#article_id").val($("#article_id").val() + article.id + ",");
              const link = $("#copy").prop("href");
              $("#copy").prop(
                "href",
                link.slice(0, link.lastIndexOf("=") + 1) +
                  $("#article_id")
                    .val()
                    .slice(0, -1)
              );
              $(".article-id-list .ss-content").append(
                `<div class="article-id-item"><span class="article-id-title">${
                  article.title
                }</span><button class="article-id-delete" id="${
                  article.id
                }"><i class="far fa-times-circle"></i></button></div>`
              );

              $(".article-id-delete").off("click");
              $(".article-id-delete").click(function() {
                $(this)
                  .parent()
                  .remove();
                const oldVal = $("#article_id").val();
                const index = oldVal.indexOf(this.id);
                const newVal =
                  oldVal.slice(0, index) +
                  oldVal.slice(index + this.id.toString().length + 1);
                $("#article_id").val(newVal);
                const link = $("#copy").prop("href");
                $("#copy").prop(
                  "href",
                  link.slice(0, link.lastIndexOf("=") + 1) + newVal.slice(0, -1)
                );
              });
            }
          }).done(function() {
            $("#spinner2").hide();
          });
        });
      }
    </script>
  </body>
</html>
