@charset "UTF-8";

body {
  font-family: "Nanum Gothic";
}

.content-wrapper {
  padding: 10px 0px 10px 50px;
  margin-left: 16vw;
}

.page-title-wrapper {
  margin-bottom: 20px;
}

.page-title {
  font-weight: bold;
  font-size: 32px;
}

.project-name {
  width: 30%;
}

.wrapper {
  margin-bottom: 25px;
}

.class-member-list {
  width: 250px;
  height: 25em;
  overflow-y: scroll;
  border: #2d3e50 0.5px solid;
}

.class-member {
  padding: 10px;
  margin-top: -1px;
  border-bottom: 0.5px #a6a6a6 solid;
  font-weight: bold;
}

.text {
  font-weight: bold;
}

.project-name-text {
  margin-right: 8.8px;
}

.group-count-text {
  margin-right: 4.5px;
}

.class-group {
  padding: 10px;
  margin-top: -1px;
  border-bottom: 0.5px #a6a6a6 solid;
  background-color: #2D3E50;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  color: white;
}

.class-group-list {
  margin-left: 30px;
  margin-right: auto;
  width: 350px;
  overflow-y: scroll;
  height: 25em;
  border: 0.5px solid #2d3e50;
  padding-left: 1px;
}

.class-member:last-child {
  border: none;
}

.button-wrapper {
  margin: 10px auto;
}

.button-wrapper button {
  font-weight: bold;
}

.content-wrapper input {
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  border: 1px solid;
  padding: 5px 10px;
  width: 50%;
}

.date-input {
  width: 25% !important;
  font-size: 13px;
}

.date {
  font-size: 13px;
}

.project-term-text {
  text-align: left;
}

.modal-content {
  font-weight: bold;
}

.modal-title {
  font-weight: bold;
  font-size: 32px;
}

.modal input {
  width: 10px
}

.modal-footer button {
  color: black;
  font-weight: bold;
  background-color: #EA8A02;
}

.modal-body {
  min-height: 500px;
  overflow-y: scroll;
}

.modal-content {
  
}

.hide {
  display: none;
}

input[type="radio"] {
  display: none;
}

.modal-group-member {
  display: flex;
  flex-wrap: wrap;
}

.modal label {
  display: inline;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.modal label:hover {
  color: #F39C12;
  cursor: pointer;
}

.modal-dialog {
  margin: auto;
  margin-top: 50px
}

.icon {
  position: absolute;
  right: 35%;
  top: -60%;
  color: #EA8A02;
}

.sidebar {
  padding-right: 0px !important;
}

.modal-group-title {
  margin-bottom: 12px;
  font-size: 20px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.modal-group {
  border: 1px #2D3E50 solid;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
}

.modal-desc {
  color: gray
}

.class-group {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.class-member:hover {
  color: #F39C12;
  cursor: pointer;
}
.swal2-styled{
  background-color:#F39C12 !important;
  outline:none !important;
  font-family: 'Nanum Gothic' !important;
  font-weight: bold !important;
  color:black !important;
}