<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/manage/course.css}" />
  </head>
  <body>
    <div class="main" th:fragment="main">
      <div class="page-top">
        <div class="page-title">수업관리페이지</div>
        <div id="buttonWrapper">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#modal1"
              id="create-course-button"
            >
              수업 생성
            </button>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#modal2"
              id="create-teacher-button"
            >
              강사 생성
            </button>
          </div>
      </div>
      <div class="row">
        <div class="page-row">
          <h6 class="title">진행 중인 클래스</h6>
          
          <div class="course-table">
            <div class="course-table-category">
              <div class="start_date">시작일</div>
              <div class="end_date">종료일</div>
              <div class="course_name">과정명</div>
              <div class="teacher">강사</div>
              <div class="subject">과목</div>
              <div class="classroom">강의실</div>
              <div class="students">학생수</div>
            </div>
            <div class="current-table-list">
              <div class="course-list-row" th:each="currentCourseList : ${currentCourseList}">
                <div class="start_date" th:text="${currentCourseList.start_date}">시작일</div>
                <div class="end_date" th:text="${currentCourseList.end_date}">종료일</div>
                <div class="course_name" th:text="${currentCourseList.course_name}">과정명</div>
                <div class="teacher" th:text="${currentCourseList.teacher}">강사</div>
                <div class="subject" th:text="${currentCourseList.subject_name}">과목</div>
                <div class="classroom" th:text="${currentCourseList.classroom_id}+'강의실'">강의실</div>
                <div class="students" th:text="${currentCourseList.students}">학생수</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      
      
      <div class="row">
        <div class="page-row">
          <h6 class="title">개강 예정 클래스</h6>
          
          <div class="course-table">
            <div class="course-table-category">
              <div class="start_date">시작일</div>
              <div class="end_date">종료일</div>
              <div class="course_name">과정명</div>
              <div class="teacher">강사</div>
              <div class="subject">과목</div>
              <div class="classroom">강의실</div>
              <div class="students">학생수</div>
              <div class="delete"></div>
            </div>
            <div class="opening-table-list">
              <div class="course-list-row" th:each="openingCourseList : ${openingCourseList}">
                <div class="start_date" th:text="${openingCourseList.start_date}">시작일</div>
                <div class="end_date" th:text="${openingCourseList.end_date}">종료일</div>
                <div class="course_name" th:text="${openingCourseList.course_name}">과정명</div>
                <div class="teacher" th:text="${openingCourseList.teacher}">강사</div>
                <div class="subject" th:text="${openingCourseList.subject_name}">과목</div>
                <div class="classroom" th:text="${openingCourseList.classroom_id}+'강의실'">강의실</div>
                <div class="students" th:text="${openingCourseList.students}">학생수</div>
                <div class="delete" th:id="${openingCourseList.id}">
                  <!-- <div class="hidden" th:value="${openingCourseList.id}"></div> -->
                  <i class="far fa-trash-alt"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div class="row">
        <div class="page-row">
          <h6 class="title">종료된 클래스</h6>
          
          <div class="course-table">
            <div class="course-table-category">
              <div class="start_date">시작일</div>
              <div class="end_date">종료일</div>
              <div class="course_name">과정명</div>
              <div class="teacher">강사</div>
              <div class="subject">과목</div>
              <div class="classroom">강의실</div>
              <div class="students">학생수</div>
            </div>
            <div class="end-table-list">
              <div class="course-list-row" th:each="endCourseList : ${endCourseList}">
                <div class="start_date" th:text="${endCourseList.start_date}">시작일</div>
                <div class="end_date" th:text="${endCourseList.end_date}">종료일</div>
                <div class="course_name" th:text="${endCourseList.course_name}">과정명</div>
                <div class="teacher" th:text="${endCourseList.teacher}">강사</div>
                <div class="subject" th:text="${endCourseList.subject_name}">과목</div>
                <div class="classroom" th:text="${endCourseList.classroom_id}+'강의실'">강의실</div>
                <div class="students" th:text="${endCourseList.students}">학생수</div>
              </div>
            </div>
          </div>
          <!-- 페이지 버튼 -->
          
          <div class="page-btns">
            <span id="button-wrapper">
              <button type="button" class="btn btn-primary paging next-btn" id=""> <i class="fas fa-angle-right"></i></button>          
            </span>
          </div>
        </div>
      </div>
      
      <!-- 클래스 생성 -->
      <div
        class="modal fade"
        id="modal1"
        aria-labelledby="myModalLabel"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" id="createClassTitle">
              <div class="modal-title">
                <img
                  src="/resources/images/teacher-pointing-blackboard.png"
                  id="img"
                />
                클래스 생성
              </div>
            </div>
            <div class="modal-body">
              <form th:action="@{/manage/createClass}" method="post">
                <div class="th">시작일</div>
                <div>
                  <span id="dateWrapper">
                    <input type="date" id="start_date" name="start_date" />
                  </span>
                </div>
                <div class="th">종료일</div>
                <div>
                  <input type="date" id="end_date" name="end_date" />
                </div>
                <div class="th">강사명</div>
                <select id="teacherSelect" name="teacher_id">
                  <option value="">강사를 선택하세요.</option>
                  <div th:each="teacherList : ${teacherList}">
                  <option th:value="${teacherList.teacher_id}" th:text="${teacherList.name}"></option>
                  </div>
                </select>
                <div class="th">강의실</div>
                <div>
                  <span id="classRoomSelectWrapper">
                    <select id="classRoomSelect" name="classroom_id">
                      <option value="">강의실 번호 선택</option>
                      <div th:each="classroomList : ${classroomList}">
                        <option th:value="${classroomList.id}" th:text="${classroomList.classroom_name}"></option>
                      </div>
                    </select>
                  </span>
                </div>
                <div class="th">과목</div>
                <div>
                  <select id="subjectSelect" name="subject">
                    <option value="" selected>과목을 선택하세요.</option>
                    <div th:each="subjectList : ${subjectList}">
                      <option th:value="${subjectList.id}" th:text="${subjectList.subject}">JAVA</option>
                    </div>
                  </select>
                </div>
                <div class="th">학생수</div>
                <div>
                  <span id="studentAmountWrapper">
                    <input
                      type="text"
                      id="studentAmount"
                      placeholder="학생 수 입력"
                      name="people"
                    />
                  </span>
                </div>
                <div class="th">강의명</div>
                <div>
                  <span id="classNameWrapper">
                    <input
                      type="text"
                      placeholder="강의이름 입력"
                      id="course_Name"
                      name="course_name"
                    />
                  </span>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary" id="createClassBtn">
                    생성
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary close_link"
                    data-dismiss="modal"
                    id="closeButton"
                  >
                    닫기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 강사 계정 생성 -->
      <div
        class="modal fade"
        id="modal2"
        aria-labelledby="myModalLabel"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header" id="createClassTitle">
              <div class="modal-title">
                <img
                  src="/resources/images/teacher-pointing-blackboard.png"
                  id="img"
                />
                강사 계정 생성
              </div>
            </div>
            <div class="modal-body">
              <form
                th:action="@{/manage/create/teacher}"
                method="post"
                id="teacher-form"
              >
                <div class="th">강사 이름</div>
                <input type="text" name="name" id="teacher-name" />
                <span class="username-duplicate username-message"
                    >이미 존재하는 아이디입니다</span
                  >
                <div class="th">아이디</div>
                <div class="input-username">
                  <input type="text" name="username" id="teacher-username" />
                  <span class="username-error username-message"
                    >올바른 아이디가 아닙니다</span
                  >
                  <span class="username-duplicate username-message"
                    >이미 존재하는 아이디입니다</span
                  >
                </div>
                <div class="th">이메일</div>
                <input type="email" name="email" id="teacher-email" />
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary" id="createTeacherBtn">
                    생성
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-primary close_link"
                    data-dismiss="modal"
                    id="closeButton"
                  >
                    닫기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
      $("#start_date, #end_date").change(function() {
        const start_date = $("#start_date").val();
        const end_date = $("#end_date").val();
        const now = new Date(Date.now());
        const now_date = now.getFullYear()+"-"+((now.getMonth()+1) < 10 ? "0"+(now.getMonth()+1) : now.getMonth()+1 )+"-"+(now.getDate() < 10 ? "0"+now.getDate() : now.getDate());
        
		if(start_date < now_date) {
		  $("#start_date").val("");
          event.preventDefault();
          Swal.fire({
      	    type: 'error',
      	    text: '날짜를 확인하세요!',
      	  })
        }
		
        $("#classRoomSelect").empty();
        $.ajax({
          method: "post",
          url: "/ajax/classroom",
          data: {
            start_date: $("#start_date").val(),
            end_date: $("#end_date").val()
          },
          success: function(response) {
            const classroom = response;
            if (!classroom.length) {
              $("#classRoomSelect").append("<option value=''>빈 강의실이 없습니다!</option>");
              return;
            }
            classroom.forEach(function(item) {
              const option = 
                `<option value="${item.id}">${item.classroom_name}</option>`;
              $("#classRoomSelect").append($(option));
            });
          }
        });
        
        $("#teacherSelect").empty();
        $.ajax({
          method: "post",
          url: "/ajax/classroom/teacher",
          data: {
            start_date: $("#start_date").val(),
            end_date: $("#end_date").val()
          },
          success: function(response) {
            const teacher = response;
            if (!teacher.length) {
              $("#teacherSelect").append("<option value=''>개강 가능한 강사가 없습니다!</option>");
              return;
            }
            teacher.forEach(function(item) {
              const option = 
                `<option value="${item.teacher_id}">${item.name}</option>`;
              $("#teacherSelect").append($(option));
            });
          }
        });
      });
	
      $("#end_date").change(function() {
        const start_date = $("#start_date").val();
        const end_date = $("#end_date").val();
    		if (start_date == ""){
              $("#end_date").val("");
              Swal.fire({
          	    type: 'error',
          	    text: '시작일 부터 입력하세요!',
          	  })
            } else if (start_date > end_date) {
    		  $("#end_date").val("");
              Swal.fire({
          	    type: 'error',
          	    text: '종료일이 바르지 않습니다!',
          	  })
            }
  		});
      
      $("#start_date").change(function() {
        $("#end_date").val("");
      });
      $("#createClassBtn").click(function(event){
        const now = new Date(Date.now());
        const now_date = now.getFullYear()+"-"+((now.getMonth()+1) < 10 ? "0"+(now.getMonth()+1) : now.getMonth()+1 )+"-"+(now.getDate() < 10 ? "0"+now.getDate() : now.getDate());
        const start_date = $("#start_date").val();
        const end_date = $("#end_date").val();
        const teacher = $("#teacherSelect").val();
        const classroom = $("#classRoomSelect").val();
        const subject = $("#subjectSelect").val();
        const studentAmount = $("#studentAmount").val();
        const courseName = $("#course_Name").val();
        
        if(start_date > end_date) {
          event.preventDefault();
          Swal.fire({
      	    type: 'error',
      	    text: '종료일이 바르지 않습니다!',
      	  })
        } else if (start_date < now_date) {
          event.preventDefault();
          Swal.fire({
      	    type: 'error',
      	    text: '날짜를 확인하세요!',
      	  })
        } else if (teacher=="" || classroom=="" || subject=="" || studentAmount=="" || courseName==""){
          event.preventDefault();
          Swal.fire({
      	    type: 'error',
      	    text: '모두 입력 하세요!',
      	  })
        }
      });
      
      function checkIdDuplicates(username) {
        let xhr;

        if (xhr) {
          xhr.abort();
        }

        xhr = new Promise(function(resolve) {
          $.ajax({
            url: "/manage/check/id",
            type: "post",
            data: { username },
            success: function(data) {
              resolve(data);
            }
          });
        });

        return xhr;
      }

      function checkIdValid(username) {
        const regExp = /^[A-Za-z0-9]{6,}$/;
        return username.match(regExp);
      }

      $("input[name='username']").keyup(function() {
        const username = $("input[name='username']").val();
        const checkDuplicates = checkIdDuplicates(username);
        $(".username-message").hide();

        if (!checkIdValid(username)) {
          $(".username-error").show();
        }

        checkDuplicates.then(function(data) {
          if (data) {
            $(".username-message").hide();
            $(".username-duplicate").show();
          } else {
            $(".username-duplicate").hide();
          }
        });
      });
   
      $("#teacher-form").submit(function(event) {
        event.preventDefault();
        const teacherName = $("#teacher-name").val();
        const teacherUsername = $("#teacher-username").val();
        const teacherEmail = $("#teacher-email").val();
        const checkDuplicates = checkIdDuplicates(teacherUsername);
        let isValid = checkIdValid(teacherUsername);
        let duplicates;

        checkDuplicates.then(function(data) {
          duplicates = data;
          if (
              teacherName &&
              teacherUsername &&
              teacherEmail &&
              isValid &&
              !duplicates
            ) {
              $("#teacher-form").off("submit");
              $("#teacher-form").trigger("submit");
            }
        });
      });

      $(".delete").click(function(event){
        const id = $(this).attr("id");
        const row = $(this)
        /*
        $.ajax({
          url:"/ajax/manage/course/delete",
          type:'post',
          data: {
            id : id
          },
          success:function(){
            
            row.parent().remove(); 
          }
        });*/
        Swal.fire({
          title: '정말 삭제하시겠습니까?',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#F39B10',
          cancelButtonColor: '#A6A6A6',
          confirmButtonText: '네',
          cancelButtonText: '아니요'
        }).then((result) => {
          if (result.value) {
            $.ajax({
              url:"/ajax/manage/course/delete",
              type:'post',
              data: {
                id : id
              },
              success: function(data) {
                row.parent().remove();
                Swal.fire({
                  title: '삭제되었습니다',
                  type: 'success',
                  showConfirmButton: false,
                  timer: 1000
                })
              }
            });
          }
        })
        
      });
      var page = 1;
      var eventt = function(target){
		if(target.className== 'btn btn-primary paging next-btn'){
          page+=1
		}else if(target.currentTarget != null){
		  if(target.currentTarget.className == 'btn btn-primary paging next-btn'){
		    page+=1;
		  }
		}
		if(target.className== 'btn btn-primary paging prev-btn'){
      	  page-=1;
		}else if(target.currentTarget != null){
		  if(target.currentTarget.className == 'btn btn-primary paging prev-btn'){
		    page-=1;
		  }
		}
        $.ajax({
          url:"/ajax/manage/course/paging",
          type:"get",
          data:{
            page : page,
          },
          success:function(data){
            $(".end-table-list").empty();
            $("#button-wrapper").empty();
            var nextBtn = "<button type='button' class='btn btn-primary paging next-btn' onclick='eventt(this)'>"
              	nextBtn += "<i class='fas fa-angle-right'></i></button>";
            var prevBtn = "<button type='button' class='btn btn-primary paging prev-btn' id='prev-btn' onclick='eventt(this)'>"
               	prevBtn += "<i class='fas fa-angle-left'></i></button>"
               	
            if(page != 1 ){
              $("#button-wrapper").append(prevBtn)
            }  	
            console.log(Math.floor(data.allCount/10));
            if(Math.floor(data.allCount/10) >= page){
              $("#button-wrapper").append(nextBtn)
            }
            console.log(data);
			
			$.each(data.courseList, function(index, item){
              var html = "<div class='course-list-row'>"
			  html+="<div class='start_date'>"+item.startDateLocal.year+"-"+(item.startDateLocal.monthValue < 10 ? "0"+item.startDateLocal.monthValue:item.startDateLocal.monthValue)+"-"+(item.startDateLocal.dayOfMonth < 10 ?"0"+item.startDateLocal.dayOfMonth:item.startDateLocal.dayOfMonth)+"</div>";
			  html+="<div class='end_date'>"+item.endDateLocal.year+"-"+(item.endDateLocal.monthValue < 10 ? "0"+item.endDateLocal.monthValue:item.endDateLocal.monthValue)+"-"+(item.endDateLocal.dayOfMonth < 10 ?"0"+item.endDateLocal.dayOfMonth:item.endDateLocal.dayOfMonth)+"</div>";
			  html+="<div class='course_name'>"+item.course_name+"</div>";
			  html+="<div class='teacher'>"+(item.teacher == null ? "" :item.teacher)+"</div>";
			  html+="<div class='subject'>"+item.subject_name+"</div>";
			  html+="<div class='classroom'>"+item.classroom_id+"강의실</div>";
			  html+="<div class='students'>"+item.students+"</div>";
			  html+="</div>"
			  $(".end-table-list").append(html);
			})
          }
        })
      }
      $(".next-btn").click(eventt)
    </script>
  </body>
</html>
