<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Teaming</title>
<link rel="stylesheet" th:href="@{/css/error/errorPage.css}" />
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous" />
<link rel="stylesheet" href="/css/common.css"
  th:href="@{/css/bs-customization.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main">
    <div class="Wrapper">
      <div class="errorContainer">
        <div class="errorSubContainer">
          <div class="errorMessage">
            <div class="errerDetail">
              <img th:src="@{/css/error/teaming3.png}" alt="로고"
                class="logotext" />
              <div class="errorDetail">
                <h3>페이지를 찾을수 없습니다</h3>
                입력된 주소가 정확하지 않거나<br />페이지가 삭제되었을 수 있습니다<br />주소를 다시
                확인해주세요
              </div>
              <a class="btn btn-outline-primary main-btn nthfirst" th:href="@{/}">
                티밍 메인 </a> <a class="btn btn-outline-primary main-btn"
                th:href="@{/mypage/home}"> 마이페이지 </a>
            </div>
          </div>
          <div class="errorImg">
            <img th:src="@{/css/error/errorImg4.png}" class="error-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
