<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/myclass/home.css}" />
    <link rel="stylesheet" th:href="@{/css/myclass/calendar-modal.css}" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
  </head>

  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div class="myclassWrapper">
        <div class="row">
          <div class="processBar cardshadow">
            <h3 class="card-title">내 수업</h3>
            <h5 th:text="${course.course_name}">
              프론트엔드 및 백엔드 개발자 양성과정
            </h5>
            <span class="barDate">
              <span
                class="start-date"
                th:text="${#temporals.format(course.startDate, 'yyyy-MM-dd')}"
              >
                2019-01-30
              </span>
              ~
              <span
                class="end-date"
                th:text="${#temporals.format(course.endDate, 'yyyy-MM-dd')}"
              >
                2019-01-30
              </span>
            </span>
            <span class="barPercent">
              <span class="progres">
                <span>
                  <span
                    class="progress-bar bg-warning progress-bar-striped"
                    th:style="'width:' + ${completion} + '%; height: 30px;'"
                  ></span>
                </span>
              </span>
              <span class="progressview" th:text="${completion} + '% 진행 중'">
                70% 진행중
              </span>
            </span>
          </div>
          <div class="recentBoard">
            <span class="recentHomework cardshadow">
              <span class="moreRow">
                <span class="card-title">최근 과제</span>
                <span class="moreLotation"
               th:onclick="'window.location.href = \'' + @{/myclass/homework} + '\''"
                >더보기</span>
              </span>
              <span class="recentHomeworkcontent">
              <span th:each="homework : ${recentHomework}">
              <a th:href="@{/myclass/homework/detail(id=${homework.id},page=1)}" th:text="${homework.title}" class="homework-title"></a>
              <span class="period">
              <span th:text="${#temporals.format(homework.timeLocal, 'yyyy-MM-dd')}"></span>
              ~ 
              <span th:text="${homework.option.end_date}"></span>
              </span>
               </span>
              </span>
            </span>
            <span class="recentProject cardshadow">
              <span class="moreRow">
                <span class="card-title">최근 프로젝트</span>
                <span class="moreLotation">더보기</span>
              </span>
              <span class="recentProjectcontent">파이널 프로젝트 진행중</span>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="myclassBoard cardshadow">
            <div class="myclassTitle">
              <h3 class="card-title">최신 글</h3>
            </div>
            <div class="myclassContent">
              <table id="class-recent-article">
                <thead>
                  <tr>
                    <th>게시판</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>올린 시간</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="article : ${recentArticles}">
                    <td th:text="${article.board_name}"></td>
                    <td th:text="${article.title}"></td>
                    <td th:text="${article.writer.name}"></td>
                    <td
                      th:text="${#temporals.format(article.timeLocal, 'MM-dd HH:mm')}"
                    ></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="calendar" class="CalendarCard cardshadow"></div>
        </div>

        <div
          id="new-schedule-modal"
          class="modal fade bd-example-modal-sm"
          tabindex="-1"
          role="dialog"
          aria-labelledby="mySmallModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
              <h6 class="modal-title">일정 추가</h6>
              <form id="new-schedule" class="schedule-form" method="post">
                <label for="new-title">이름: </label>
                <input type="text" name="title" id="new-title" />
                <label for="new-start">시작: </label>
                <input type="date" name="start" id="new-start" readonly />
                <label for="new-end">종료: </label>
                <input type="date" id="new-end-display" readonly />
                <div class="calendar-color">
                  <label>색상: </label>
                  <div class="color red active-color"></div>
                  <div class="color coral"></div>
                  <div class="color orange"></div>
                  <div class="color green"></div>
                  <div class="color blue"></div>
                  <div class="color indigo"></div>
                  <div class="color purple"></div>
                </div>
                <input type="hidden" value="#FF3B30" name="color" />
                <input type="hidden" name="end" id="new-end" />
              </form>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  data-dismiss="modal"
                >
                  취소
                </button>
                <button
                  id="submit-new-schedule"
                  type="button"
                  class="btn btn-primary btn-sm"
                >
                  생성
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          id="schedule-modal"
          class="modal fade bd-example-modal-sm"
          tabindex="-1"
          role="dialog"
          aria-labelledby="mySmallModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
              <h6 class="modal-title">일정 변경</h6>
              <form id="schedule" class="schedule-form" method="post">
                <label for="title">이름: </label>
                <input type="text" name="title" id="title" />
                <label for="start">시작: </label>
                <input type="date" name="start" id="start" readonly />
                <label for="new-end">종료: </label>
                <input type="date" id="end-display" readonly />
                <div class="calendar-color">
                  <label>색상: </label>
                  <div class="color red active-color"></div>
                  <div class="color coral"></div>
                  <div class="color orange"></div>
                  <div class="color green"></div>
                  <div class="color blue"></div>
                  <div class="color indigo"></div>
                  <div class="color purple"></div>
                </div>
                <input type="hidden" value="rgb(255, 59, 48)" name="color" />
                <input type="hidden" name="end" id="end" />
                <input type="hidden" name="id" id="id" />
              </form>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  data-dismiss="modal"
                >
                  취소
                </button>
                <button id="delete" class="btn btn-danger btn-sm">
                  삭제
                </button>
                <button
                  id="submit-schedule"
                  type="button"
                  class="btn btn-primary btn-sm"
                >
                  변경
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 이 페이지에서 사용하는 자바스크립트는 이 script 태그 안에 작성 -->
    <script th:inline="javascript">
      function formatDate(date) {
        const dateStr = `${date.getFullYear()}-${
          date.getMonth() + 1 >= 10
            ? date.getMonth() + 1
            : "0" + (date.getMonth() + 1)
        }-${date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()}`;
        return dateStr;
      }

        const calendarEl = document.getElementById("calendar");
        let calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ["dayGrid", "interaction"],
          defaultView: "dayGridMonth",
          locale: "ko",
          columnHeaderFormat: {
            weekday: "short"
          },
          header: {
            left: "title",
            center: "",
            right: "today prev,next"
          },
          displayEventTime: false,
          eventTextColor: "white",
          events:
            {
              url: "/myclass/schedule/get/class",
              method: "POST",
              extraParams: {
                course_id: [[${user.course_id}]]
              },
              success: function(data) {
                console.log(data);
              },
              eventDataTransform: function(data) {
                const start = new Date(data.start);
                const end = new Date(data.end);
                const startStr = formatDate(start);
                const endStr = formatDate(end);
                data.start = startStr;
                data.end = endStr;
                return data;
              }
            }
        });
        calendar.render();
    </script>
    <script
      th:src="@{/js/calendar-interaction.js}"
      sec:authorize="hasRole('TEACHER')"
    ></script>
  </body>
</html>
