<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav th:fragment="project-nav(active)">
      <ul class="project-nav-list">
        <a href="#" th:href="@{/myclass/project}">
          <li class="project-nav-link" th:classappend="${active} == 'main' ? active-list : ''">
            첫 화면
          </li>
        </a>
        <a href="#" th:href="@{/myclass/troubleshooting}">
          <li class="project-nav-link" th:classappend="${active} == 'ts' ? active-list : ''">
            트러블슈팅
          </li>
        </a>
        <a href="#" th:href="@{/myclass/chat}">
          <li class="project-nav-link" th:classappend="${active} == 'chat' ? active-list : ''">
            채팅
          </li>
        </a>
      </ul>
    </nav>
  </body>
</html>
