<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/myclass/chat/chat.css}" />
    <link rel="stylesheet" th:href="@{/css/myclass/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/myclass/myclass.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div th:replace="myclass/nav :: project-nav(chat)"></div>
      <div class="wrapper">
        <div class="chat-room" ss-container></div>
        <div class="chat-input">
          <input type="file" name="file" id="file" />
          <label for="file">+</label>
          <input type="text" name="" id="chat-message" />
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-database.js"></script>
    <script th:inline="javascript">
      appendDate(new Date(Date.now()));
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyABM1lmIsGHcP497EfAVgT51H0ec2YcGGM",
        authDomain: "bitcamp-final.firebaseapp.com",
        databaseURL: "https://bitcamp-final.firebaseio.com",
        projectId: "bitcamp-final",
        storageBucket: "bitcamp-final.appspot.com"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      const database = firebase.database();

      function loadMoreMessage(time) {
        let lastTime = time;

        function changeTime(newTime) {
          lastTime = newTime;
        }



        return async function() {
          const list = [];
          const result = await database
            .ref("chat/groups/" + [[${group.id}]])
            .orderByChild("time")
            .endAt(lastTime)
            .limitToLast(10)
            .once("value")
            .then(function(data) {
                data.forEach(function(item, index) {
                list.push(item.val());
              });
              changeTime(list[0].time - 1);
              return list;
            });
          return result;
        }
      }

      const loadOldMessages = loadMoreMessage(Date.now());

      function writeChatMessage(groupId, username, name, content) {
        const chatMessage = {
          username: username,
          name: name,
          time: Date.now(),
          content: content,
          group_id: [[${group.id}]]
        };

        database.ref("chat/groups/" + [[${group.id}]]).push(chatMessage);
        client.send("/app/chat", {}, JSON.stringify(chatMessage));

        if (!client.connected) {
          console.log("접속 끊김");
        }
      }

      function getRecentMessages(group_id) {
        return database.ref("chat/groups/" + group_id)
               .limitToLast(2)
               .once('value')
               .then(function(message) {
                 return message.val();
               })
      }

      function renderMessages(data) {
        const message = JSON.parse(data.body);
        getRecentMessages([[${group.id}]]).then(function(data) {
          if (data) {
            const previousMessage = data[Object.keys(data)[0]];
            const currentMessage = data[Object.keys(data)[1]];
            const previousTime = new Date(previousMessage.time);
            const now = new Date(Date.now());

            if (message.username === "fileServer") {
              makeFileMessage(message);
              return;
            }

            if (previousTime.getDate() !== now.getDate()) {
              appendDate(now);
            }

            if (previousTime.getMinutes() === now.getMinutes()
                && previousMessage.username === currentMessage.username) {
              stickMessage(message);
            } else {
              makeNewMessage(message);
            }
          } else {
            makeNewMessage(message);
          }
        });
        $(".chat-room .ss-content")[0].scrollTop = $(".chat-room .ss-content")[0].scrollHeight;
      }

      function showOldMessages(messageList) {
        for (let i = 0; i < messageList.length; i++) {
          const message = messageList[i];
          const now = new Date(message.time);
          let previousTime;

          if (i > 0) {
            previousTime = new Date(messageList[i - 1].time);
          }

          if (message.username === "fileServer") {
            makeFileMessage(message);
            continue;
          }

          if (i > 0 && previousTime.getDate() !== now.getDate()) {
            appendDate(now);
            continue;
          }

          if (i > 0 && previousTime.getMinutes() === now.getMinutes()
            && previousTime.getDate() === now.getDate() && messageList[i - 1].username === message.username) {
            stickMessage(message);
            continue;
          } else {
            makeNewMessage(message);
          }
        }

        $(".ss-content").scroll(function() {
          if (this.scrollTop === 0) {
            loadOldMessages().then(list => prependOldMessages(list.reverse()));
          }
        });

        $(".chat-room .ss-content")[0].scrollTop = $(".chat-room .ss-content")[0].scrollHeight;
      }

      function prependOldMessages(messageList) {
        messageList.forEach((message, index) => {
          const now = new Date(message.time);
          let previousTime;

          if (index > 0) {
            previousTime = new Date(messageList[index - 1].time);
          }

          if (message.username === 'fileServer') {
            const link = message.content;
            const chatMessage = $(`<div class="chat-message">`);
            const chatHeader = $(`<div class="chat-header">`);
            const chatSenderInfo = $(`<div class="chat-sender-info">`);
            chatSenderInfo.append($(`<span class="chat-sender-name">${message.name}</span>`));
            chatSenderInfo.append($(`<span class="chat-sender-time">  ${formatTime(message.time)}</span>`));
            chatHeader.append($(`<img src="https://via.placeholder.com/40" alt="프로필 사진" />`));
            chatHeader.append(chatSenderInfo);
            chatMessage.append(chatHeader).append(`<a href="${message.filepath}" download="${message.content}"><span class="chat-content-file"><span class="file-name">${message.content}</span><i class="fas fa-cloud-download-alt"></i></span></a>`);
            $(".chat-room .ss-content").prepend(chatMessage);
          } else {
            const chatMessage = $(`<div class="chat-message">`);
            const chatHeader = $(`<div class="chat-header">`);
            const chatSenderInfo = $(`<div class="chat-sender-info">`);
            chatSenderInfo.append($(`<span class="chat-sender-name">${message.name}</span>`));
            chatSenderInfo.append($(`<span class="chat-sender-time">  ${formatTime(message.time)}</span>`));
            chatHeader.append($(`<img src="https://via.placeholder.com/40" alt="프로필 사진" />`));
            chatHeader.append(chatSenderInfo);
            chatMessage.append(chatHeader).append(`<div class="chat-content">${message.content}</div>`);
            $(".ss-content").prepend(chatMessage);
          }
          $(".ss-content")[0].scrollTop = 1000;
        });
      }

      function makeFileMessage(message) {
        const link = message.content;
        const chatMessage = $(`<div class="chat-message">`);
        const chatHeader = $(`<div class="chat-header">`);
        const chatSenderInfo = $(`<div class="chat-sender-info">`);
        chatSenderInfo.append($(`<span class="chat-sender-name">${message.name}</span>`));
        chatSenderInfo.append($(`<span class="chat-sender-time">  ${formatTime(message.time)}</span>`));
        chatHeader.append($(`<img src="https://via.placeholder.com/40" alt="프로필 사진" />`));
        chatHeader.append(chatSenderInfo);
        chatMessage.append(chatHeader).append(`<a href="${message.filepath}" download="${message.content}"><span class="chat-content-file"><span class="file-name">${message.content}</span><i class="fas fa-cloud-download-alt"></i></span></a>`);
        $(".chat-room .ss-content").append(chatMessage);
      }

      function appendDate(now) {
        const date = `${now.getFullYear()}년 ${now.getMonth() + 1}월 ${now.getDate()}일`;
        const dateLine = $(`<div class="date-line"><span class="date">${date}</span></div>`);
        $(".chat-room .ss-content").append(dateLine);
      }

      function stickMessage(message) {
        $(".chat-message:last-child").append($(`<div class="chat-content">${message.content}</div>`));
      }

      function makeNewMessage(message) {
        const chatMessage = $(`<div class="chat-message">`);
        const chatHeader = $(`<div class="chat-header">`);
        const chatSenderInfo = $(`<div class="chat-sender-info">`);
        chatSenderInfo.append($(`<span class="chat-sender-name">${message.name}</span>`));
        chatSenderInfo.append($(`<span class="chat-sender-time">  ${formatTime(message.time)}</span>`));
        chatHeader.append($(`<img src="https://via.placeholder.com/40" alt="프로필 사진" />`));
        chatHeader.append(chatSenderInfo);
        chatMessage.append(chatHeader).append(`<div class="chat-content">${message.content}</div>`);
        $(".chat-room .ss-content").append(chatMessage);
      }

      const interval = setInterval(function() {
        client.subscribe("/topic/chat/groups/" + [[${group.id}]], renderMessages);

        if (client.connected) {
          clearInterval(interval);
          loadOldMessages().then(list => {
            showOldMessages(list);
          });
        }
      }, 1500);

      $("#chat-message").keydown(function(event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          const groupId = [[${group.id}]];
          const username = [[${user.username}]];
          const name = [[${user.name}]];
          const content = $('#chat-message').val();
          writeChatMessage(groupId, username, name, content);
          $('#chat-message').val('');
        }
      });

      function formatTime(ms) {
        const time = new Date(ms);
        const timeString = `${time.getHours() <= 12 ? time.getHours() : time.getHours() - 12}:${time.getMinutes() < 10 ? "0" + time.getMinutes() : time.getMinutes()} ${time.getHours() <= 11 ? 'AM' : 'PM'}`;
        return timeString;
      }

      // 파일 업로드

      $("#file").change(function() {
        const formData = new FormData();
        const inputFile = document.getElementById("file");
        formData.append("file", inputFile.files[0]);
        formData.append("time", Date.now());
        formData.append("group_id", [[${group.id}]]);
        formData.append("name", [[${user.name}]]);
        $.ajax({
          url: "/ajax/chat/file",
          data: formData,
          method: "post",
          processData: false,
          contentType: false,
          success: function(data) {
            database.ref("chat/groups/" + [[${group.id}]]).push(data);
            client.send("/app/chat", {}, JSON.stringify(data));
          }
        })
      });
    </script>
  </body>
</html>
