<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})"
>
  <head>
    <!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
    <link rel="stylesheet" th:href="@{/css/myclass/chat/chat.css}" />
    <link rel="stylesheet" th:href="@{/css/myclass/nav.css}" />
  </head>
  <body>
    <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
    <div class="main" th:fragment="main">
      <div th:replace="myclass/nav :: project-nav(chat)"></div>
      <div class="chat-room">
        <div class="chat-message">
          <div class="chat-header">
            <img src="https://via.placeholder.com/40" alt="프로필 사진" />
            <div class="chat-sender-info">
              <span class="chat-sender-name">정성윤</span>
              <span class="chat-sender-time">오늘 오후 8시 12분</span>
            </div>
          </div>
          <div class="chat-content">ㅇㄱㄹㅇ</div>
        </div>
        <div class="chat-message">
          <div class="chat-header">
            <img src="https://via.placeholder.com/40" alt="프로필 사진" />
            <div class="chat-sender-info">
              <span class="chat-sender-name">정성윤</span>
              <span class="chat-sender-time">오늘 오후 8시 12분</span>
            </div>
          </div>
          <div class="chat-content">ㅇㄱㄹㅇ</div>
          <div class="chat-content">ㅂㅂㅂㄱ</div>
        </div>
      </div>
      <div class="chat-input">
        <input type="file" name="file" id="file" />
        <label for="file">+</label>
        <input type="text" name="" id="chat-message" />
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-database.js"></script>
    <script th:inline="javascript">
      console.log([[${user}]]);
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyABM1lmIsGHcP497EfAVgT51H0ec2YcGGM",
        authDomain: "bitcamp-final.firebaseapp.com",
        databaseURL: "https://bitcamp-final.firebaseio.com",
        projectId: "bitcamp-final",
        storageBucket: "bitcamp-final.appspot.com"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      const database = firebase.database();

      function writeChatMessage(groupId, username, content) {
        const chatMessage = {
          username: username,
          time: Date.now(),
          content: content
        };

        database.ref("/chat/groups/" + groupId).push(chatMessage);
        client.send("/app/chat", {}, chatMessage);
      }

      connectStomp(function() {
        client.subscribe("/topic/chat/group/1", function(data) {
          console.log(data);
        });

        $("#chat-message").keydown(function(event) {
          if (event.keyCode === 13) {
            const groupId = [[${user.group_id}]];
            const username = [[${user.username}]];
            console.log(groupId, username);
            const content = $('#chat-message').val();
            // writeChatMessage(groupId, username, content);
            $('#chat-message').val('');
          }
        });
      });
    </script>
  </body>
</html>
