@import "write.css";

.issue {
  display: flex;
  margin: 0 auto;
  width: 800px;
}

.issue-main {
  margin-left: 20px;
  width: 100%;
  border: 1px solid #d1d5da;
}

.issue-title {
  background: #f6f8fa;
  padding: 10px 15px;
  color: #586069;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
}

.issue-content {
  font-size: 14px;
  line-height: 21px;
  color: #24292e;
  padding: 15px;
}

.issue-content * {
  all: unset;
}

.author-badge {
  float: right;
  border: 1px solid rgba(27, 31, 35, .1);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}

.timeline {
  border: 0.5px solid #d1d5da;
  height: 30px;
  width: 1px;
  margin-left: 30%;
  margin-right: 70%;
}

.page-title {
  display: flex;
  width: 800px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #d1d5da;
  margin-bottom: 30px;
}

.title {
  border: none;
  margin-bottom: 0;
}

.issue-info {
  font-size: 14px;
  color: #24292e;
}

.button-wrapper {
  margin-left: auto;
}