body{
  font-family: 'Nanum Gothic';
}

.new-issue {
  display: flex;
  margin: 0 auto;
}

.profile-photo {
  width: 44px;
  height: 44px;
  border-radius: 3px;
}

.write-form {
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 17px;
  margin-left: 20px;
}

#title {
  background: #FAFBFC;
  border: 1px solid #D1D5Da;
  border-radius: 3px;
  font-size: 16px;
  padding: 4px 10px;
  width: 100%;
}

#title::placeholder {
  color: #c6cacf;
}

.title {
  border-bottom: 1px solid #d1d5da;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.note-editable {
  background: #FAFBFC !important;
}

.form-footer {
  margin-top: 10px;
  text-align: right;
}

#feedback {
  font-size: 1.4em;
}

#selectable .ui-selecting {
  background: #EEEEEE;
}

#selectable .ui-selected {
  background: #2D3E50;
  color: white;
}

#selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

#selectable li {
  margin: 1px;
  padding: 0.3em;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

#tagWrapper {
  margin: 1px;
  padding: 0.4em;
  font-size: 16px;
  display: table;
  cursor: pointer;
  border-radius: 5px;
  background-color: #EEEEEE; !important;
  margin-right: 4px;
}

#select-result {
  display:none 
}