@charset "UTF-8";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper>div {
  margin: auto;
  width: 100%;
}

#submit-buttons {
  text-align: right;
}

#title {
  margin: 20px auto;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
}

.homework-container {
  display: flex;
  width: 80%;
  margin: 8px auto;
  font-size: 14px;
}

.homework-submit-container, .contents {
  display: flex;
}

.homework-submit-container {
  width: 80%;
  margin: auto;
}

.homework-submit-container form {
  width: 100%;
}

.homework-content {
  width: 80%;
  height: 100px;
  margin: 13px auto;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 14px;
}

.hw-title {
  width: 100px;
  border: 1px solid #F29C20;
  border-radius: 3px;
  margin: 0 7px 0 0;
  padding: 5px 10px;
  text-align: center;
}

.sm-title {
  flex-basis: 15%;
  border: 1px solid #ebeced;
  border-radius: 3px;
  margin: 0 7px;
  background-color: #ebeced;
  padding: 5px 10px;
  text-align: center;
}

.homework-title {
  flex: 1;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 20px;
}

.homework-startDate {
  flex: 1;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 20px;
  margin-right: 5px;
}

.homework-endDate {
  flex: 1;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 20px;
}

.ppt-upload-text, .source-upload-text {
  width: 100px;
  font-size: 15px;
  line-height: 35px;
}

.ppt-upload-input {
  margin-right: 25px;
}

.ppt-upload-input label, .source-upload-input label {
  display: inline-block;
  padding: 6px 10px;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #5cb85c;
  cursor: pointer;
  border: 1px solid #4cae4c;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.ppt-upload-input label:hover, .source-upload-input label:hover {
  background-color: #6ed36e;
}

.ppt-upload-input label:active, .source-upload-input label:active {
  background-color: #367c36;
}

input[type="file"] {
  display: none;
}

.reply-container {  
  width: 80%;
  margin: auto;
}

.reply-title {
  width: 80%;
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: bold;
}

.relpy-article {
  display: flex;
  width: 100%;
}

.reply-group {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 15px;
  text-align: center;
  padding: 5px 10px;
}

.reply-files {
  width: 60%;
  display: flex;
}

.reply-files, .pptFile {
  flex: 1;
  word-break: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reply-files, .pptFile, .link {
  margin-left: 3px;
  color: #292929;
}

.link {
  line-height: 33px;
}

.link:hover {
  text-decoration: underline;
}

.pptFile i {
  color: #F29C20;
}

.reply-files, .sourceFile {
  margin-left: 3px;
  flex: 1;
}

.relpy-name {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 15%;
}

.relpy-writeDate {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 13%;
}

.reply-update-button {
  text-align: center;
  width: 5%;
}

#reply-delete-button {
  cursor: pointer;
}

.button-wrapper {
  margin: 10px auto 20px;
  width: 80%;
  text-align: right;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 20px;
}

.none-reply-container {
  padding: 50px 280px;
  font-size: 14px;
}

.contents label {
  margin: none !important;
  background-color: #2D3E50;
  border: 1px #2D3E50 solid;
  font-size: 14px;
}

.btn {
  font-size: 14px;
}

.contents label:hover {
  background-color: #212529;
  border: 1px #212529 solid;
}

#homework-submit-button {
  padding: 5px 10px;
  line-height: 14px;
  height: 30px !important;
  margin-left: auto;
}

.contents {
  margin: 0 auto 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
}

.homework-submit-title {
  width: 80%;
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: bold;
}

.toForm {
  margin-left: 20px;
  font-weight: bold;
}

.my-comment-name {
  cursor: default;
}

.messageForm:focus {
  outline-color: #F39B10;
}

.messageTitle {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.messageHeader {
  height: 40px;
}

.reply-name-cursor {
  cursor:pointer;
}

.modal-body {
  height: 200px;
  width: 500px;
}

.messageForm {
  width: 100%;
  height: 100%;
  resize: none;
}

.writerReceiverId {
  display:none;
}