@charset "UTF-8";

.board-main-title {
  margin: 30px 0 20px 150px;
  font-size: 32px;
  display: flex;
  width: 83%;
}

.board-topnav {
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #a6a6a6;
}

.board-content {
  margin: 0 auto;
  padding: 7px 0;
  board-bottom: 1px solid #a6a6a6;
}

.board-topnav {
  display: flex;
}

.board-writer, .board-write-time, .board-count {
  flex: 0.15 0.15 0;
  font-weight: 700;
  text-align: center;
}

.board-title {
  flex: 1 1 0;
  max-width: 550px;
  text-align: center;
  font-weight: 700;
}

.board-content {
  display: flex;
}

.writer, .write-time, .write-count {
  flex: 0.15 0.15 0;
  text-align: center;
}

.article-title {
  flex: 1 1 0;
  text-align: center;
  max-width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-title span {
  display: inline;
}

.comment-size {
  font-size: 13px;
  color: #F29C10;
}

.board-content {
  border-bottom: 1px solid #E5E5E5;
}

.board {
  margin: 30px 100px;
  width: 80%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

a {
  color: inherit;
}

.article:hover .board-content {
  background: #eeeeee;
}

.board-search {
  font-size: 17px;
  margin-left: auto;
  height: 31px;
  margin-top: 1;
}

.inputtext {
  font-size: 17px;
}

.search-item {
  margin-left: auto;
  margin-right: 13%;
}

.page-btns {
  margin: auto;
}

.write-btns {
  margin-right: 17%;
}

.btn.btn-primary.paging {
  background-color: white;
  color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}

.btn.btn-primary.paging.active {
  background-color: #EA8A02;
  border: 2px #EA8A02 solid;
  font-weight: bold;
}