@charset "UTF-8";

body {
  font-family: 'Nanum Gothic';
}

.board-main-title {
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
  width: 80%;
}

.board-topnav {
  border-bottom: 1px solid #a6a6a6;
  font-familly: 'Nanum Gothic';
  font-size: 14px;
}

.board-content {
  margin: 0 auto;
  padding: 7px 0;
  board-bottom: 1px solid #a6a6a6;
  font-familly: 'Nanum Gothic';
  font-size: 14px;
}

.board-topnav {
  display: flex;
}

.board-writer, .board-write-time, .board-count {
  flex: 0.15 0.15 0;
  font-weight: 700;
  text-align: center;
}

.board-title {
  flex: 1 1 0;
  max-width: 550px;
  text-align: center;
  font-weight: 700;
}

.board-content {
  display: flex;
}

.writer, .write-time, .write-count {
  flex: 0.15 0.15 0;
  text-align: center;
}

.article-title {
  flex: 1 1 0;
  text-align: center;
  max-width: 550px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-title span {
  display: inline;
}

.comment-size {
  font-size: 13px;
  color: #F29C10;
}

.board-content {
  border-bottom: 1px solid #E5E5E5;
}

.board {
  margin: 0 auto 30px;
  width: 80%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

a {
  color: inherit;
}

.article:hover .board-content {
  background: #f7f7f7;
}

.board-search {
  font-size: 17px;
  margin-left: auto;
  height: 31px;
  margin-top: 1;
}

.inputtext {
  font-size: 17px;
}

.search-item {
  margin-left: auto;
}

.page-btns {
  margin: auto;
}

.write-btns {
  margin-right: 17%;
}

.btn.btn-primary.paging {
  background-color: white !important;
  color: #EA8A02 !important;
  border: 2px #EA8A02 solid !important;
  font-weight: bold;
}

.btn {
  font-size: 14px;
  margin-top: -5px;
}

.btn.btn-primary.paging.active{
  color:white !important;
  background-color:#EA8A02 !important;
  margin:5px;
}

#boardSearch {
  font-size: 14px;
  height: 33px;
  padding: 0 3px;
}