@charset "UTF-8";

body {
  font-family: 'Nanum Gothic' ;
}

#title {
  margin: 10px 20px 20px 140px;
  font-size: 18px;
  font-weight: bold;
}

.form-edit {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.hw-title {
  flex-basis: 15%;
  border: 1px solid #ebeced;
  border-radius: 3px;
  margin: 0 7px;
  background-color: #ebeced;
  padding: 5px 10px;
  text-align: center;
}

.hw-input {
  flex-basis: 35%;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 20px;
}

.hw-input-title {
  flex-basis: 85%;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 20px;
}

.homework-container {
  display: flex;
  width: 70%;
  margin: 8px 150px;
}

.homework-content {
  width: 70%;
  margin: 20px 150px;
}

#buttons {
  text-align: right;
  margin-right: 20%;
  margin-bottom: 60px;
}

.btn {
  font-size: 14px;
}