<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/myclass/project/main.css}" />
<link rel="stylesheet" th:href="@{/css/myclass/nav.css}" />
<link rel="stylesheet" th:href="@{/css/myclass/calendar-modal.css}" />
<link rel="stylesheet"
  th:href="@{/css/myclass/project/timeline.min.css}" />
<link
  href=/resources/dist/static/css/app.fdb6c9691f4d0733a4c1b430b105ca1e.css
  rel=stylesheet>
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->
  <div class="main" th:fragment="main">
   <div class="spinner-border text-warning spin-where"
          role="status" id="spinner">
          <span class="sr-only">Loading...</span>
        </div>
    <div th:replace="myclass/nav :: project-nav(main)"></div>
    <div class="row">
      <div class="top-row">
        <div class="card links">
          <h3 class="card-title">링크</h3>
          <div class="project-link">
            <button class="edit-link">
              <i class="fas fa-pen-square fa-2x"></i>
            </button>
            <i class="fab fa-github fa-2x"></i> <a class="link-address"
              href="#">github.com/project</a>
          </div>
          <div class="project-link">
            <i class="fab fa-google-drive fa-2x"></i> <a
              class="link-address" href="#">drive.google.com/project</a>
          </div>
          <div class="project-link">
            <i class="fas fa-inbox fa-2x"></i> <a class="link-address"
              href="#">project@gmail.com</a>
          </div>
        </div>
        <div class="card checklist">
          <h3 class="card-title">체크리스트</h3>
          <button class="edit-checklist" id="button-checklist"
            data-toggle="modal" data-target="#modal-checklist">
            <i class="fas fa-pen-square fa-2x"></i>
          </button>
          <div class="checklist-item" th:each="check:${checklist}">
            <input type="checkbox" name="" th:id="${check.id}" th:checked="${check.checked}==1 ? 'checked'" /> 
            <label class="checkbox" th:for="${check.id}">
              <i class="fas fa-check-square"></i> <span
              class="item-description" th:text="${check.content}"></span>
            </label>
          </div>

        </div>
        <div class="card recent-issues">
          <div class="issue">
            <div class="closed">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="issue-title">
              <h3>오늘 저녁은 배가 고프다</h3>
            </div>
            <div class="issue-tags">
              <span class="tag">DB</span> <span class="tag">Java</span>
            </div>
            <div class="issue-info">
              <p class="issue-writer">윤종석</p>
            </div>
          </div>
          <div class="issue">
            <div class="closed">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="issue-title">
              <h3>오늘 저녁은 배가 고프다</h3>
            </div>
            <div class="issue-tags">
              <span class="tag">DB</span> <span class="tag">Java</span>
            </div>
            <div class="issue-info">
              <p class="issue-writer">윤종석</p>
            </div>
          </div>
          <div class="issue">
            <div class="closed">
              <i class="fas fa-check-circle"></i>
            </div>
            <div class="issue-title">
              <h3>오늘 저녁은 배가 고프다</h3>
            </div>
            <div class="issue-tags">
              <span class="tag">DB</span> <span class="tag">Java</span>
            </div>
            <div class="issue-info">
              <p class="issue-writer">윤종석</p>
            </div>
          </div>
          <div class="issue">
            <div class="closed">
              <i class="fas fa-check-circle"></i>
            </div>
            <div class="issue-title">
              <h3>오늘 저녁은 배가 고프다</h3>
            </div>
            <div class="issue-tags">
              <span class="tag">DB</span> <span class="tag">Java</span>
            </div>
            <div class="issue-info">
              <p class="issue-writer">윤종석</p>
            </div>
          </div>
          <div class="issue">
            <div class="closed">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="issue-title">
              <h3>오늘 저녁은 배가 고프다</h3>
            </div>
            <div class="issue-tags">
              <span class="tag">DB</span> <span class="tag">Java</span>
            </div>
            <div class="issue-info">
              <p class="issue-writer">윤종석</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card timeline">
        <div class="timeline__wrap">
          <div class="timeline__items" id="timeline__items">
            <div class="timeline__item" th:each="timeline:${timelineList}">
              <div class="timeline__content">
                <div class="timeline__title" th:text="${timeline.title}">1</div>
                <div class="timeline-content" th:text="${timeline.content}">asdasdsdsdasdas</div>
                <div class="timeline__writer__info">
                <span class="timeline__writer" th:text='${timeline.writer.name}'></span> 
                <span class="timeline__date" th:text="${timeline.event_date}"></span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="calendar" class="card"></div>
    </div>
    <div class="modal fade" id="modal-checklist" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">체크리스트</h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="app"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-dismiss="modal" th:onclick="location.href='/myclass/project?group_id=[[${group.id}]]'">저장</button>
          </div>
        </div>
      </div>
    </div>
    <div id="new-schedule-modal" class="modal fade bd-example-modal-sm"
      tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <h6 class="modal-title">일정 추가</h6>
          <form id="new-schedule" class="schedule-form" method="post">
            <label for="new-title">이름: </label> <input type="text"
              name="title" id="new-title" /> <label for="new-start">시작:
            </label> <input type="date" name="start" id="new-start" readonly />
            <label for="new-end">종료: </label> <input type="date"
              id="new-end-display" readonly />
            <div class="calendar-color">
              <label>색상: </label>
              <div class="color red active-color"></div>
              <div class="color coral"></div>
              <div class="color orange"></div>
              <div class="color green"></div>
              <div class="color blue"></div>
              <div class="color indigo"></div>
              <div class="color purple"></div>
            </div>
            <input type="hidden" value="#FF3B30" name="color" /> <input
              type="hidden" name="end" id="new-end" /> <input
              type="hidden" name="group_id" th:value="${group.id}" />
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
              data-dismiss="modal">취소</button>
            <button id="submit-new-schedule" type="button"
              class="btn btn-primary btn-sm">
              생성</button>
          </div>
        </div>
      </div>
    </div>
    <div id="schedule-modal" class="modal fade bd-example-modal-sm"
      tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
          <h6 class="modal-title">일정 변경</h6>
          <form id="schedule" class="schedule-form" method="post">
            <label for="title">이름: </label> <input type="text"
              name="title" id="title" /> <label for="start">시작:
            </label> <input type="date" name="start" id="start" readonly /> <label
              for="new-end">종료: </label> <input type="date"
              id="end-display" readonly />
            <div class="calendar-color">
              <label>색상: </label>
              <div class="color red active-color"></div>
              <div class="color coral"></div>
              <div class="color orange"></div>
              <div class="color green"></div>
              <div class="color blue"></div>
              <div class="color indigo"></div>
              <div class="color purple"></div>
            </div>
            <input type="hidden" value="rgb(255, 59, 48)" name="color" />
            <input type="hidden" name="end" id="end" /> <input
              type="hidden" name="id" id="id" /> <input type="hidden"
              name="group_id" th:value="${group.id}" />
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm"
              data-dismiss="modal">취소</button>
            <button id="delete" class="btn btn-danger btn-sm">
              삭제</button>
            <button id="submit-schedule" type="button"
              class="btn btn-primary btn-sm">
              변경</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/js/timeline.js}"></script>
  <script th:inline="javascript">
  $(document).ready(function() {
    $("#spinner").hide();
  }).ajaxStart(function() {
    $("#spinner").show();
  }).ajaxStop(function() {
    $("#spinner").hide();
  });
  	  var checklist = [[${checklist}]];
  	  
  	  
      function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex
            .exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(
            /\+/g, " "));
      }
      $(".timeline").timeline({
        forceVerticalMode : 700,
        mode : "horizontal",
        visibleItems : [[${timelineList.size()}]] < 4 ? [[${timelineList.size()}]] : 4
      });
      
      function formatDate(date) {
        const dateStr = `${date.getFullYear()}-${
          date.getMonth() + 1 >= 10
            ? date.getMonth() + 1
            : "0" + (date.getMonth() + 1)
        }-${date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()}`;
        return dateStr;
      }
      
      const calendarEl = document.getElementById("calendar");
      let calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ["dayGrid", "interaction"],
        defaultView: "dayGridMonth",
        locale: "ko",
        columnHeaderFormat: {
          weekday: "short"
        },
        header: {
          left: "title",
          center: "",
          right: "today prev,next"
        },
        displayEventTime: false,
        eventTextColor: "white",
        eventLimit: 5,
        eventSources:[
          {
            url: "/myclass/schedule/get/group",
            method: "POST",            
            extraParams: {
              course_id: [[${user.course_id}]],
              group_id: [[${group.id}]]
            },
            eventDataTransform: function(data) {              
              const start = new Date(data.start);
              const end = new Date(data.end);
              const startStr = formatDate(start);
              const endStr = formatDate(end);
              data.start = startStr;
              data.end = endStr
              return data;
            },
            editable: true
          },
          {
            url: "/myclass/schedule/get/class",
            method: "POST",            
            extraParams: {
              course_id: [[${user.course_id}]],
              group_id: [[${group.id}]]
            },
            eventDataTransform: function(data) {              
              const start = new Date(data.start);
              const end = new Date(data.end);
              const startStr = formatDate(start);
              const endStr = formatDate(end);
              data.start = startStr;
              data.end = endStr;
              return data;
            },
            classNames: "disabled",
            editable: false,
            selectable: false
          }
        ]
      });
      
      calendar.render();
      $('#button-checklist').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
      })
      
      $('.checkbox').click(function(event){
        const id = $(this).prop("for");
        
        $.ajax({
          url:'/axios/checkUpdate',
          data : { 
            id:id,
            group_id:[[${group.id}]]
            },
          method: 'post',

        })
      })
    </script>
  <script type=text/javascript
    src=/resources/dist/static/js/manifest.d2e3a334bc98c3b96650.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/vendor.71750e988b55e9735a64.js></script>
  <script type=text/javascript
    src=/resources/dist/static/js/app.1559d8d20ccaa816138e.js></script>
  <script th:src="@{/js/calendar-interaction.js}"></script>
</body>
</html>
