<?xml version="1.0" encoding="UTF-8"?>
<!-- /*
*
* @date: 2019. 06. 21.
*
* @author: 권예지
*
* @description: ArticleDaMapper로 DAO의 parameter에 들어갈 값을 매핑해서 쿼리문을 보낸다
* 
*/ -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.bit.dao.ArticleDao">
  <select id="selectAllArticleByBoardId" resultType="kr.or.bit.model.Article">     
	SELECT id, title, content, time, view_count, original_id, level, username, board_id
	FROM ARTICLE 
	WHERE BOARD_ID=#{board_id}
  </select> 
  <insert id="insertArticle">
 	INSERT INTO article(original_id, time, updated_time, title, content, username, board_id)
 	VALUES (#{id}, now(), now(), #{title}, #{content}, #{username}, #{board_id})
  </insert>
  <delete id="deleteArticle">
    DELETE FROM article 
    WHERE id=#{id}
  </delete>
  <update id="updateArticle" parameterType="kr.or.bit.model.Article">
    UPDATE article
    set updated_time=now(),
    title=#{title},
    content=#{content}
    WHERE id=#{id}
  </update>
</mapper>
<!--  
 public interface ArticleDao {
  void insertArticle(Article article);
 
  void updateArticle(Article article);

  void deleteArticle(int id);

  List<Article> selectAllArticle(int board_id);
}
  -->
 