<?xml version="1.0" encoding="UTF-8"?>
<!-- /*
*
* @date: 2019. 06. 21.
*
* @author: 권예지
* 
*/ -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.bit.dao.BoardDao">
<!--   <insert id="write">
    INSERT INTO BOARD (title, content, writer)
    VALUES (#{title}, #{content}, #{writer})
  </insert>
  <select id="getList" resultType="kr.or.bit.model.Board">
    SELECT id, title, content, writer
    FROM BOARD
  </select>
  <select id="getBoard" resultType="kr.or.bit.model.Board">
    SELECT id, title, content, writer
    FROM BOARD
    WHERE id = #{id}
  </select> -->
  <update id="updateBoard" parameterType="kr.or.bit.model.Board">
    update board 
    set board_name=#{board_name},
    boardtype=#{boardtype},
    course_id=#{course_id}
    where id=#{id}
  </update>
  <select id="selectMyClassBoard" resultType="kr.or.bit.model.Board">
    SELECT id, board_name, boardtype, course_id
    FROM BOARD
    WHERE course_id = #{course_id}
  </select>
  
  <select id="selectBoardByCourseId" resultType="kr.or.bit.model.Board">
  	SELECT ID, BOARD_NAME, BOARDTYPE, COURSE_ID
  	FROM BOARD
  	WHERE COURSE_ID=#{course_id} AND BOARDTYPE=#{boardtype};
  </select>
  <select id="selectBoardById">
    SELECT id, board_name, boardtype, course_id
    FROM BOARD
    WHERE id = #{board_id}
  </select>
</mapper>  







  