<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.bit.dao.CategoryDao">
  <select id="selectCategoryByCourseid" 
    resultType="kr.or.bit.model.Category">
    select * 
    from category
    where course_id= #{course_id};
  </select>
  
  <!--   void insertCategory(Category category); -->
  
  <insert id="insertCategory" useGeneratedKeys="true" keyProperty="id">
    insert into category(category, course_id)
    values(#{category},#{course_id});
  </insert>
  
</mapper>  







  