<?xml version="1.0" encoding="UTF-8"?>
<!-- /* * * @date: 2019. 06. 21. * * @author: 권예지 * */ -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- /* * * @date: 2019. 06. 24. * * @author: 권예지 * */ -->
<mapper namespace="kr.or.bit.dao.CommentDao">
	<select id="selectAllComment"
		resultType="kr.or.bit.model.Comment">
		SELECT c.id as id, content, time, updated_time, article_id,
		c.username as username, m.profile_photo as profile_photo
		FROM comment
		as c
		LEFT JOIN member as m
		on c.username=m.username
		WHERE
		article_id=#{article_id}
	</select>
	<select id="selectComment" resultType="kr.or.bit.model.Comment">
		SELECT c.id as id,
		content, time, updated_time, article_id, c.username as username
		FROM
		comment as c
		LEFT JOIN comment_vote as v
		ON c.id = v.comment_id
		WHERE
		article_id=#{article_id} and id=#{id}
	</select>
	<select id="selectOneComment"
		resultType="kr.or.bit.model.Comment">
		SELECT id, content, time, updated_time, article_id,
		username
		FROM comment
		WHERE id=#{id}
	</select>
	<insert id="insertComment">
		INSERT INTO comment(content, time, updated_time,
		article_id, username)
		VALUES (#{content}, now(), now(), #{article_id},
		#{username})
	</insert>
	<delete id="deleteComment">
		DELETE FROM comment
		WHERE id=#{id}
	</delete>
	<update id="updateComment"
		parameterType="kr.or.bit.model.Comment">
		UPDATE comment
		SET updated_time=now(),
		CONTENT=#{content}
		WHERE id=#{id}
	</update>
	<insert id="insertVote">
		INSERT INTO comment_vote(username, comment_id)
		VALUES
		(#{username}, #{id})
	</insert>
	<delete id="deleteVote">
		DELETE FROM comment_vote
		WHERE id=#{id} and
		username=#{username}
	</delete>
	<select id="countVote" resultType="kr.or.bit.model.CommentVote">
		SELECT count(comment_id) from
		comment_vote where comment_id=#{id}
	</select>
	<select id="selectAllCommentByUsername"
		resultType="kr.or.bit.model.Comment">
		SELECT *
		FROM comment
		WHERE username = #{username}
	</select>
</mapper>