<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- /*
*
* @date: 2019. 06. 24.
*
* @author: 권예지
* 
*/ -->
<mapper namespace="kr.or.bit.dao.CommentDao">
  <select id="selectAllComment" resultType="kr.or.bit.model.Comment">     
	select * 
	from comment where article_id=#{article_id}
  </select> 
  <insert id="insertComment">
 	insert into comment(content, time, updated_time, article_id, username)
 	values (#{content}, now(), now(), #{article_id}, #{username})
  </insert>
  <delete id="deleteComment">
    delete comment where id=#{id}
  </delete>
  <update id="updateComment" parameterType="kr.or.bit.model.Comment">
    update comment
    set updated_time=now(),
    content=#{content}
    where id=#{id}
  </update>
  
  <insert id="insertVote">
    insert into vote(username, comment_id)
    values (#{username}, #{comment_id})
  </insert>
   <delete id="deleteVote">
    delete vote where id=#{id}
  </delete>
</mapper>