<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- /*
*
* @date: 2019. 06. 24.
*
* @author: 권예지
* 
*/ -->
<mapper namespace="kr.or.bit.dao.CourseDao">
  <select id="selectAllCourse" resultType="kr.or.bit.model.Course">     
	SELECT id, course_name, start_date, end_date, subject, classroom_id, cl.classroom_name, s.subject
	FROM course as c
	left join classroom as cl
	on c.classroom_id = cl.id
	left join subject as s
	on c.subject = s.id
	order by id asc
	
  </select> 
  <insert id="insertCourse">
 	INSERT INTO course(course_name, start_date, end_date, subject, classroom_id)
 	VALUES (#{course_name}, #{start_date}, #{end_date}, #{subject}, #{classroom_id})
  </insert>
  <delete id="deleteCourse">
    DELETE FROM course 
    WHERE id=#{id}
  </delete>
  <update id="updateCourse" parameterType="kr.or.bit.model.Course">
    UPDATE course
    SET course_name=#{course_name},
    start_date=#{start_date},
    end_date=#{end_date},
    subject=#{subject},
    classroom_id=#{classroom_id}
    WHERE id=#{id}
  </update>
</mapper>
  