<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  void insertFiles(Files files);
  
  void updateFiles(Files files);
  
  void deleteFiles(int id);
  
  int selectFilesByFilename(String originalName);
 -->
 
<mapper namespace="kr.or.bit.dao.FilesDao">
  <select id="selectFilesById">
    SELECT id, filename, original_filename
    FROM files
    WHERE id = #{id}
  </select>
  <insert id="insertFiles">
    insert into files(original_filename, filename)
    values(#{original_filename}, #{filename})
  </insert>
  <update id="updateFiles">
    update files
    set original_filename =#{original_filename}, filename=#{filename}
    where id=#{id}    
  </update>
  <delete id="deleteFiles">
    delete from files 
    where id=#{id}
  </delete>
  <select id="selectFilesByFilename" resultType="Integer">
    select id
    from files
    where filename=#{filename}
  </select>
</mapper>

