<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
  void insertGeneral(ArticleOption general);
  
  void updateGeneral(String filename);
  
  General selectGeneralByArticleId(int articleid);
 -->

<!-- 작업자: 권순조 -->

<mapper namespace="kr.or.bit.dao.GeneralDao">
	
  <insert id="insertGeneral">
  	insert into general(file1, file2, article_id)
	values (#{file1},#{file2},#{article_id})
  </insert>
  
  <update id="updateGeneral">
	update general
	set file = #{file1}
	where id=0;
  </update>
  
  <select id="selectGeneralByArticleId">
	select id, file1, file2, article_id
	from general
	where article_id=#{article_id}
  </select>
  
</mapper>