<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
  void insertHomework(Homework homework);
  
  void updateHomework(String filename);
  
  Homework selectHomeworkByArticleId(int article_id);
  Homework selectHomeworkByArticleId(int article_id);
 -->
<mapper namespace="kr.or.bit.dao.HomeworkDao">
	
  <insert id="insertHomework">
  	insert into homework(end_date, file1, file2, article_id)
	values (now(),#{file1},#{file2},#{article_id})
  </insert>
  
  <update id="updateHomework">
  	{call CHANGE("troubleshooting", ${id})}
  </update>
  
  <select id="selectHomeworkByArticleId">
  	select id, end_date, file1, file2, article_id
	from homework
	where article_id=#{article_id}
  </select>
  
</mapper>