<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit.dao.NotificationDao">
  <select id="insertNotification">
    INSERT INTO notification (content, checked,
    username, link, title)
    VALUES(#{content}, 0, #{username}, #{link}, #{title})
  </select>
  <update id="checkAllNotification">
    UPDATE notification
    SET checked = 1
    WHERE username = #{username}
  </update>
  <delete id="deleteNotification">
    DELETE
    FROM notification
    WHERE id = #{id}
  </delete>
  <select id="selectAllNotification"
    resultType="kr.or.bit.model.Notification">
    SELECT id, content, checked, username, link, title
    FROM notification
    WHERE username = #{username}
    ORDER BY id DESC
    LIMIT 20
  </select>
  <select id="selectAllNewNotification"
    resultType="kr.or.bit.model.Notification">
    SELECT id, content, checked, username, link, title
    FROM notification
    WHERE username = #{username} AND checked = 0
    ORDER BY id DESC
  </select>
  <select id="selectAllOldNotification"
    resultType="kr.or.bit.model.Notification">
    SELECT id, content, checked, username, link, title
    FROM notification
    WHERE username = #{username} AND checked = 1
    ORDER BY id DESC
  </select>
</mapper>
  