<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="dao.NotificationDao">

	<select id="insertNotification">
		INSERT INTO notification (content, checked, username)
		VALUES(#{content}, #{checked}, #{username})
	</select>

	<update id="updateNotification">
		UPDATE notification
		SET checked = 1
		WHERE id = #{id}
	</update>


	<delete id="deleteNotification">
		DELETE
		FROM notification
		WHERE id = #{id}
	</delete>

	<select id="selectAllNotification">
		SELECT id, content, checked, username
		FROM notification
		WHERE username = #{username}
	</select>

	<select id="selectAllNewNotification">

	</select>

	<select id="selectAllOldNotification">

	</select>




</mapper>
  