<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- void insertQna(int articleid); void updateQnaByAnswered(String qna, 
	int id); void updateQnaByTeacherAnswered(String qnat, int id); void selectQnaByArticleId(int 
	id); -->
<!-- 작업자: 권순조 -->
<mapper namespace="kr.or.bit.dao.QnaDao">
	<insert id="insertQna">
		insert into QNA(article_id)
		values (#{article_id})
	</insert>
	<update id="updateQnaByAnswered">
		{call CHANGE("QNA", #{id})}
	</update>
	<update id="updateQnaByTeacherAnswered">
		{call CHANGE("QNA", #{id})}
	</update>
	<select id="selectQnaByArticleId"
		resultType="kr.or.bit.model.Qna">
		SELECT id, article_id, adopted_answer
		FROM qna
		WHERE article_id=#{article_id}
	</select>
	<update id="chooseAnswer" parameterType="kr.or.bit.model.Qna">
		UPDATE qna
		SET adopted_answer=#{comment_id}
		WHERE article_id=#{article_id}
	</update>
</mapper>