<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.bit.dao.TimelineDao">
	<select id="selectTimelineByGroupId" resultType = "kr.or.bit.model.Timeline">
		SELECT ID, TITLE, CONTENT, EVENT_DATE, GROUP_ID , USERNAME
		FROM TIMELINE
		WHERE GROUP_ID = #{group_id}
	</select>

	<insert id="insertTimeline">
		INSERT INTO TIMELINE(TITLE, CONTENT, EVENT_DATE, GROUP_ID, USERNAME)
		VALUES(#{title}, #{content}, now(), #{group_id}, #{username}) 
	</insert>
	
</mapper>