<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  void insertTroubleShooting(ArticleOption troubleshooting);
  
  void updateTroubleShootingByIssueClosed(int issueclosed);
  
  void selectTroubleShootingByArticleId(int articleid);
 -->

 <mapper namespace="kr.or.bit.TroubleShooting">
  <insert id="insertTroubleShooting">
  	insert into TroubleShooting(Article_id, Group_id)
	values (#{article_id}, #{group_id})
  </insert>
  <update id="updateVideo">
	{call CHANGESTATUS("troubleshooting",#{article_id})}
  </update>
  <select id="selectTroubleShootingByArticleId" resultType="kr.or.bit.model.Video">
  	select id, video_id article_id 
  	from video 
  	where article_id=${article_id};
  </select>
 </mapper>