<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.bit.dao.TroubleShootingDao">
  <insert id="insertTroubleShooting">
    insert into TroubleShooting(article_id, group_id)
    values (#{article_id}, #{group_id})
  </insert>
  <update id="changeTroubleShootingStatus">
    {call CHANGESTATUS("TROUBLESHOOTING",#{id})}
  </update>
  <select id="selectTroubleShootingByArticleId"
    resultType="kr.or.bit.model.TroubleShooting">
    select id, issue_closed, article_id, group_id
    from troubleshooting
    where article_id = #{article_id}
  </select>
</mapper>