<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  th:replace="fragments/layout :: layout(~{:: main}, ~{:: script}, ~{:: link})">
<head>
<!-- 이 페이지에서만 별도로 사용하는 CSS가 있다면 여기다 link 태그로 삽입 -->
<link rel="stylesheet" th:href="@{/css/myclass/create/main.css}" />
</head>
<body>
  <!-- 이 페이지의 내용은 main 클래스 div 태그 안에 작성 -->

  <div class="main" th:fragment="main">
    <div class="content-wrapper">
      <div class="page-title-wrapper">
        <span class="page-title">프로젝트 생성하기</span>
      </div>
      <hr>
      <div class="inner wrapper project-name-wrapper">
        <span class="project-name-text">프로젝트 이름 : </span> <span
          class="project-name-input"><input type="text"
          class="project-name"></span>
      </div>
      <div class="inner wrapper group-count-wrapper">
        <span class="group-count-text">조 개수 : </span> <span
          class="select-group-count"><input type="number"
          value="1" class="group-count"></span>
      </div>
      <div class="inner wrapper project-term-wrapper">
        <div class="project-term-text">프로젝트 기간</div>
        <span class="project-term-start-day-text">시작일</span> <span
          class="select-project-term-start-day"><input
          type="date" class="select-start-date"></span> ~ <span
          class="project-term-end-day-text">종료일</span> <span
          class="select-project-term-end-day"><input type="date"
          class="select-end-date"></span>
      </div>
      <div>
        <div class="row">
          <div class="class-member-list">
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
            <div class="class-member">복다빈</div>
            <div class="class-member">권순조</div>
          </div>
          <div class="class-member-list class-group-list">
            <div>
              <div class="class-group">1조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
            </div>
            <div>
              <div class="class-group">2조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
            </div>
            <div>
              <div class="class-group">3조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
            </div>
            <div>
              <div class="class-group">4조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
              <div class="class-member">권순조</div>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <button class="btn btn-warning btn-sm">d</button>
          <button class="btn btn-warning btn-sm">d</button>
        </div>
      </div>
    </div>


  </div>
  <script>
    </script>

</body>
</html>
