body {
  background: #F2F4F7;
}

.active-list {
  border-bottom: 1px solid #F2F4F7 !important;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 25px;
}

.top-row {
  margin: 0 auto;
  display: flex;
  max-height: 38vh;
}

.links, .checklist {
  width: 250px;
  padding: 10px 20px;
  margin-right: 20px;
}

.edit-link, .edit-checklist {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #F39C20;
}

.project-link {
  padding: 10px 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

.link-address {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
  line-height: 30px;
}

.checklist-item {
  padding: 10px 10px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  display: block;
}

input[type=checkbox]+label:active {
  display: block;
  transform: scale(0.98);
}

input[type=checkbox]+label i {
  color: #a6a6a6;
  font-size: 22px;
}

input[type=checkbox]:checked+label i {
  color: #F39C20;
}

.item-description {
  font-size: 16px;
  margin-left: 50px;
}

.timeline {
  width: 968px;
  margin: 10px auto 0;
}

.timeline--horizontal {
  padding: 20px !important;
}

#calendar {
  width: 968px;
  margin: 10px auto;
  padding: 20px;
}

#calendar h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 3px;
}

.fc-day-header {
  font-size: 15px;
  line-height: 40px;
}

.fc-day-number {
  font-size: 14px;
}

.issue {
  display: flex;
  border-bottom: 1px solid #292929;
  padding: 10.5px 35px;
}

.issue:last-child {
  border: none;
}

.issue-info * {
  margin: 0;
}

.issue-title h3 {
  margin-left: 15px;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
}

.issue-info {
  margin-left: auto;
  font-size: 14px;
}

.tag {
  background: #F39C20;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 14px;
}

.issue-tags {
  margin-left: 3px;
}

.fa-exclamation-circle {
  color: #e74c3c;
}

.fa-check-circle {
  color: #2ecc71;
}

.issue .closed svg {
  height: 27px;
  width: 27px;
}

.closed {
  margin-top: 5px;
}

.issue-writer {
  margin-left: 5px;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-border {
  width: 3rem; 
  height: 3rem;
 font-size: 300%;
}
