body {
  background: #F2F4F7;
  font-family: 'Nanum Gothic';
}

.active-list {
  border-bottom: 1px solid #F2F4F7 !important;
}

#task {
  border-radius: 3px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 25px;
  font-familly: 'Nanum Gothic' !important;
}

.card.recent-issues{
  overflow-y: scroll;
}

.top-row {
  margin: 0 auto;
  display: flex;
  max-height: 38vh;
}

.links, .checklist {
  width: 271px;
  padding: 10px 20px;
  margin-right: 20px;
  height: auto;
}

.checklist {
  overflow-y: scroll;
}

.edit-link, .edit-checklist {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #F39C20;
  background: none;
  border: none;
}

.edit-link:active i, .edit-checklist:active i {
  transform: scale(0.97);
}

.project-link {
  padding: 10px 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  overflow: hidden;
}

.link-address {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
}

.checklist-item {
  padding: 5px 5px;
  overflow: hidden;
}

.addbutton {
  border-radius: 3px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  display: block;
  height: 22px;
}

input[type=checkbox]+label:active {
  display: block;
  transform: scale(0.98);
}

input[type=checkbox]+label i {
  color: #a6a6a6;
  font-size: 22px;
}

input[type=checkbox]:checked+label i {
  color: #F39C20;
}

.item-description {
  font-size: 14px;
  margin-left: 3px;
  height: auto;
  font-weight: bold;
  font-familly: 'Nanum Gothic';
  
}

.timeline {
  width: 968px;
  margin: 10px auto 0;
}

.timeline--horizontal {
  padding: 20px !important;
}

#calendar {
  width: 968px;
  margin: 10px auto;
  padding: 20px;
}

#calendar h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 3px;
}

.fc-day-header {
  font-size: 15px;
  line-height: 40px;
}

.fc-day-number {
  font-size: 14px;
}

.issue {
  display: flex;
  border-bottom: 1px solid #292929;
  padding: 10.5px 26.5px;
}

.fa-check-square{
  font-size: 15px !important;
}

.issue:last-child {
  border: none;
}

.issue-info * {
  margin: 0;
}

.issue-title h3 {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
}

.issue-info {
  margin-left: auto;
  font-size: 14px;
}

.tag {
  background: #F39C20;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 12px;
}

.issue-tags {
  margin-left: 3px;
  max-width: 140px;
  word-break: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.fa-exclamation-circle {
  color: #e74c3c;
}

.fa-check-circle {
  color: #2ecc71;
}

.issue .closed svg {
  height: 27px;
  width: 27px;
}

.closed {
  margin-top: 5px;
}

.issue-writer {
  margin-left: 5px;
}

.spin-where {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  font-size: 300%;
}

.checkbox{
  display:inline-block;
  max-width: 190px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline__title{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  
}
.timeline-content{
  margin-top:20px;
  font-size:14px;
  text-align:center;
  line-height:1px
}
.timeline__writer{
  font-size:12px;
  font-weight:bold;
  text-align:center;
}
.timeline__date{
  font-size:11px;

}
.timeline__writer__info{
  margin-top:15px;
  text-align:center;
  line-height:5px
}
.timeline__content{
  padding-top:10px !important;
}
.noArticle{
  font-weight:bold;
  line-height:230px;
  -webkit-user-drag: none;
  user-select: none;
}

.issue-title a h3, .issue-tags, .issue-writer{
  line-height:32px;
}

label .fab, label .fas {
  font-size:22px;
}

#new-link #github-address{
  margin-left:4px;
  padding-left:3px;
}
#new-link #drive-address{
  margin-left:3px;
  padding-left:3px;
}
#new-link #inbox-address{
  padding-left:3px;
}

#new-link input{
  width:80% !important;
}
#clipboard{
  width:1px;
  height:1px;
}
.button-wrapper{
  text-align:right;
  margin-right: 9px;
}
.non-link-address{
  line-height: 30px;
  font-weight:bold;
  font-size:14px;
  -webkit-user-drag: none;
  user-select: none;
}

.links .fa-github{
  margin-right:15px;
}
.links .fa-google-drive{
  margin-right:14px;
}
.links .fa-inbox{
  margin-right:10px;
}
