body {
  background: #F2F4F7;
}

.links {
  margin: auto;
  margin-right: 50px;
}

.checklist {
    margin:auto;
    margin-left: 50px;
}

.links, .checklist {
  width: 25vw;
  height: 35vh;
  padding: 10px 20px;
}

.edit-link, .edit-checklist {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #F39C20;
}

.project-link {
    padding: 10px 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.link-address {
    display: block;
    margin-left: 15px;
    line-height: 30px;
}

.checklist-item {
  padding: 10px 10px;
}

input[type=checkbox] {
 display: none;
}

input[type=checkbox] + label {
    display: block;
}

input[type=checkbox] + label:active {
    display: block;
    transform: scale(0.98);
}

input[type=checkbox] + label svg {
   color: #a6a6a6;
   font-size: 22px;
}

input[type=checkbox]:checked + label svg {
   color: #F39C20;
}

.item-description {
  font-size: 17px;
  margin-left: 50px;
}

.timeline {
  width: 70vw;
  margin: auto;
  margin-top: 15px;
}

.timeline--horizontal {
  padding: 20px !important;
}

#calendar {
  width: 70vw;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
}

.recent-issues {
  width: 70vw;
  margin: 15px auto;
}

.issue {
  display: flex;
  border-bottom: 1px solid #292929;
  padding: 10px 10px 5px 10px;
}

.issue:last-child {
  border: none;
}

.issue-info * {
  margin: 0;
}

.issue-title h3 {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.issue-info {
  margin-left: auto;
  font-size: 14px;
}

.tag {
  background: #F39C20;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 14px;
}

.issue-tags {
  margin-left: 10px;
}

.fa-exclamation-circle {
  color: #e74c3c;
}

.fa-check-circle {
  color: #2ecc71;
}
