@charset "UTF-8";

.title{
  padding-bottom: 10px;
}


.modal-content{
  padding: 5px;
}

.modal-body{
  flex-direction: row;
}

.list-group{
  align-items: center;
}

.list-group > button {
  flex : 1;
  margin : 3px;
}

#submit-button{
  margin-left: 3px;
}

.btn-group{
  padding: 16px;
}

.list-group-item{
  position: relative;
}